<TMPL_IF openid_enabled>
    <TMPL_IF everyone_can_comment>
        <TMPL_IF is_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>
            <td align='center'><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
            <td align='left'>
                <b><label for='talkpostfromoid' onclick='handleRadios(4);return false;'>OpenID identity:</label></b>
                <strong><TMPL_VAR remote_display_name></strong>
                <TMPL_VAR ml_willscreen>
            </td>
            </tr>
        <TMPL_ELSE>
            <tr valign='middle' id='oidlo' name='oidlo'>
            <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td align='center'><input type='radio' name='usertype' value='openid' id='talkpostfromoidlo' <TMPL_IF whocheck_openid>checked='checked'</TMPL_IF> /></td>
            <td align='left' class="b-postform-td">
                <b><label for='talkpostfromoidlo' onclick='handleRadios(4);return false;'>OpenID</label></b>
                <TMPL_VAR ml_willscreen>
                <p id="oid_more" class="i-bubble b-bubble-lite b-postform-openid"><i class="i-bubble-arrow-border"></i><i class="i-bubble-arrow"></i><label for="openid:url"><TMPL_VAR expr="ml('/talkpost.bml.openid.identity.url')">&nbsp;</label><input class='textbox' name='openid:url' maxlength='60' size='42' id='openid:url' value='<TMPL_VAR openid_url_default>' /> <input type='hidden' name='oiddo_login' id='oidlogincheck' <TMPL_VAR oiddo_login_checked> /> <TMPL_VAR helpicon_openid></p>
            </td>
            </tr>
        </TMPL_IF>

    <TMPL_ELSIF registered_can_comment>
        <TMPL_IF is_trusted_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <TMPL_IF remote_banned>
                <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' /></td>
                <td align='center'>( )</td>
                <td align='left'><span class='ljdeem'><TMPL_VAR ml_loggedin></font><TMPL_VAR ml_banned></td>
            <TMPL_ELSE>
                <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>
                <td align='center'><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
                <td align='left'>
                    <b><label for='talkpostfromoid' onclick='handleRadios(4);return false;'>OpenID identity:</label></b>
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_willscreen>
                </td>
            </TMPL_IF>
            </tr>
        <TMPL_ELSE>
            <tr valign='middle'>
            <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td align='center'>(  )</td>
            <td align='left' colspan='2'>
                <font color='#c0c0c0'><b>OpenID</b></font>
                <TMPL_IF is_identity><TMPL_VAR ml_noopenidpost></TMPL_IF>
                <TMPL_VAR helpicon_openid>
            </td>
            </tr>
        </TMPL_IF>
    <TMPL_ELSIF friends_can_comment>
        <TMPL_IF is_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>

            <TMPL_IF remote_can_comment>
                <td align='center'><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
                <td align='left'>
                    <b><label for='talkpostfromoid' onclick='handleRadios(4);return false;'>OpenID identity:</label></b>
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_willscreen>
                </td>
            <TMPL_ELSE>
                <td align='center'>( )</td>
                <td align='left'>
                    <b><font color='#c0c0c0'>OpenID identity:</font></b>&nbsp;
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_notafriend>
                    <TMPL_VAR ml_willscreen>
                </td>
            </TMPL_IF>

            </tr>
        <TMPL_ELSE>
            <tr valign='middle' id='oidlo' name='oidlo'>
            <td align='center'><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td align='center'><input type='radio' name='usertype' value='openid' id='talkpostfromoidlo' <TMPL_IF whocheck_openid>checked='checked'</TMPL_IF> /></td>
            <td align='left' class="b-postform-td">
                <b><label for='talkpostfromoidlo' onclick='handleRadios(4);return false;'>OpenID</label></b>
                <TMPL_VAR ml_willscreen>
                <p id="oid_more" class="i-bubble b-bubble-lite b-postform-openid"><i class="i-bubble-arrow-border"></i><i class="i-bubble-arrow"></i><label for="openid:url"><TMPL_VAR expr="ml('/talkpost.bml.openid.identity.url')">&nbsp;</label><input class='textbox' name='openid:url' maxlength='60' size='42' id='openid:url' value='<TMPL_VAR openid_url_default>' /> <input type='hidden' name='oiddo_login' id='oidlogincheck' <TMPL_VAR oiddo_login_checked> /> <TMPL_VAR helpicon_openid></p>
            </td>
            </tr>
        </TMPL_IF>
s
    </TMPL_IF>
</TMPL_IF>

