<TMPL_IF openid_enabled>
    <TMPL_IF everyone_can_comment>
        <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
    <TMPL_ELSIF registered_can_comment>
        <TMPL_IF is_trusted_identity>
            <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
        <TMPL_ELSIF is_identity>
            <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
        <TMPL_ELSE>
            <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
        </TMPL_IF>
    <TMPL_ELSIF friends_can_comment>
        <TMPL_IF is_identity>
            <TMPL_IF remote_can_comment>
                <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
            <TMPL_ELSE>
                <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
            </TMPL_IF>
        <TMPL_ELSE>
            <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
        </TMPL_IF>
    </TMPL_IF>
</TMPL_IF>

