<TMPL_IF everyone_can_comment>
    <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif?v=3" /><span class="b-postform-login-services-name"><TMPL_IF EXPR="service_short_code eq 'mailru'"><TMPL_VAR remote_display_name><TMPL_ELSE><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></TMPL_IF></span></a></span>
<TMPL_ELSIF registered_can_comment>
    <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif?v=3" /><span class="b-postform-login-services-name"><TMPL_IF EXPR="service_short_code eq 'mailru'"><TMPL_VAR remote_display_name><TMPL_ELSE><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></TMPL_IF></span></a></span>
<TMPL_ELSIF friends_can_comment>
    <TMPL_IF is_identity>
        <TMPL_IF remote_can_comment>
            <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif?v=3" /><span class="b-postform-login-services-name"><TMPL_IF EXPR="service_short_code eq 'mailru'"><TMPL_VAR remote_display_name><TMPL_ELSE><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></TMPL_IF></span></a></span>
        <TMPL_ELSE>
            <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif?v=3" /><span class="b-postform-login-services-name"><TMPL_IF EXPR="service_short_code eq 'mailru'"><TMPL_VAR remote_display_name><TMPL_ELSE><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></TMPL_IF></span></a></span>
        </TMPL_IF>
    <TMPL_ELSE>
        <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru_cookie" tabindex="11"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif?v=3" /><span class="b-postform-login-services-name"><TMPL_IF EXPR="service_short_code eq 'mailru'"><TMPL_VAR remote_display_name><TMPL_ELSE><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></TMPL_IF></span></a></span>
    </TMPL_IF>
</TMPL_IF>
