<TMPL_IF openid_enabled>
    <TMPL_IF everyone_can_comment>
        <TMPL_IF is_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>
            <td class="b-postform-radio"><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
            <td class="b-postform-data">
                <label for='talkpostfromoid' onclick='handleRadios(4);return false;' class="i-postform-label"><b>OpenID identity:</b></label>
                <strong><TMPL_VAR remote_display_name></strong>
                <TMPL_VAR ml_willscreen>
            </td>
            </tr>
        <TMPL_ELSE>
            <tr valign='middle' id='oidlo' name='oidlo'>
            <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td class="b-postform-radio"><input type='radio' name='usertype' value='openid' id='talkpostfromoidlo' <TMPL_IF whocheck_openid>checked='checked'</TMPL_IF> /></td>
            <td class="b-postform-data">
                <label for='talkpostfromoidlo' onclick='handleRadios(4);return false;' class="i-postform-label"><b>OpenID</b></label>
                <TMPL_VAR ml_willscreen>
                <span id="oid_more" class="i-bubble b-bubble-lite b-postform-openid"><i class="i-bubble-arrow-border"></i><i class="i-bubble-arrow"></i><label for="openid:url"><TMPL_VAR expr="ml('/talkpost.bml.openid.identity.url')">&nbsp;</label><input class='textbox' name='openid:url' maxlength='60' size='42' id='openid:url' value='<TMPL_VAR openid_url_default>' /> <input type='hidden' name='oiddo_login' id='oidlogincheck' <TMPL_VAR oiddo_login_checked> /> <TMPL_VAR helpicon_openid></span>
            </td>
            </tr>
        </TMPL_IF>

    <TMPL_ELSIF registered_can_comment>
        <TMPL_IF is_trusted_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <TMPL_IF remote_banned>
                <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' /></td>
                <td class="b-postform-radio">( )</td>
                <td class="b-postform-data"><span class='ljdeem'><TMPL_VAR ml_loggedin></font><TMPL_VAR ml_banned></td>
            <TMPL_ELSE>
                <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>
                <td class="b-postform-radio"><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
                <td class="b-postform-data">
                    <label for='talkpostfromoid' onclick='handleRadios(4);return false;' class="i-postform-label"><b>OpenID identity:</b></label>
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_willscreen>
                </td>
            </TMPL_IF>
            </tr>
        <TMPL_ELSE>
            <tr valign='middle'>
            <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td class="b-postform-radio">(  )</td>
            <td class="b-postform-data" colspan='2'>
                <span class="i-postform-label i-postform-disabled"><b>OpenID</b></span>
                <TMPL_IF is_identity><TMPL_VAR ml_noopenidpost></TMPL_IF>
                <TMPL_VAR helpicon_openid>
            </td>
            </tr>
        </TMPL_IF>
    <TMPL_ELSIF friends_can_comment>
        <TMPL_IF is_identity>
            <tr valign='middle' id='oidli' name='oidli'>
            <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(4);' /></td>

            <TMPL_IF remote_can_comment>
                <td class="b-postform-radio"><input type='radio' name='usertype' value='openid_cookie' id='talkpostfromoidli' <TMPL_IF whocheck_openid_cookie>checked='checked'</TMPL_IF> /></td>
                <td class="b-postform-data">
                    <b><label for='talkpostfromoid' onclick='handleRadios(4);return false;' class="i-postform-label">OpenID identity:</label></b>
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_willscreen>
                </td>
            <TMPL_ELSE>
                <td class="b-postform-radio">( )</td>
                <td class="b-postform-data">
                    <span class="i-postform-label i-postform-disabled"><b>OpenID identity:</b></span>&nbsp;
                    <strong><TMPL_VAR remote_display_name></strong>
                    <TMPL_VAR ml_notafriend>
                    <TMPL_VAR ml_willscreen>
                </td>
            </TMPL_IF>

            </tr>
        <TMPL_ELSE>
            <tr valign='middle' id='oidlo' name='oidlo'>
            <td class="b-postform-icon"><img src='<TMPL_VAR lj_imgprefix>/openid-profile.gif' onclick='handleRadios(3);' /></td>
            <td class="b-postform-radio"><input type='radio' name='usertype' value='openid' id='talkpostfromoidlo' <TMPL_IF whocheck_openid>checked='checked'</TMPL_IF> /></td>
            <td class="b-postform-data" class="b-postform-td">
                <label for='talkpostfromoidlo' onclick='handleRadios(4);return false;' class="i-postform-label"><b>OpenID</b></label>
                <TMPL_VAR ml_willscreen>
                <span id="oid_more" class="i-bubble b-bubble-lite b-postform-openid"><i class="i-bubble-arrow-border"></i><i class="i-bubble-arrow"></i><label for="openid:url"><TMPL_VAR expr="ml('/talkpost.bml.openid.identity.url')">&nbsp;</label><input class='textbox' name='openid:url' maxlength='60' size='42' id='openid:url' value='<TMPL_VAR openid_url_default>' /> <input type='hidden' name='oiddo_login' id='oidlogincheck' <TMPL_VAR oiddo_login_checked> /> <TMPL_VAR helpicon_openid></span>
            </td>
            </tr>
        </TMPL_IF>
    </TMPL_IF>
</TMPL_IF>

