<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index :: Дерево комментариев</title>

	<TMPL_VAR lj_res_includes>
</head>
<body>
	<TMPL_VAR js_check_domain>
	<div class="lj3-form-wrapper">
		<form class="lj3-form lj3-post-comment lj3-active" id="postform" method="post" action="/talkpost_do.bml" target="">
			<TMPL_IF errors>
				<TMPL_LOOP errors>
					<p class="b-auth-error"><span class="i-message i-message-error"><TMPL_VAR error></span><i class="i-close"></i></p>
				</TMPL_LOOP>
			</TMPL_IF>
			<TMPL_VAR form_intro>
			<input type="hidden" name="usertype" value="<TMPL_VAR usertype_default>">
			<input type="hidden" name="is_form_embedded" value="1">
			<input type="hidden" name="cookieuser" value="<TMPL_VAR remote_username>">
			<input type="hidden" name="partner_domain" value="<TMPL_VAR expr="ehtml(partner_domain)">" >
			<fieldset>
				<p class="lj3-identity">
					От <TMPL_VAR partner_remote_ljuser>
					<span class="lj3-logout">(<a href="<TMPL_VAR logout_url>"><TMPL_VAR expr="ml('/logout.bml.logout.head')"></a>)</span>
				</p>
				<p class="lj3-input-wrapper">
					<label for="subject"><TMPL_VAR expr="ml('/talkpost.bml.opt.subject')"></label>
					<input type="text" class="lj3-input-subject" id="subject" name="subject">
				</p>
				<p class="lj3-input-wrapper">
					<label for="commenttext"><TMPL_VAR expr="ml('/talkpost.bml.opt.message')"></label>
					<textarea name="body" id="commenttext" class="lj3-input-message" wrap="soft"></textarea>
				</p>
				<p class="lj3-submit-wrapper">
					<input type="submit" value="<TMPL_VAR expr="ml('/talkpost.bml.opt.submit')">" class="lj3-submit" name="submitpost">
				</p>
				<p class="lj3-close">
					<a href="javascript:void(0);"></a>
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>
