<TMPL_IF warnscreened>
    <div class='ljwarnscreened'><TMPL_VAR expr="ml('/talkpost.bml.warnscreened')"></div>
</TMPL_IF>

<form method='post' action='<TMPL_VAR lj_siteroot>/talkpost_do.bml' id='postform'>
<TMPL_VAR form_intro>

<TMPL_IF errors>
    <ul>
        <TMPL_LOOP errors>
            <li><TMPL_VAR error></li>
        </TMPL_LOOP>
    </ul>
    <hr/>
</TMPL_IF>

<TMPL_VAR tosagree>

<TMPL_VAR create_link>

<table>
<tr>
    <td align='right' valign='top' class="b-postform-login-label"><TMPL_VAR expr="ml('/talkpost.bml.opt.from')"></td>
    <td class="b-postform-login-wrapper">
        <TMPL_IF 0> Internal for "From" options </TMPL_IF>
        <TMPL_IF editid>
            <div class="b-postform-login b-postform-ljedit">
                    <div class="b-postform-login-item b-postform-login-ljedit">
                        <TMPL_IF remote_banned>
                            <div class="b-postform-login-opts">
                                <img src="<TMPL_VAR lj_imgprefix>/userinfo.gif" class="b-postform-login-img" />
                                <TMPL_VAR ml_loggedin>
                                <TMPL_VAR ml_banned>
                            </div>
                        <TMPL_ELSE>
                            <span class="b-postform-login-service"><TMPL_VAR expr="ml('/talkpost.bml.livejournal')"></span>
                            <div class="b-postform-login-opts">
                                <img src="<TMPL_VAR lj_imgprefix>/userinfo.gif" class="b-postform-login-img" />
                                <TMPL_VAR ml_loggedin>
                                <input type="hidden" name="usertype" value="cookieuser" />
                                <input type="hidden" name="cookieuser" value="<TMPL_VAR remote_username>" id="cookieuser" />
                            </div>
                        </TMPL_IF>
                </div>
            </div>
        <TMPL_ELSE>
            <div class='b-postform-login b-postform-authtype-<TMPL_IF expr="usertype_default eq 'anonymous'">anonymous b-postform-anonymous-cookie<TMPL_ELSIF expr="usertype_default eq 'cookieuser'">user b-postform-user-cookie<TMPL_ELSIF expr="usertype_default eq 'facebook_cookie'">facebook b-postform-facebook-cookie<TMPL_ELSIF expr="usertype_default eq 'twitter_cookie'">twitter b-postform-twitter-cookie<TMPL_ELSIF expr="usertype_default eq 'openid_cookie'">openid b-postform-openid-cookie<TMPL_ELSIF expr="usertype_default eq 'mailru_cookie'">mailru b-postform-mailru-cookie</TMPL_IF>'>
                <div class="b-postform-login-services">
                    <div class="b-postform-login-services-items">
                        <span class="b-postform-login-services-item b-postform-login-services-anonymous"><a href="#anonymous"><img src="<TMPL_VAR lj_imgprefix>/anonymous.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.opt.anonymous')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-user"><a href="#user"><img src="<TMPL_VAR lj_imgprefix>/userinfo.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.livejournal')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-livejournal"><a href="#livejournal"><img src="<TMPL_VAR lj_imgprefix>/pencil.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.livejournal')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-facebook"><a href="#facebook"><img src="<TMPL_VAR lj_imgprefix>/icons/facebook-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.facebook')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-twitter"><a href="#twitter"><img src="<TMPL_VAR lj_imgprefix>/icons/twitter-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.twitter')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-openid"><a href="#openid"><img src="<TMPL_VAR lj_imgprefix>/icons/openid-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.openid')"></span></a></span>
                        <span class="b-postform-login-services-item b-postform-login-services-mailru"><a href="#mailru"><img src="<TMPL_VAR lj_imgprefix>/icons/mailru-16.gif" /><span class="b-postform-login-services-name"><TMPL_VAR expr="ml('/talkpost.bml.mailru')"></span></a></span>
                    </div>
                </div>
                <div class="b-postform-login-details">
                    <TMPL_LOOP author_options>
                        <TMPL_INCLUDE expr="sprintf('templates/CommentForm/Author-%s.tmpl', short_code)">
                    </TMPL_LOOP>
                </div>
            </div>
        </TMPL_IF>
        <script type="text/javascript">
            jQuery('div.b-postform-login').authtype();
        </script>
    </td>
</tr>

<tr valign='top'>
    <td align='right'><TMPL_VAR expr="ml('/talkpost.bml.opt.subject')"></td>
    <td>
        <input class='textbox' type='text' size='50' maxlength='100' name='subject' id='subject' value="<TMPL_VAR basesubject>" onKeyPress='subjectNoHTML(event);' tabindex='10' />
        <TMPL_IF 0> subject icon </TMPL_IF>
        <input type='hidden' id='subjectIconField' name='subjecticon' value='<TMPL_VAR subjicon>'>
        <TMPL_IF subjicon_none>
            <img src='<TMPL_VAR lj_imgprefix>/talk/none.gif' border='0' width='15' height='15' valign='middle' id='subjectIconImage' style='cursor:pointer;cursor:hand' align='absmiddle' onclick='subjectIconListToggle();' title='Click to change the subject icon' />
        <TMPL_ELSE>
            <img src='<TMPL_VAR lj_imgprefix>/talk/<TMPL_VAR subjicon_current_img>' border='0' width='<TMPL_VAR subjicon_current_w>' height='<TMPL_VAR subjicon_current_h>' valign='middle' id='subjectIconImage' onclick='subjectIconListToggle();' style='cursor:pointer;cursor:hand' />
        </TMPL_IF>
        <div class="b-subjecticons">
            <ul class="b-subjecticons-items">
                <TMPL_LOOP subjicon_types>
                    <TMPL_IF __first__>
                        <li class="b-subjecticons-item"><img src='<TMPL_VAR lj_imgprefix>/talk/none.gif' border='0' width='15' height='15' id='none' title='No subject icon' onclick="subjectIconChange(this);" /></li>
                    </TMPL_IF>
                    <TMPL_LOOP subjicons>
                        <li class="b-subjecticons-item"><img src='<TMPL_VAR lj_imgprefix>/talk/<TMPL_VAR subjicon_img>' border='0' width='<TMPL_VAR subjicon_w>' height='<TMPL_VAR subjicon_h>' id='<TMPL_VAR subjicon_id>' onclick="subjectIconChange(this);" /></li>
                    </TMPL_LOOP>
                </TMPL_LOOP>
            </ul>
        </div>
		<script type="text/javascript">
			jQuery('div.b-subjecticons').bubble({ target: jQuery('#subjectIconImage') });
		</script>
						
        <TMPL_IF 0> end subject icon </TMPL_IF>

        <div id='ljnohtmlsubj' class='ljdeem'><span style='font-size: 8pt; font-style: italic;'><TMPL_VAR expr="ml('/talkpost.bml.nosubjecthtml')"></span></div>

        <TMPL_IF text_hint>
            <div id="subjectCaptionText"><TMPL_VAR text_hint></div>
        </TMPL_IF>

        <div id='userpics'>
            <TMPL_IF show_userpics>
                <script type="text/javascript">
                    var userpicmap=<TMPL_VAR userpicmap>;
                    var defaultpicurl="<TMPL_VAR defaultpicurl>";
                </script>
                <TMPL_VAR ml_picturetouse>
                <select name="prop_picture_keyword" tabindex="11">
                    <TMPL_LOOP userpics>
                        <option value="<TMPL_VAR userpic_keyword>" <TMPL_IF userpic_selected>selected="selected"</TMPL_IF>><TMPL_VAR userpic_title></option>
                    </TMPL_LOOP>
                </select>
                <TMPL_VAR helpicon_userpics>
            </TMPL_IF>

            &nbsp;&nbsp;<input type="checkbox" name="prop_opt_preformatted" id="prop_opt_preformatted" value="1"<TMPL_IF opt_preformatted_selected> checked="checked"</TMPL_IF> tabindex="12" /><label for='prop_opt_preformatted'>&nbsp;<TMPL_VAR expr="ml('/talkpost.bml.opt.noautoformat')">&nbsp;</label><TMPL_VAR helpicon_noautoformat>

            <TMPL_IF show_quick_quote>
                <script type='text/javascript' language='JavaScript'>
                <!--
                var helped = 0; var pasted = 0;
                function quote () {
                    var text = '';

                    if (document.getSelection) {
                        text = document.getSelection();
                    } else if (document.selection) {
                        text = document.selection.createRange().text;
                    } else if (window.getSelection) {
                        text = window.getSelection();
                    }

                    // Fix for Safari
                    if (typeof(text) == 'object') text = text.toString();
                    if (text == '') {
                        if (helped != 1 && pasted != 1) {
                            helped = 1; alert("If you'd like to quote a portion of the original message, highlight it then press 'Quote'");
                        }
                        return false;
                    } else {
                        pasted = 1;
                    }

                    var element = text.search(/\\n/) == -1 ? 'q' : 'blockquote';
                    var textarea = document.getElementById('commenttext');
                    textarea.focus();
                    textarea.value = textarea.value + "<" + element + ">" + text + "</" + element + ">";
                    textarea.caretPos = textarea.value;
                    textarea.focus();
                    return false;
                }
                if (document.getElementById && (document.getSelection || document.selection || window.getSelection)) {
                    // Opera clears the paste buffer before mouse events, useless here
                        if (navigator.userAgent.indexOf("Opera") == -1) {
                            document.write('&nbsp;&nbsp;<input type="button" value="Quote" onmousedown="quote();" onclick="quote();" tabindex="13" />');
                        }
                }
                //-->
                </script>
            </TMPL_IF>
        </div>
    </td>
</tr>

<TMPL_IF 0> textarea for their message body </TMPL_IF>
<tr valign='top'>
    <td align='right'><TMPL_VAR expr="ml('/talkpost.bml.opt.message')"></td>
    <td style='width: 90%'>
        <textarea class='textbox' rows='10' cols='75' wrap='soft' name='body' id='commenttext' tabindex='20'><TMPL_VAR comment_body></textarea>
    </td>
</tr>

<TMPL_VAR extra_rows>

<tr>
    <td></td>
    <td>
        <TMPL_IF captcha_html>
            <TMPL_VAR captcha_html>
            <br />
        </TMPL_IF>

        <br />
        <script language="JavaScript" type='text/javascript'>
            <!--
            function checkLength() {
                if (!document.getElementById) return true;
                var textbox = document.getElementById('commenttext');
                if (!textbox) return true;
                if (textbox.value.length > <TMPL_VAR comment_length_cap>) {
                    alert('Sorry, but your comment of ' + textbox.value.length + ' characters exceeds the maximum character length of <TMPL_VAR comment_length_cap>.  Please try shortening it and then post again.');
                    return false;
                }
                return true;
            }
            // -->
        </script>

        <input type='submit' name='submitpost' onclick='return checkLength() && sendForm("postform", "username")' tabindex='30'
            <TMPL_IF editid>
                value="<TMPL_VAR expr="ml('/talkpost.bml.opt.edit')">"
            <TMPL_ELSE>
                value="<TMPL_VAR expr="ml('/talkpost.bml.opt.submit')">"
            </TMPL_IF>
        />
        &nbsp;
        <input type='submit' name='submitpreview' onclick='return checkLength() && sendForm("postform", "username")'
            value="<TMPL_VAR expr="ml('talk.btn.preview')">" tabindex="50" />

        <TMPL_IF show_spellcheck>
            <input type='checkbox' name='do_spellcheck' value='1' id='spellcheck' tabindex='51' />
            <label for='spellcheck'><TMPL_VAR expr="ml('talk.spellcheck')"></label>
        </TMPL_IF>

        <TMPL_IF show_logips>
            <p class="b-bubble b-bubble-alert b-bubble-noarrow b-bubble-intext"><i class="i-bubble-arrow-border"></i><i class="i-bubble-arrow"></i><TMPL_VAR ml_logcommentips>&nbsp;<TMPL_VAR helpicon_iplogging></p>
        </TMPL_IF>
    </td>
</tr>
</table>

<TMPL_IF 0> Some JavaScript to help the UI out </TMPL_IF>
<script type='text/javascript' language='JavaScript'>
    var usermismatchtext = "<TMPL_VAR ml_usermismatch>";
</script>
<script type='text/javascript' src='<TMPL_VAR lj_jsprefix>/talkpost.js'></script>

</form>
