<TMPL_IF EXPR="nocomments ne 'Y'">
<div id="postform-wrapper" class="b-postform
        <TMPL_IF suspended>b-postform-user-suspended</TMPL_IF>
        <TMPL_IF deleted>b-postform-user-deleted</TMPL_IF>
        <TMPL_IF EXPR="remote_banned && email_active">b-postform-user-banned</TMPL_IF>
        <TMPL_IF EXPR="whocanreply eq 'friends'">b-postform-user-friendonly</TMPL_IF>
        <TMPL_IF EXPR="!is_friend">b-postform-user-notafriend</TMPL_IF>
        <TMPL_IF EXPR="whocanreply eq 'reg'">b-postform-user-regonly</TMPL_IF>
        <TMPL_IF EXPR="whocanreply eq 'reg' && !email_active && usertype ne 'anonymous' && usertype ne 'cookieuser'">b-postform-user-notreg</TMPL_IF>
        <TMPL_IF EXPR="!email_active && usertype eq 'cookieuser'">b-postform-user-notmail</TMPL_IF>
        <TMPL_IF EXPR="show_logips eq 'S'">b-postform-user-logips b-postform-user-logips-anon</TMPL_IF>
        <TMPL_IF EXPR="show_logips eq 'A'">b-postform-user-logips b-postform-user-logips-all</TMPL_IF>
        <TMPL_IF EXPR="will_be_screened eq 'A'">b-postform-user-screened b-postform-user-screened-all</TMPL_IF>
        <TMPL_IF EXPR="will_be_screened eq 'F' && !is_friend">b-postform-user-screened b-postform-user-screened-nonf</TMPL_IF>
        <TMPL_IF EXPR="will_be_screened eq 'R' and !email_active">b-postform-user-screened b-postform-user-screened-anon</TMPL_IF>
        <TMPL_IF EXPR="commentcaptcha eq 'R'">b-postform-captcha-anon</TMPL_IF>
        <TMPL_IF EXPR="commentcaptcha eq 'F'">b-postform-captcha-nonfriend</TMPL_IF>
        <TMPL_IF EXPR="commentcaptcha eq 'A'">b-postform-captcha-all</TMPL_IF>
        <TMPL_IF notaspammer>b-postform-notaspammer</TMPL_IF>
        <TMPL_IF parpost>b-postform-replyto</TMPL_IF>
        b-postform-trueauth-<TMPL_VAR authtype>
        b-postform-realauth-<TMPL_VAR usertype>
        b-postform-authtype-<TMPL_VAR usertype>
        ">
    <form method="post" action="<TMPL_VAR lj_siteroot>/talkpost_do.bml" id="postform" >
        <TMPL_VAR form_intro>
        <TMPL_VAR tosagree>
        <TMPL_VAR create_link>

        <input type="hidden" name="json" value="0" />

        <table>
            <tr class="b-postform-loginbox">
                <td align="right" valign="top" class="b-postform-login-label"><label for="login-current"><TMPL_VAR expr="ml('/talkpost.bml.opt.from')"></label></td>
                <td class="b-postform-login-wrapper">
                    <TMPL_IF editid>
                        <TMPL_IF remote_banned>
                                <TMPL_VAR ml_loggedin>
                                <TMPL_VAR ml_banned>
                            </div>
                        <TMPL_ELSE>
                                <TMPL_VAR ml_loggedin>
                                <input type="hidden" name="usertype" value="cookieuser" />
                                <input type="hidden" name="cookieuser" value="<TMPL_VAR remote_username>" id="cookieuser" />
                        </TMPL_IF>
                    <TMPL_ELSE>
                        <div class="b-postform-login">
                            <div class="b-postform-login-services">
                                <a href="#login-current" class="b-postform-login-services-current" tabindex="10" id="login-current"><i class="b-postform-login-services-current-pic"></i></a>
                                <div class="b-postform-login-services-items">
                                    <TMPL_LOOP author_options>
                                        <TMPL_INCLUDE EXPR="sprintf('templates/CommentForm/AuthorTitle-%s.tmpl', short_code)">
                                    </TMPL_LOOP>
                                </div>
                            </div>
                            <div class="b-postform-login-details">
                                <TMPL_LOOP author_options>
                                    <TMPL_INCLUDE EXPR="sprintf('templates/CommentForm/Author-%s.tmpl', short_code)">
                                </TMPL_LOOP>
                            </div>
                        </div>
                    </TMPL_IF>

                    <TMPL_UNLESS talkpost_do>
                        <TMPL_IF suspended>
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-suspended"><TMPL_VAR EXPR="ml('/talkpost_do.bml.error.suspended')"></p>
                        </TMPL_IF>

                        <TMPL_IF deleted>
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-deleted"><TMPL_VAR EXPR="ml('/talkpost_do.bml.error.deleted')"></p>
                        </TMPL_IF>

                        <TMPL_IF EXPR="remote_banned && !(whocanreply eq 'reg' && !email_active)">
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-banned"><TMPL_VAR ml_banned></p>
                        </TMPL_IF>

                        <TMPL_IF EXPR="whocanreply eq 'friends'">
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-notafriend"><TMPL_VAR ml_notafriend></p>
                        </TMPL_IF>

                        <TMPL_IF EXPR="whocanreply eq 'reg' && !email_active && usertype ne 'anonymous' && usertype ne 'cookieuser'">
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-notreg"><TMPL_VAR ml_noopenidpost></p>
                        </TMPL_IF>

                        <TMPL_IF EXPR="!email_active && usertype eq 'cookieuser'">
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-notmail"><TMPL_VAR expr="ml('/talkpost_do.bml.error.noverify2')"></p>
                        </TMPL_IF>

                        <TMPL_IF EXPR="whocanreply eq 'reg'">
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-regonly"><TMPL_VAR expr="ml('/talkpost.bml.opt.noanonpost')"></p>
                        </TMPL_IF>
                    </TMPL_UNLESS>

                    <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-ajax"></p>

                    <TMPL_IF errors>
                        <div class="b-postform-user-errors">
                            <TMPL_LOOP errors>
                            <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-errors"><TMPL_VAR error></p>
                            </TMPL_LOOP>
                        </div>
                    </TMPL_IF>
                </td>
            </tr>

            <tr valign="top" class="b-postform-subjectbox">
                <td align="right"><label for="subject"><TMPL_VAR expr="ml('/talkpost.bml.opt.subject')"></label></td>
                <td>
                    <input class="textbox" type="text" size="60" maxlength="100" name="subject" id="subject" value="<TMPL_VAR basesubject>" tabindex="20" />
                    <input type="hidden" id="subjectIconField" name="subjecticon" value="<TMPL_VAR subjicon>">
                    <TMPL_IF subjicon_none>
                        <img src="<TMPL_VAR lj_imgprefix>/spacer.gif?v=13339" border="0" width="15" height="15" valign="middle" id="subjectIconImage" align="absmiddle" title="Click to change the subject icon" class="b-subjecticon b-subjecticons-default" />
                    <TMPL_ELSE>
                        <img src="<TMPL_VAR lj_imgprefix>/spacer.gif?v=13339" border="0" width="<TMPL_VAR subjicon_current_w>" height="<TMPL_VAR subjicon_current_h>" valign="middle" id="subjectIconImage" class="b-subjecticon b-subjecticons-<TMPL_VAR subjicon_current_id>" />
                    </TMPL_IF>
                    <div class="b-subjecticons">
                        <ul class="b-subjecticons-items">
                            <TMPL_LOOP subjicon_types>
                                <TMPL_IF __first__>
                                    <li class="b-subjecticons-item"><img src="<TMPL_VAR lj_imgprefix>/spacer.gif?v=13339" border="0" width="15" height="15" id="none" title="No subject icon" class="b-subjecticon b-subjecticons-default" /></li>
                                </TMPL_IF>
                                <TMPL_LOOP subjicons>
                                    <li class="b-subjecticons-item"><img src="<TMPL_VAR lj_imgprefix>/spacer.gif?v=13339" border="0" width="<TMPL_VAR subjicon_w>" height="<TMPL_VAR subjicon_h>" id="<TMPL_VAR subjicon_id>" class="b-subjecticon b-subjecticons-<TMPL_VAR subjicon_id>" /></li>
                                </TMPL_LOOP>
                            </TMPL_LOOP>
                        </ul>
                    </div>

                    <script type="text/javascript">
                        jQuery('div.b-subjecticons').subjecticons();
                    </script>

                    <p class="b-bubble b-bubble-warning b-bubble-noarrow b-bubble-intext b-postform-alert-nosubjecthtml"><TMPL_VAR expr="ml('/talkpost.bml.nosubjecthtml')"></p>

                    <TMPL_IF text_hint>
                        <div id="subjectCaptionText"><TMPL_VAR text_hint></div>
                    </TMPL_IF>
                    
                    <div>
                        <TMPL_IF show_userpics>

                            <script type="text/javascript"> 
                                var userpicmap=<TMPL_VAR userpicmap>; 
                                var defaultpicurl="<TMPL_VAR defaultpicurl>"; 
                            </script> 
                        
                            <span id="userpics">
                                <label for="prop_picture_keyword"><TMPL_VAR ml_picturetouse></label>
                                <select name="prop_picture_keyword" id="prop_picture_keyword" tabindex="21">
                                    <TMPL_LOOP userpics>
                                        <option value="<TMPL_VAR userpic_keyword>" <TMPL_IF userpic_selected>selected="selected"</TMPL_IF>><TMPL_VAR userpic_title></option>
                                    </TMPL_LOOP>
                                </select>
                                <TMPL_VAR helpicon_userpics>
                                &nbsp;&nbsp;
                            </span>

                        </TMPL_IF>
                        
                        <input type="checkbox" name="prop_opt_preformatted" id="prop_opt_preformatted" value="1"<TMPL_IF opt_preformatted_selected> checked="checked"</TMPL_IF> tabindex="22" /><label for='prop_opt_preformatted'>&nbsp;<TMPL_VAR expr="ml('/talkpost.bml.opt.noautoformat')">&nbsp;</label><TMPL_VAR helpicon_noautoformat>
                        &nbsp;&nbsp;<input type="button" value="<TMPL_VAR expr="ml('/talkpost.bml.btn.quote')">" class="b-postform-quote" tabindex="23" />
                    </div>
                </td>
            </tr>

            <tr valign="top" class="b-postform-msgbox">
                <td align="right"><label for="commenttext"><TMPL_VAR expr="ml('/talkpost.bml.opt.message')"></label></td>
                <td>
                    <textarea class="textbox" rows="15" cols="75" wrap="soft" name="body" id="commenttext" tabindex="30"><TMPL_VAR comment_body></textarea>
                </td>
            </tr>

            <TMPL_VAR extra_rows>

            <tr class="b-postform-submitbox b-postform-captchabox <TMPL_IF need_captcha>b-postform-captchabox-active</TMPL_IF>">
                <td>&nbsp;</td>
                <td id="captcha-container">
                    <TMPL_IF need_captcha><TMPL_VAR captcha_html></TMPL_IF>
                </td>
            </tr>

            <tr class="b-postform-submitbox">
                <td class="b-postform-preload">&nbsp;</td>
                <td class="b-postform-submitbox-submit">
                    <input type="submit" id="postform-submit-comment-button" name="submitpost" tabindex="40"
                        <TMPL_IF editid>
                            value="<TMPL_VAR expr="ml('/talkpost.bml.opt.edit')">"
                        <TMPL_ELSE>
                            value="<TMPL_VAR expr="ml('/talkpost.bml.opt.submit')">"
                        </TMPL_IF>
                    />
                    &nbsp;
                    <input type="submit" name="submitpreview" value="<TMPL_VAR expr="ml('talk.btn.preview')">" tabindex="60" />

                    <TMPL_IF show_spellcheck>
                        <input type="checkbox" name="do_spellcheck" value="1" id="spellcheck" tabindex="61" />
                        <label for="spellcheck"><TMPL_VAR expr="ml('talk.spellcheck')"></label>
                    </TMPL_IF>
                </td>
            </tr>

            <tr class="b-postform-alertbox">
                <td>&nbsp;</td>
                <td>
                    <TMPL_IF warnscreened>
                        <p class="b-bubble b-bubble-alert b-bubble-noarrow b-bubble-intext b-postform-alert-warnscreened"><TMPL_VAR expr="ml('/talkpost.bml.warnscreened')"></p>
                    </TMPL_IF>

                    <TMPL_IF EXPR="show_logips eq 'S' || show_logips eq 'A'">
                        <p class="b-bubble b-bubble-alert b-bubble-noarrow b-bubble-intext b-postform-alert-logcommentips"><TMPL_VAR ml_logcommentips>&nbsp;<TMPL_VAR helpicon_iplogging></p>
                    </TMPL_IF>

                    <TMPL_IF EXPR="(will_be_screened eq 'A') || (will_be_screened eq 'F' && !is_friend) || (will_be_screened eq 'R' and !email_active)">
                        <p class="b-bubble b-bubble-alert b-bubble-noarrow b-bubble-intext b-postform-alert-screened"><TMPL_VAR ml_willscreen></p>
                    </TMPL_IF>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    jQuery('#postform-wrapper')
        .commentator({
            publicKey: '<TMPL_VAR captcha_public>',
            captchaContainerId: 'captcha-container'
        })
        .authtype({
            forceStartupCaptcha: !!(Number('<TMPL_VAR need_captcha>')),
            selectors: {
                authTypeRadios: '.b-postform-login-{authType} .b-postform-login-radio'
            }
        })
        .quotescreator()
</script>

<TMPL_ELSE>
    <p class="b-bubble b-bubble-alert b-bubble-noarrow b-bubble-intext"><TMPL_VAR expr="ml('/talkpost_do.bml.error.nocomments')"></p>
</TMPL_IF>
