<h2><TMPL_VAR exp="ml('widget.marqueefeatures.title')"></h2>
<p>
<TMPL_LOOP links>
<TMPL_VAR link> | <TMPL_VAR text> <br />
</TMPL_LOOP>
</p>
Also <a href="<TMPL_VAR also_link>"><TMPL_VAR also_text></a><br />
