#Tabs {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
#Tabs li {
    border: 1px solid #999;
    border-bottom: 1px solid #000;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: 1.5em;
    padding-top: .5em;
    margin-bottom: .25em;
    margin-left: 0;
    display: inline;
}
#Tabs li.SelectedTab { 
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}
#Tabs li a { 
    text-decoration: none;
    width: 100%;
    padding: 0; 
    margin: 0;
}
#CurrentTab {
    margin-top: 0;
    border: 1px solid #000;
    border-top: 1px solid #000;
    padding: .5em;
}
#CurrentTabMain {
    height: 100%;
    width: 64%;
}
#CurrentTabSide {
    width: 35%;
    float: right;
    margin-top: 1em;
}
#CurrentTabSide table th { 
    font-weight: normal;
    white-space: nowrap;
    vertical-align: top;
    font-style: italic;
    text-align: left;
}
fieldset { 
    border: 1px solid #ccc;
}
legend { 
    font-size: 1.2em;
    font-weight: bold;
}
fieldset { 
    margin-bottom: 1em;
    margin-top: .5em;
}
#propgroupstab {
    text-decoration: none;
    margin: 0; 
    padding: 0;
}
#propgroupsbody {
    margin: 0; 
    padding: 0.5em;
}
span.propgrouptabsel, span.propgrouptab {
    margin: 0 0.2em 0 0.8em;
}
span.propgrouptabsel a {
    text-decoration: none;
    color: #000;
}
div.inset {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
dl.hidedt {
    margin: 0;
    padding: 0;
}
dl.hidedt dt {
    font-weight: bold;
}
noscript {
    display: inline;
}
#CustomOptions th {
    text-align: left;
}
