.appwidget-browse h2 {
    font-size: 14px;
    clear: left;
    font-family: Arial;
    font-weight: bold;
    background: #ededed url(/img/corner.gif) no-repeat 0 0;
    margin: 0 0 8px 0;
    padding: 5px 8px;
    color: #222;
}

.appwidget-browse .browse-content {
     padding: 0 10px;
}

.appwidget-browse .browse-findlinks,
.appwidget-browse .browse-extras {
    border-top: 1px solid #999;
}

.appwidget-browse .browse-extras {
    padding-top: 10px;
}

.appwidget-browse .browse-findlinks p,
.appwidget-browse .browse-extras p {
    font-size: 11px;
}

.appwidget-browse .browse-extras p strong {
    font-size: 12px;
}

.appwidget-browse .browse-findby {
    float: left;
    width: 40%;
}

.appwidget-browse .browse-directorysearch {
    float: right;
}

.appwidget-browse .browse-extras img {
    float: left;
    clear: left;
    width: 35px;
    margin-right: 5px;
}

.appwidget-browse .browse-extras p {
    margin: 0;
}

.appwidget-browse .browse-randomuser {
    margin-bottom: 10px;
}
