ul.browsesubcat {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

ul.browsesubcat li {
    border: 1px solid #ededed;
    background-color: #fff;
    margin-top: 2px;
    padding-left: 5px;
}

ul.childcat {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
ul.childcat li {
    border: 0px;
    padding-left: 15px;
}
