.appwidget-createaccount .field-name {
    text-align: right;
    width: 125px;
    vertical-align: top;
}

.appwidget-createaccount .field-desc {
    color: #666;
    margin-bottom: 0;
}

.appwidget-createaccount .tos-blurb {
    margin-bottom: 0;
}

.appwidget-createaccount #tips_box_arrow {
    display: none;
    position: absolute;
    background: url(/img/create/tip-arrow.png?v=1) no-repeat;
    width: 12px;
    height: 19px;
    z-index: 100;
    left: 489px;
}

.appwidget-createaccount #tips_box {
    display: none;
    position: absolute;
    background-color: #fcf6db;
    border: 1px solid #ffdfc0;
    padding: 10px;
    width: 300px;
    left: 500px;
}

.appwidget-createaccount .create-button {
    color: #fff;
    background-color: #213368;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.appwidget-createaccount #username_check,
.appwidget-createaccount #username_error {
    display: none;
}

span.appwidget-createaccount #username_check,
span.appwidget-createaccount #username_error {
    display: block;
    width: 330px;
}

.appwidget-createaccount #username_error_inner {
    font-weight: bold;
}

.create-form span.formitemFlag {
    display: block;
    width: 330px;
}

#create_user {
    font-size:1em;
    height:16px;
    }

.liveid {
    padding:34px 0 16px 0;
    background:url(/img/lj_wlm/llm.png?v=1) 0 16px no-repeat;
    }
    .liveid UL,
    .liveid UL LI {
        position:relative;
        display:block;
        padding:0;
        margin:0;
        }
        .liveid UL LI {
            padding:11px 50px 0 25px;
            zoom:1;
            }
            .liveid UL LI INPUT {
                position:absolute;
                top:11px;
                left:0;
                zoom:1;
                }
            .liveid UL LI LABEL {
                display:block;
                padding-left:25px;
                margin-left:-25px;
                cursor:default;
                }
                #create-page .liveid UL LI .helper A:link,
                #create-page .liveid UL LI .helper A:visited {
                    color:#6A9AC2;
                    text-decoration:underline;
                    }
            .liveid UL LI .helper {
                font-size:11px;
                width:430px;
                display:block;
                color:#999;
                }
