.appwidget-friendbirthdays {
    margin: 0 0 15px !important;
    } 
    .appwidget-friendbirthdays H2 SPAN.w-head-in {
        background: url("/img/birthday.gif?v=1") no-repeat  0 50%;
        }

    .appwidget-friendbirthdays .w-body {
        padding: 5px 10px; 
        }
        .appwidget-friendbirthdays table {
            width: 100%;
            margin: 0;
            border: 0;
        	}
        .appwidget-friendbirthdays H3 {
        	padding-left: 8px;
        	font-style: normal;
        	font-family: Arial;
        	color: #222;
        	}
        .appwidget-friendbirthdays .gift-link {
            float: right;
            display: block;
            width: 16px;
            height: 20px;
            background: url(/img/gift.gif?v=1) no-repeat 0 50%;
            line-height: 20px;
            }
             .appwidget-friendbirthdays .gift-link SPAN {
                display: block;
                height: 100%;
                overflow: hidden;
                text-indent: -3000px; 
                }
        .appwidget-friendbirthdays .wish-link {
            float: right;
            display: block;
            width: 16px;
            height: 20px;
            background: url(/img/icons/wishlist.gif?v=1) no-repeat 0 50%;
            line-height: 20px;
            }
             .appwidget-friendbirthdays .wish-link SPAN {
                display: block;
                height: 100%;
                overflow: hidden;
                text-indent: -3000px; 
                }
        * html .appwidget-friendbirthdays .gift-link {
            line-height: 14px;
            }
        .appwidget-friendbirthdays UL.b-list-options {
            padding: 10px 0 0;
            }
            .appwidget-friendbirthdays UL.b-list-options LI {
                padding: 0 0 5px;
                }
