.theme-titles-content {
	padding-left: 10px;
	}

.theme-titles-item {
	position: relative;
	margin: 0 0 0.7em;
	*zoom: 1;
	}
.theme-titles-item:after {
	content: "";
	display: table;
	border-collapse: collapse;
	clear: both;
	}
	.theme-titles-item-head {
		width: 10.5em;
		float: left;
		line-height: 22px;
		}
	.theme-titles-item-body {
		float: left;
		margin: 0;
		}
		.theme-titles-item-title {
			font-weight: bold;
			}
		.theme-title-control {
			font-size: 11px;
			}
		.theme-title-control {
			display: none;
			}
		#js .theme-title-control {
			display: inline;
			}
		.theme-titles-item .text {
			margin-right: 0;
			}
	/* hide title without js */
	.theme-titles-item-body-title {
		display: none;
		}
	#js .theme-titles-item-body-title {
		display: block;
		}
	/* show form without js */
	.theme-titles-item-body-input {
		display: block;
		}
	#js .theme-titles-item-body-input {
		display: none;
		}
	/* switch form and title by edit button */
	#js .theme-titles-edit .theme-titles-item-body-title {
		display: none;
		}
	#js .theme-titles-edit .theme-titles-item-body-input {
		display: block;
		}
