.layout-item .layout-button {
	border: 2px solid #76AE65;
	border-right: 2px solid #447C33;
	border-bottom: 2px solid #447C33;
	background: #559A40;
	font-size: 11px;
	color: #fff;
	}
.layout-item .layout-button-disabled {
	background: #88CD73;
	}
.layout-item {
	position: relative;
	float: left;
	width: 156px;
	margin: 0 0 8px;
	padding: 8px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 11px;
	}
.layout-item.current {
	border: 1px solid #C7E0F6;
	background-color: #ECF6FF;
	}
.layout-item .layout-desc {
	margin: 0 !important;
	padding: 4px 0 6px 0;
	font-size: 12px;
	}
.layout-item img.layout-preview {
	width: 150px;
	height: 114px;
	border: 1px solid #fff;
	}
.layout-content {
	padding-left: 10px;
	}
