/* this is css for the login widget */

.appwidget-login h2 {
    margin: 0 0 8px 0;
}
.appwidget-login form {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 8px 10px;
    width: 20em;
}
.appwidget-login fieldset.nostyle {
    margin-bottom: 4px !important;
}
.appwidget-login label.left {
    width: 6.25em;
    line-height: 22px;
}
.appwidget-login input.text {
    width: 160px;
}
.appwidget-login #user {
    background: #fff url(/img/userinfo.gif) no-repeat 1px 50%;
    padding-left: 18px;
    font-weight: bold;
    color: #00C;
    width: 144px; /* needs to be 16px less than input.text width */
}
.appwidget-login p {
    margin: 0 0 8px 6.25em;
}
.appwidget-login p.forgot-password a {
    font-size: 85%;
}
