/* loginform */

.b-loginform {
    width: 430px;
    border: 1px solid #D9E3E6;
    }

/* header */

.b-loginform-header {
    padding: 15px 25px 12px 30px;
    background: #0099cc;
    }
    .b-loginform H2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.389em;
        font-weight: normal;
        color: #FFF;
        }

/* body */

.b-loginform-body {
    padding: 30px;
    font-size: 0.813em;
    }

/* 2 cols */

.b-loginform-col1 {
    overflow: hidden;
    display: inline-block;
    float: left;
    width: 34%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    }
    .b-loginform-col1:before {
        display: inline-block;
        width: 1px;
        margin: 0 -3px;
        content: "";
        vertical-align: middle;
        }
.b-loginform-col2 {
    margin-left: 32%;
    text-align: right;
    }

/* external block */

.b-loginform-external {
    width: 370px;
    border-bottom: 1px solid #DAE3E6;
    }
    .b-loginform-external:after {
        display: table;
        content: " ";
        clear: both;
        border-collapse: collapse;
        }
.b-loginform-external .b-loginform-col1 {
    width: 60%;
    }
.b-loginform-external .b-loginform-col2 {
    margin-left: 60%;
    }
.b-loginform-social,
.b-loginform-droplist {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .b-loginform-social {
        display: inline-block;
        height: 30px;
        }
    .b-loginform-social-item {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 2px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: #dae3e6;
        }
    .b-loginform-drop {
        position: relative;
        width: 30px;
        height: 30px;
        border: 1px solid #DAE3E6;
        border-radius: 2px;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        background: url("/img/schemius/s-nav-arrow.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
        }
    .b-loginform-social-item A {
        display: block;
        }
    .b-loginform-droplist {
        display: none;
        height: 30px;
        padding: 4px 0;
        border-bottom: 1px solid #DAE3E6;
        }
.b-loginform-drop:hover {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    }

/* loginform fields */

.b-loginform-field {
    margin: 0 0 20px;
    }
.b-loginform-row {
    margin: 0 0 14px;
    }
    .b-loginform-row:after {
        display: table;
        content: " ";
        clear: both;
        border-collapse: collapse;
        }

/* form parts */

.b-loginform-link {
    vertical-align: middle;
    text-decoration: none !important;
    color: #26A1D0 !important;
    }
.b-loginform-remember {
    text-transform: lowercase;
    }
.b-loginform-create {
    text-align: right;
    }
.b-loginform-create .b-loginform-link {
    text-transform: uppercase;
    }

/* errors */

.b-loginform-error {
    display: none;
    float: right;
    color: #D92B2B;
    }
.b-loginform-field-error .b-ljform-input {
    border: 1px solid #D96C6C;
    }
.b-loginform-field-error .b-loginform-error {
    display: inline;
    }

/* form */

.b-ljform-label {
    line-height: 16px;
    vertical-align: middle;
    margin: 0 2px;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #7A9199;
    }
.b-ljform-input {
    width: 100%;
    height: 48px;
    padding: 2px 5px;
    border: 1px solid #DAE3E6;
    border-radius: 2px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background-color: #F7F9FA;
    }
.b-ljform-input-user {
    background: #F7F9FA url(/img/userinfo.gif?v=37824) no-repeat 1px 50%;
    }
.b-ljform-checkbox {
    margin: 0;
    }
.b-ljform-btn {
    display: inline-block;
    margin: -5px 0;
    padding: 15px 60px 13px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 0 #008BA8;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #009FBF;
    color: #FFF;
    }   
    .b-ljform-btn:hover {
        background: #1AB9D9;
        }

/* this is css for the login widget */

.appwidget-login {
    margin: 15px;
}
.appwidget-login fieldset.nostyle {
    margin-bottom: 0.5em !important;
}
.appwidget-login label.left {
    width: 6.25em;
    line-height: 22px;
}
.appwidget-login input.text {
    width: 160px;
}
.appwidget-login fieldset.nostyle,
.appwidget-login p {
    margin: 0 0 0.5em 0;
}
.appwidget-login p {
    margin-left: 6.25em;
}
.appwidget-login a.small-link {
    font-size: 85%;
    color: #777;
}
input.create-account {
    font-size: 110%;
    color: #fff;
    margin: 0;
    background: #559A40;
    border: 2px solid #76AE65;
    border-bottom: 2px solid #447C33;
    border-right: 2px solid #447C33;
    }


    