.lz-body .appwidget {
	position:relative !important;
	}
.b-qotd {
	margin:0 0 10px !important;
	background:#FFF;
	}
	.homepage-loggedin .b-qotd H2 SPAN {
		background:url(/img/jabber.gif?v=1) no-repeat 0 50%;
		}
	.i-qotd-menu {
		position:absolute;
		top:6px;
		right:0;
		overflow:hidden;
		margin:0 -6px 0 0;
		padding:0;
		list-style:none;
		font-size:11px;
		}
	* HTML .i-qotd-menu {
		zoom:1;
		}
		.i-qotd-menu LI {
			float:left;
			margin:0 5px 0 0;
			padding:0 5px 0 0;
			font-size:11px;
			line-height:14px;
			border-right:1px solid #66717A;
			}
	.b-qotd .homepage-account-right {
		background:#FFF;
		}
	.b-qotd .appwidget,
	.lz-body .b-qotd .appwidget {
		position:relative;
		margin:0;
		padding:0;
		border-bottom:0;
		}
	.i-qotd-nav {
		position:absolute;
		top:0;
		right:0;
		font-size:11px;
		line-height:11px;
		}
		.i-qotd-nav SPAN {
			}
		.i-qotd-nav-max {
		    display: none;
		    }
		.i-qotd-nav-first,
		.i-qotd-nav-last,
		.i-qotd-nav-prev,
		.i-qotd-nav-next {
			overflow:hidden;
			display:inline-block;
			width:16px;
			height:16px;
			padding:0;
			vertical-align:-4px;
			background-image: url(/img/arrow-spotlight.gif?v=16423);
			background-repeat:no-repeat;
			font:0/0 serif;
			cursor:pointer;
			}
		.i-qotd-nav-first {
			margin:0 5px 0 0;
			background-position:0 -32px;
			}
		.i-qotd-nav-first-dis {
			background-position:0 -48px;
			cursor:default;
			}
		.i-qotd-nav-last {
			margin:0 0 0 5px;
			background-position:-16px -32px;
			}
		.i-qotd-nav-last-dis {
			background-position:-16px -48px;
			cursor:default;
			}
		.i-qotd-nav-prev {
			margin:0 10px 0 0;
			background-position:0 0;
			}
		.i-qotd-nav-prev-dis {
			background-position:0 -16px;
			cursor:default;
			}
		.i-qotd-nav-next {
			margin:0 0 0 10px;
			background-position:-16px 0;
			}
		.i-qotd-nav-next-dis {
			background-position:-16px -16px;
			cursor:default;
			}
	.b-qotd-question {
		overflow:hidden;
		margin:0 0 10px;
		}
	* HTML .b-qotd-question {
		zoom:1;
		}
		.b-qotd-question .qotd-pic {
			float:left;
			margin:5px 10px 0 0;
			max-width:100px;
			max-height:100px;
			}
		.b-qotd-question-inner {
			overflow:hidden;
			}
		.b-qotd-question H3 {
			margin:5px 200px 0 0;
			font-size:14px;
			font-style:normal;
			}
		.b-qotd-question P {
			font-size:12px;
			}
		.b-qotd-question EM {
			padding:0 0 0 0.5em;
			font-size:11px;
			font-style:normal;
			color:#A9A9A9;
			white-space:nowrap;
			}
		.b-qotd-question .canyon {
			overflow:hidden;
			margin:0;
			padding:0;
			list-style:none;
			line-height:1.3;
			}
			.b-qotd-question .canyon-section {
				float:left;
				}
			.b-qotd-question .canyon-side {
				float:right;
				}
			.b-qotd-question .canyon A {
				font-size:12px;
				}
	.b-qotd-adv {
		clear:both;
		margin:0;
		padding:10px;
		border:1px solid #EBEBEB;
		background:#F8F8F8;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		font-size:10px;
		}
		.b-qotd-adv Dl {
			margin:0;
			padding:0;
			}
			.b-qotd-adv DT {
				float:left;
				margin:0 10px 0 0;
				padding:0;
				font-size:10px;
				line-height:1.4;
				}
				.b-qotd-adv DT IMG {
					display:block;
					margin:5px auto 0;
					}
			.b-qotd-adv DD {
				overflow:hidden;
				margin:0;
				padding:0;
				font-size:10px;
				}
				.b-qotd-adv DD H4 {
					margin:0 0 5px;
					font-size:10px;
					}
				.b-qotd-adv DD P {
					margin:0 0 5px;
					font-size:10px;
					}
	.b-qotd .more {
		background:url("/img/arrow-double-blue.gif?v=1") no-repeat scroll 0 60% transparent;
		padding:0 0 0 10px;
		}


