.appwidget-qotd {
    margin-bottom: 8px !important;
    position: relative;
}
.appwidget-qotd #prev_questions, .appwidget-qotd #next_questions,
.appwidget-qotd #prev_questions_disabled, .appwidget-qotd #next_questions_disabled {
    display: none;
}
.appwidget-qotd #prev_questions, .appwidget-qotd #next_questions {
    cursor: pointer;
}
.appwidget-qotd h2 {
    background: url(/img/jabber.gif) no-repeat 0 50%;
    padding: 0 0 0 20px !important;
    margin: 0 0 5px 0 !important;
}
.appwidget-qotd .qotd-controls {
    padding-left: 10px;
}
.appwidget-qotd .qotd-controls img {
    vertical-align: bottom;
}
.appwidget-qotd .qotd-img {
    margin: 0 0 0 10px;
    border: 0;
}
.appwidget-qotd p {
    margin: 0;
}
.appwidget-qotd p.detail {
    margin: 0;
    padding: 5px 0 0.5em 0;
    font-size: 10px;
    line-height: 17px;
}
.appwidget-qotd p.detail span.suggestions {
    position: relative;
    padding: 0 0 0 .6em;
}

* HTML .appwidget-qotd p.detail span.suggestions {
    line-height: 12px;
}
*:first-child+html .appwidget-qotd p.detail span.suggestions {
    line-height: 12px;
}


.appwidget-qotd .answer {
    font-weight: bold;
}
.appwidget-qotd h2 span.special-title {
    background: none !important;
    padding: 0 !important;
}

.appwidget-qotd .subscript {
    overflow: hidden;
    padding: 0;
    margin: 0;
    zoom: 1;
    list-style: none;
    }
    .appwidget-qotd .subscript LI {
        float: left;
        padding: 0 1em 2px 0;
        }
    .appwidget-qotd .subscript LI A {
        color: #424242;
        font-size: 11px;
        font-weight: bold;
        }
    .appwidget-qotd .subscript LI SPAN {
        background: url(/img/arrow-grey-rt.gif) no-repeat 0 50%;
        padding-left: 8px;
        }
