/* Recent comments widget
-----------------------------------------------*/
.appwidget-recentcomments .userpic-img {
	float: left;
	max-width: 60px;
	max-height: 60px;
	margin-right: 8px;
	border: none;
	}
.appwidget-recentcomments P.pkg {
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
	}
.appwidget-recentcomments P.pkg.last {
	border-bottom: none;
	padding-bottom: 0;
	}
