/* css for the search widget */
.appwidget-search {
    margin: 0 0 15px !important;
    } 
    .appwidget-search H2 SPAN.w-head-in {
        background: url("/img/search.gif?v=1") no-repeat  0 50%;
        }
    .appwidget-search .w-body {
        padding: 10px; 
        background: #FFF;
        }
        .appwidget-search FORM,
        .appwidget-search FIELDSET {
            margin: 0;
            padding: 0;
            border: 0;
            }
            .appwidget-search TABLE {
                width: 100%;
                }
                .appwidget-search TABLE TD {
                    padding: 0 3px 7px;
                    }
             .appwidget-search SELECT,
             .appwidget-search INPUT.type-text {
                width: 97%; 
                }
                
.appwidget-browse .appwidget-search h2 span.w-head-in {
	background:url(/img/icons/search-lite.png) no-repeat 0 0;
	}

