.appwidget-verticalentries h2 {
    margin-bottom: 10px;
}

.appwidget-verticalentries .remove-entry {
    float: right;
    margin: 0;
    padding: 0;
}

.appwidget-verticalentries .entry,
.appwidget-verticalentries .entry-collapsed {
    width: 100%;
}

.appwidget-verticalentries td {
    vertical-align: top;
}

.appwidget-verticalentries td.userpic {
    padding-right: 10px;
    width: 100px;
}

.appwidget-verticalentries hr {
    color: #ddd;
    background-color: #ddd;
    border: 0;
    height: 1px;
}

.appwidget-verticalentries .poster {
    font-size: 11px;
    text-align: center;
    margin: 0;
}

.appwidget-verticalentries .tags,
.appwidget-verticalentries .posttime,
.appwidget-verticalentries .collapsed-tags,
.appwidget-verticalentries .collapsed-posttime {
    font-size: 11px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.appwidget-verticalentries .subject {
    font-size: 14px;
    margin-top: 0;
}

.appwidget-verticalentries .event {
    font-size: 12px;
}

.appwidget-verticalentries .entry-collapsed td {
    border-bottom: 1px solid #ddd;
}

.appwidget-verticalentries .entry-collapsed .userpic-img {
    width: 60px;
    vertical-align: top;
    margin: 0 7px 7px 0;
    float: left;
    clear: left;
}

.appwidget-verticalentries .collapsed-subject {
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.appwidget-verticalentries .collapsed-poster {
    font-size: 11px;
    padding: 0;
    margin: 2px 0 7px 0;
}
