/* $Id: theme-folio.css 14270 2005-07-06 01:20:10Z ydnar $ */

/*  basic page elements */

body
{
	font-family: 'trebuchet ms', verdana, sans-serif;
	color: #ccc;
}

a { color: #ddd; }
a:visited { color: #777; }
a:hover { color: #fff; }

h1, h2, h3, h4, h5, h6
{
	color: #d7d7d7;
	font-family: georgia, serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative; 
	width: 100%;
	w\idth: auto;
	
	margin: 0;
	border: solid #aaa;
	border-width: 1px 0;
	padding: 5px 10px 5px 25px;
	color: #ddd;
	background: #111 url(theme-folio/h2-bg.gif) 0 0.5em no-repeat;
	font-size: 15px;
}

.module-header a,
.module-header a:visited,
.trackbacks-header a,
.trackbacks-header a:visited,
.comments-header a,
.comments-header a:visited,
.comments-open-header a,
.comments-open-header a:visited
{
	color: #ddd;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover
{
	color: #fff;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer
{
	font-size: 11px;
	font-weight: bold;
}



/* page layout */

body
{
	background: #292b2f url(theme-folio/body-bg.gif) center top repeat;
}

#container
{
	width: 762px;
	margin: 15px auto;
	border:  solid #fff;
	border-width: 1px 0;
	background: #000 url(theme-folio/container-bg.gif) 0 0 repeat-y;
}

#container-inner
{
	margin: 0 1px;
	background: url(theme-folio/dot-pairs-line-right-bg.gif) 276px 0 repeat-y;
}

#banner
{
	position: relative; /* ie 5 win */
	p\osition: static; /* everything else */
	background: url(theme-folio/banner-bg.gif) left top repeat-y;
	font-family: 'trebuchet ms', verdana, sans-serif;
}

#banner-inner
{
	padding: 20px 25px 10px 10px;
	background: url(theme-folio/banner-bottom-bg.gif) left bottom no-repeat;
}

#banner-header
{
	margin: 0;
	font-family: georgia, serif;
	font-size: 24px;
}

#banner-header a { color: #777; text-decoration: none; }
#banner-header a:hover { color: #fff; }

#banner-description
{
	min-height: 8px;
	margin: 0;
	color: #fff;
	font: normal 11px/1.5 'trebuchet ms', verdana, sans-serif;
}

/* ie win min-height trick (hide from mac ie) \*/
* html #banner-description { height: 8px; }
/* */

.banner-user { margin-bottom: 5px; font-size: 10px; }
.banner-user-photo { margin-top: 6px; }

#alpha { width: 281px; }

#beta
{
	width: 448px;
	margin-left: 15px;
}

#gamma, #delta
{
	width: 200px;
}

#alpha-inner, #beta-inner, #gamma-inner, #delta-inner
{
	padding: 15px 0 0 0;
}

.date-header
{
	margin: 0 15px;
	padding: 0;
	color: #777;
	font-size: 18px;
}

.entry-header
{
	margin: 5px 15px;
	font-size: 17px;
}


/* modules */

.entry-content,
.entry-footer,
.trackbacks-info,
.trackback-content,
.comment-content,
.comment-footer,
.comments-open-content,
.comments-closed,
.archive-content
{
	margin: 10px 15px;
}

.module-content { margin: 10px 15px 20px 15px; }

.module-calendar .module-content table { font-size: 11px; }

.module-powered .module-content
{
	margin: 15px 0 0 0;
	border: solid #555;
	border-width: 1px 0;
	padding: 10px;
	color: #fff;
	background: #333;
}

.module-powered a { color: #ddd; }
.module-powered a:hover { color: #fff; }

.module-photo .module-content { margin: 0; padding: 5px; }
.module-photo img
{
	border: solid 2px #999;
	border-color: #666 #999 #999 #666;
	background: #333;
}

.typelist-thumbnailed { margin: 0 0 20px 0; }

.typelist-thumbnailed .module-list-item
{
	margin: -1px 0 0 0;
	border: solid #aaa;
	border-width: 1px 0;
	background: #111;
}

.typelist-thumbnail { background: #222; }
.typelist-description { font-size: 11px; }

.module-recent-photos { margin: 0; }
.module-recent-photos .module-content { margin: 7px -7px 7px 0; }
.module-recent-photos .module-list-item
{
	width: 66px; /* mac ie fix */
	margin: 0 5px 5px 0;
	background: none;
}

.module-recent-photos .module-list-item a
{
	padding: 3px;
	background: url(theme-folio/rp-bg-dark.gif) no-repeat;
}

.module-recent-photos .module-list-item a:hover
{
	background-image: url(theme-folio/rp-bg-light.gif);
}


/* artistic tweaks */
	
	.layout-artistic #beta
	{
		width: 426px;
		margin-left: 20px;
	}


/* calendar tweaks */
	
	.layout-calendar #delta,
	.layout-calendar #gamma
	{
		width: 213px;
	}
	
	.module-mmt-calendar
	{
		width: 448px;
		margin-bottom: 5px;
		background: url(theme-folio/cal-bg-mid.gif) left top repeat-y;
	}
	
	.module-mmt-calendar .module-header
	{
		margin: 0;
		border: 0;
		padding: 15px 5px 5px 5px;
		background: url(theme-folio/cal-bg-top.gif) 0 0 no-repeat;
		font-size: 18px;
	}
	
	.module-mmt-calendar .module-content
	{
		padding-bottom: 5px;
		background: url(theme-folio/cal-bg-bot.gif) left bottom no-repeat;
	}
	
	.module-mmt-calendar table
	{
		width: 440px;
		margin: 0 5px;
		color: #777;
		background: #111;
		font-family: georgia, serif;
		text-align: left;
	}
	
	.module-mmt-calendar th,
	.module-mmt-calendar td
	{
		border: solid #000;
		border-width: 1px 1px 0 0;
		font-size: 12px;
	}
	
	.module-mmt-calendar th
	{
		padding: 5px;
		color: #fff;
		background: #666;
		text-align: center;
		font-size: 14px;
		font-weight: normal;
	}
	
	.module-mmt-calendar td
	{
		padding: 2px;
		text-align: left;
	}
	
	.module-mmt-calendar .day-date
	{
		padding-bottom: 2px;
	}
	
	.day-photo a
	{
		border: solid 1px #666;
		padding: 1px;
		background: #333;
	}
	
	.day-photo a:hover
	{
		border-color: #ccc;
		background: #000;
	}


/* moblog1 tweaks */
	
	.layout-moblog1 #container-inner { background-position: 210px 0; }
	.layout-moblog1 #pagebody
	{
		background: url(theme-folio/dot-pairs-line-left-bg.gif) 602px 0 repeat-y;
	}
	
	.layout-moblog1 #alpha { width: 215px; }
	.layout-moblog1 #beta { width: 310px; margin-left: 39px; }
	.layout-moblog1 #gamma { width: 157px; margin-left: 39px; }
	
	.layout-moblog1 .entry { margin-bottom: 40px; }
	
	.layout-moblog1 .module-recent-photos .module-content { margin: 10px 0 5px 10px; }
	.layout-moblog1 .module-recent-photos .module-list { margin: 0; }


/* moblog2 tweaks */
	
	.layout-moblog2 #container-inner { background-position: 72px 0; }
	.layout-moblog2 #pagebody
	{
		background: url(theme-folio/dot-pairs-line-left-bg.gif) 388px 0 repeat-y;
	}
	
	.layout-moblog2 #pagebody-inner
	{
		background: url(theme-folio/dot-pairs-line-bg.gif) 634px 0 repeat-y;
	}

	.layout-moblog2 #alpha { width: 77px; }
	.layout-moblog2 #beta { width: 310px; margin-left: 1px; }
	.layout-moblog2 #gamma { width: 250px; margin-left: 1px; }
	.layout-moblog2 #delta { float: left; width: 120px; margin-left: 1px; }
	
	.layout-moblog2 .module-photo img { width: 104px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-list { margin: 0 0 0 5px; }
	.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 5px 0; }


/* timeline tweaks */
	
	.layout-timeline #container-inner { background-position: 301px 0; }
	
	.layout-timeline #alpha { width: 306px; }
	.layout-timeline #beta { width: 422px; }
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 200px;
	}
	
	.layout-timeline .module-recent-photos
	{
		margin-bottom: 5px;
		background: url(theme-folio/tl-bg-mid.gif) left top repeat-y;
	}
	
	.layout-timeline .module-recent-photos .module-header
	{
		margin: 0;
		border: 0;
		padding: 15px 16px 0 16px;
		background: url(theme-folio/tl-bg-top.gif) 0 0 no-repeat;
		font-size: 18px;
	}
	
	.layout-timeline .module-recent-photos .module-content
	{
		width: 422px;
		background: url(theme-folio/tl-bg-bot.gif) left bottom no-repeat;
	}
	
	.layout-timeline .module-recent-photos .module-content { margin: 0; padding: 0 0 16px 16px; }
	.layout-timeline .module-recent-photos .module-list { margin: 0; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 15px 15px 0 0; }


/* one-column tweaks */
	
	.layout-one-column #container-inner { background: none; }
	
	.layout-one-column #alpha { width: 720px; margin-left: 20px; }


/* two-column-left tweaks */
	
	.layout-two-column-left #container-inner { background-position: 205px 0; }
	
	.layout-two-column-left #alpha { width: 210px; }
	.layout-two-column-left #beta { width: 510px; margin-left: 20px; }


/* two-column-right tweaks */
	
	.layout-two-column-right #container-inner
	{
		background: url(theme-folio/dot-pairs-line-left-bg.gif) 549px 0 repeat-y;
	}
	
	.layout-two-column-right #alpha { width: 510px; margin-left: 20px; }
	.layout-two-column-right #beta { width: 210px; margin-left: 20px; }


/* three-column tweaks */
	
	.layout-three-column #container-inner { background-position: 205px 0; }
	.layout-three-column #pagebody
	{
		background: url(theme-folio/dot-pairs-line-left-bg.gif) 549px 0 repeat-y;
	}
	
	.layout-three-column #alpha { width: 210px; }
	.layout-three-column #beta { width: 300px; margin-left: 20px; }
	.layout-three-column #gamma { width: 210px; margin-left: 20px; }
