/* $Id: theme-cityblend.css 14270 2005-07-06 01:20:10Z ydnar $ */

/* basic page elements */

body
{
	font-family: helvetica, arial, 'trebuchet ms', sans-serif;
	font-size: 12px;
}

a { color: #2ba100; text-decoration: underline; }
a:visited { color: #1f7300; }
a:hover { color: #73fb41; }

h1, h2, h3, h4, h5, h6
{
	font-family: helvetica, arial, 'trebuchet ms', sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative; 
	width: 100%;
	w\idth: auto;
	
	margin: 0;
	border: solid #eef0f1;
	border-width: 0 0 2px 0;
	padding: 10px 7px 3px 7px;
	color: #e0e4e7;
	background: #bcc5cc;
	font-size: 18px;
	line-height: 1;
	letter-spacing: -1px;
}

.module-header a,
.module-header a:visited,
.trackbacks-header a,
.trackbacks-header a:visited,
.comments-header a,
.comments-header a:visited,
.comments-open-header a,
.comments-open-header a:visited
{
	color: #e0e4e7;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover
{
	color: #fff;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: 11px;
}


/* page layout */

body
{
	min-width: 768px;
	color: #749390;
	background: #dde1e4;
}

#container
{
	width: 768px;
	background: url(theme-cityblend/container-bg.gif) repeat-y;
}

#container-inner
{
	padding-bottom: 36px;
	background: url(theme-cityblend/container-bottom-bg.gif) left bottom no-repeat;
}

#banner
{
	width: 768px; /* necessary for ie win */
	background: url(theme-cityblend/container-top-bg.gif) no-repeat;
}

#banner-inner
{
	padding: 28px 36px 7px 36px;
}

#banner a { color: #749390; text-decoration: none; }
#banner a:hover { color: #aaa; }

#banner-header
{
	margin: 0;
	padding: 0;
	color: #749390;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: -1px;
}

#banner-description
{
	margin: 1px 0;
	color: #749390;
	background: none;
	font-size: 11px;
	line-height: 1.125;
}

#pagebody
{
	background: transparent url(theme-cityblend/left-shadow.gif) 295px 0 repeat-y;
}

#alpha { margin: 0 1px 0 36px; width: 275px; }
#beta { width: 420px; }
#gamma, #delta { width: 202px; }

.date-header
{
	margin: 0;
	padding: 9px 7px 0 7px;
	color: #e0e4e7;
	background: #bcc5cc;
	font-size: 18px;
	letter-spacing: -1px;
}

.entry-header
{
	margin: 0;
	border-bottom: 2px solid #eef0f1;
	padding: 7px 7px 5px 7px;
	color: #fff;
	background: #bcc5cc;
	font-size: 14px;
	font-weight: bold;
}


/* modules */

.module-calendar .module-content table { font-size: 11px; }

.module-photo { background: #e1e5e7; }
.module-photo img { border: solid 1px #dce1e4; }

.module-powered .module-content
{
	margin: 15px 0 1px 0;
	padding: 7px;
	color: #fff;
	background: #bcc5cc;
}

.typelist-thumbnailed .module-list-item
{
	margin: 0 0 1px 0;
	border: 1px solid #d9dee1;
	background: #d9dee1;
}

.typelist-thumbnail { background: #fff; }


/* recent photos */

.module-recent-photos
{
	color: #fff;
	background: #bcc5cc;
}

.module-recent-photos .module-content
{
	padding: 0 0 5px 5px;
}

.module-recent-photos .module-list-item
{
	width: 64px; /* ie mac fix */
	margin: 5px 5px 0 0;
}

.module-recent-photos .module-list-item a
{
	border: 1px solid #2ba100;
	padding: 1px;
	background: #fff;
}

.module-recent-photos .module-list-item a:hover
{
	border-color: #fff;
	background: #909fab;
}


/* artistic tweaks */


/* calendar tweaks */

	.layout-calendar #banner-header,
	.layout-calendar #banner-description
	{
		padding-right: 200px; /* make room for the calendar month caption */
	}
	
	.layout-calendar #beta { overflow: visible; }
	
	.module-mmt-calendar
	{
		overflow: visible;
		width: 420px;
	}
	
	.module-mmt-calendar .module-header
	{
		display: block;
		position: absolute;
		right: 0;
		top: -1.25em;
		height: 1.25em;
		margin: 0;
		border: 0;
		padding: 0;
		color: #bcc5cc;
		background: transparent;
		font-size: 18px;
		font-weight: normal;
		text-align: right;
	}
	
	.module-mmt-calendar .module-header a,
	.module-mmt-calendar .module-header a:visited
	{
		color: #2ba100;
	}
	
	.module-mmt-calendar table
	{
		color: #fff;
		background: #bcc5cc;
	}
	
	.module-mmt-calendar th,
	.module-mmt-calendar td
	{
		border-right: 1px solid #d0d0d0;
		padding: 2px;
		text-align: right;
		font-weight: normal;
	}
	
	.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
	{
		border-right: none;
	}
	
	.day-photo a
	{
		border: solid 1px #2ba100;
		padding: 1px;
		background: #fff;
	}
	
	.day-photo a:hover
	{
		border-color: #fff;
		background: #909fab;
	}


/* moblog1 tweaks */

	.layout-moblog1 #pagebody { background-position: 260px 0; }
	.layout-moblog1 #pagebody-inner
	{
		background: transparent url(theme-cityblend/right-shadow.gif) 567px 0 repeat-y;
	}
	
	.layout-moblog1 #alpha { width: 210px; }
	
	.layout-moblog1 #beta
	{
		width: 289px;
		margin: 0 0 0 30px;
	}
	
	.layout-moblog1 #gamma
	{
		width: 135px;
		margin: 0 0 0 30px;
	}
	
	.layout-moblog1 .entry { margin-bottom: 40px; }
	
	.layout-moblog1 .module-recent-photos { background: none; }
	.layout-moblog1 .module-recent-photos .module-content
	{
		margin: 0 -10px 0 0;
		padding: 0;
		background: none;
	}
	
	.layout-moblog1 .module-recent-photos .module-list { width: 145px; margin: 0 -10px 0 0; border-right: 1px solid #f00; }
	.layout-moblog1 .module-recent-photos .module-list-item { margin: 7px 7px 0 0; }


/* moblog2 tweaks */
	
	.layout-moblog2 #pagebody { background-position: 99px 0; }
	.layout-moblog2 #pagebody-inner
	{
		background: transparent url(theme-cityblend/right-shadow.gif) 417px 0 repeat-y;
	}
	
	.layout-moblog2 #alpha { width: 64px; }
	.layout-moblog2 #beta { width: 300px; margin: 0 0 0 15px; }
	.layout-moblog2 #gamma { width: 200px; margin: 0 0 0 15px; }
	
	.layout-moblog2 #delta
	{
		float: left;
		width: 84px;
		margin: 0 0 0 15px;
	}

	.layout-moblog2 .module-photo { padding: 0; }
	.layout-moblog2 .module-photo img { width: 80px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-content
	{
		margin: 0;
		padding: 0;
		background: transparent;
	}
	
	.layout-moblog2 .module-recent-photos .module-list { margin: 0; }
	.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 5px 0; }


/* timeline tweaks */

	.layout-timeline #banner-header,
	.layout-timeline #banner-description
	{
		padding-right: 250px; /* make room for the timeline caption */
	}
	
	.layout-timeline #pagebody { background-position: 352px 0; }
	
	.layout-timeline #alpha { width: 332px; }
	.layout-timeline #beta { overflow: visible; width: 362px; }
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 172px;
	}
	
	.layout-timeline .module-recent-photos .module-header
	{
		display: block;
		position: absolute;
		right: 36px;
		top: -1.25em;
		height: 1.25em;
		margin: 0;
		border: 0;
		padding: 0;
		color: #bcc5cc;
		background: transparent;
		font-size: 18px;
		font-weight: normal;
		text-align: right;
	}
	
	.layout-timeline .module-recent-photos .module-content { padding: 0 0 7px 7px; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 7px 7px 0 0; }


/* one-column tweaks */

	.layout-one-column #pagebody { background: none; }
	.layout-one-column #alpha { width: 695px; }
	
	
/* two-column-left tweaks */

	.layout-two-column-left #pagebody { background-position: 225px 0; }
	.layout-two-column-left #alpha { width: 190px; }
	.layout-two-column-left #beta
	{
		width: 490px;
		margin: 0 0 0 15px;
	}
	

/* two-column-right tweaks */

	.layout-two-column-right #pagebody
	{
		background: transparent url(theme-cityblend/right-shadow.gif) 527px 0 repeat-y;
	}
	.layout-two-column-right #alpha { width: 490px; }
	.layout-two-column-right #beta
	{
		width: 190px;
		margin: 0 0 0 15px;
	}


/* three-column tweaks */

	.layout-three-column #pagebody { background-position: 225px 0; }
	.layout-three-column #pagebody-inner
	{
		background: transparent url(theme-cityblend/right-shadow.gif) 528px 0 repeat-y;
	}
	
	.layout-three-column #alpha { width: 190px; }
	.layout-three-column #beta
	{
		width: 285px;
		margin: 0 0 0 15px;
	}
	.layout-three-column #gamma
	{
		width: 190px;
		margin: 0 0 0 15px;
	}
