/* $Id: theme-forestgreen.css 14270 2005-07-06 01:20:10Z ydnar $ */

/*  basic page elements */

a { color: #a97700; }
a:visited { color: #765301; }
a:hover { color: #d3990e; }

#banner a { color: #fff; text-decoration: none; }
#banner a:hover { color: #d3990e; }

h1, h2, h3, h4, h5, h6
{
	font-family: georgia, serif;
	color: #2b8732;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative; 
	width: 100%;
	w\idth: auto;
	
	margin: 0 0 1px 0;
	padding: 15px 7px 5px 7px;
	color: #2b8732;
	background: #9bbe8e;
	font-size: 15px;
}

.module-header a,
.module-header a:visited,
.trackbacks-header a,
.trackbacks-header a:visited,
.comments-header a,
.comments-header a:visited,
.comments-open-header a,
.comments-open-header a:visited
{
	color: #2b8732;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover
{
	color: #fff;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer
{
	font-size: 11px;
	font-weight: bold;
}


/* page layout */

body
{
	min-width: 780px;
	color: #403610;
	background: #d1cba1 url(theme-forestgreen/body-bg.gif) center top repeat-y;
}

#container
{
	width: 760px;
	margin-bottom: 10px;
	background: #fff;
}

#container-inner
{
	margin: 0;
	background: transparent url(theme-forestgreen/medium-green-bg.gif) 300px 0 repeat;
}

#banner
{
	position: relative; /* ie 5 win */
	p\osition: static; /* everything else */
	background: #3a813c url(theme-forestgreen/banner-bg.gif) no-repeat;
}

#banner-inner { padding: 15px 15px 15px 50px; }

.banner-user
{
	width: 70px;
	margin-top: 4px;
	font-size: 10px;
}

.banner-user-photo { border: 3px double #fff; }

#banner-header
{
	margin: 0;
	color: #fff;
	font-family: Georgia, serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.125;
	letter-spacing: -1px;
}

#banner-description
{
	margin: 1px 0;
	color: #cdc89d;
	font: normal 12px/1.3 georgia, serif;
}

#alpha { width: 300px; }
#beta { width: 430px; margin: 15px 0 15px 15px; }
#gamma, #delta { width: 206px; }

.date-header
{
	margin: 0;
	padding: 15px 10px 5px 10px;
	color: #fff;
	background: #9bbe8e;
	font-size: 19px;
	font-weight: normal;
}

.entry-content,
.entry-footer,
.trackbacks-info,
.trackback-content,
.comment-content,
.comment-footer,
.comments-open-content,
.comments-closed,
.archive-content
{
	margin: 10px 15px;
}

.entry-header
{
	margin: 10px 15px;
	font-size: 17px;
	font-weight: bold;
}


/* modules */

.module-calendar .module-content table { font-size: 11px; }

.module-powered .module-content
{
	margin: 15px 0 0 0;
	border: double #77a065;
	border-width: 3px 0;
	padding: 10px;
	color: #fff;
	background: #9bbe8e;
}

.module-photo .module-content { padding: 5px; }
.module-photo img
{
	border: double 3px #77a065;
	background: #9bbe8e;
}

.typelist-thumbnailed .module-list { margin: 1px 0; }

.typelist-thumbnailed .module-list-item
{
	margin: 1px 0;
	background: #9bbe8e;
}

.typelist-thumbnail { background: #d3e2c8; }
.typelist-description { font-size: 11px; }

.module-recent-photos .module-content { margin: 0 -1px 0 0; }

.module-recent-photos .module-list-item
{
	margin: 7px 7px 0 0;
	width: 64px; /* mac ie fix */
}

.module-recent-photos .module-list-item a
{
	border: 1px solid #fff;
	padding: 1px;
}

.module-recent-photos .module-list-item a:hover /* causes ie5 win to bork */
{
	background: #fff;
	border-color: #d3990e;
}


/* calendar tweaks */

	.module-mmt-calendar
	{
		width: 430px;
	}

	.module-mmt-calendar .module-header
	{
		margin: 5px 0;
		padding: 0;
		color: #000;
		background: transparent;
		text-align: right;
		font-size: 24px;
	}
		
	.module-mmt-calendar .module-header a:hover { color: #d3990e; }
	
	.module-mmt-calendar th,
	.module-mmt-calendar td
	{
		text-align: left;
		font-family: georgia, serif;
		font-size: 14px;
	}

	.module-mmt-calendar th
	{
		padding: 5px;
		color: #000;
		text-align: center;
		font-weight: normal;
	}

	.module-mmt-calendar td
	{
		padding: 2px;
		background: transparent url(theme-forestgreen/td-bg.gif) center top no-repeat;
		text-align: right;
	}

	.module-mmt-calendar .day-date
	{
		padding-bottom: 2px;
	}

	.day-photo a
	{
		border: solid 1px #fff;
		padding: 1px;
		background: #a97700;
	}

	.day-photo a:hover
	{
		border-color: #d3990e;
		background: #fff;
	}


/* moblog1 tweaks */
	
	.layout-moblog1 #container-inner { background-position: 216px 0; }
	
	.layout-moblog1 #pagebody
	{
		background: transparent url(theme-forestgreen/medium-green-bg.gif) -29px 0 repeat;
	}

	.layout-moblog1 #alpha { width: 215px; }
	.layout-moblog1 #beta { width: 318px; margin: 0 0 0 39px;}
	.layout-moblog1 #gamma { width: 149px; margin: 0 0 0 39px; }
	
	.layout-moblog1 .entry { margin-bottom: 40px; }
	
	.layout-moblog1 .module-recent-photos .module-content { margin: 0; padding: 0 0 7px 7px; }
	.layout-moblog1 .module-recent-photos .module-list { margin: 0; }


/* moblog2 tweaks */
	
	.layout-moblog2 #container-inner { background-position: 78px 0; }
	
	.layout-moblog2 #pagebody
	{
		background: transparent url(theme-forestgreen/light-green-bg.gif) -212px 0 repeat;
	}
	
	.layout-moblog2 #pagebody-inner
	{
		background: transparent url(theme-forestgreen/medium-green-bg.gif) -1px 0 repeat;
	}
	
	.layout-moblog2 #alpha { width: 78px; }
	.layout-moblog2 #beta { width: 310px; margin: 0 0 0 20px; }
	.layout-moblog2 #gamma { width: 211px; margin: 0 0 0 20px; }
	.layout-moblog2 #delta { float: left; width: 120px; margin: 0 0 0 1px; }
	
	.layout-moblog2 .module-photo .module-content { padding: 0; }
	.layout-moblog2 .module-photo img { width: 112px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-content { margin: 0; padding: 0 0 7px 7px; }
	.layout-moblog2 .module-recent-photos .module-list { margin: 0; }


/* timeline tweaks */
	
	.layout-timeline #container-inner { background-position: 322px 0; }
	
	.layout-timeline #alpha { width: 322px; }
	.layout-timeline #beta { width: 362px; margin-left: 35px; }
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 172px;
	}
	
	.layout-timeline .module-recent-photos .module-header
	{
		margin: 5px 0;
		padding: 0;
		color: #000;
		background: transparent;
		font-size: 18px;
		text-align: right;
	}
	
	.layout-timeline .module-recent-photos .module-content
	{
		padding: 0 0 7px 7px;
		background: #e7e5ce url(theme-forestgreen/photo-bg.gif) 4px 4px repeat;
	}
	
	.layout-timeline .module-recent-photos .module-list { margin: 0; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 7px 7px 0 0; }


/* one-column tweaks */
	
	body.layout-one-column { background-image: url(theme-forestgreen/body-one-column-bg.gif); }
	
	.layout-one-column #container { width: 620px; }
	.layout-one-column #container-inner { background: none; }
	
	.layout-one-column #alpha { width: 580px; margin: 20px; }
	
	.layout-one-column .typelist-thumbnailed .module-list-item { background: none; }


/* two-column-left tweaks */

	.layout-two-column-left #container-inner { background-position: 220px 0; }
	
	.layout-two-column-left #alpha { width: 220px; }
	.layout-two-column-left #beta { width: 500px; margin: 20px 0 0 20px; }
	

/* two-column-right tweaks */

	.layout-two-column-right #container-inner { background-position: -100px 0; }
	
	.layout-two-column-right #alpha { width: 500px; margin: 20px 0 0 20px; }
	.layout-two-column-right #beta { width: 220px; margin: 0 0 0 20px; }


/* three-column tweaks */

	.layout-three-column #container-inner { background-position: 200px 0; }
	.layout-three-column #pagebody
	{
		background: url(theme-forestgreen/light-green-bg.gif) -80px 0 repeat;
	}
	
	.layout-three-column #alpha { width: 200px; }
	.layout-three-column #beta { width: 320px; margin: 20px 0 0 20px; }
	.layout-three-column #gamma { width: 200px; margin: 0 0 0 20px; }
