/* $Id: theme-tickle.css 27428 2006-04-19 02:04:46Z gwebb $ */

/* general page elements */

body
{
	 font-family: 'trebuchet ms', verdana, sans-serif;
}

a { color: #fe0000; }
a:visited { color: #ce0000; }
a:hover { color: #f66; }

#banner a { color: #c5a89c; text-decoration: none; }
#banner a:hover { color: #f66; text-decoration: none; }

h1, h2, h3, h4, h5, h6
{
	color: #A85028;
	font-family: georgia, serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	p\osition: relative; /* ie win >= 5.5 bugfix */
	margin: 0;
	padding: 0 8px 6px 7px;
	color: #a98475;
	background: url(theme-tickle/h2-bg.gif) bottom left no-repeat;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-size: 15px;
	line-height: 18px;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: 11px;
}


/* page layout */

body
{
	min-width: 770px;
	color: #403610;
	background: #fff;
}

#container
{
	width: 770px;
	background: #fff url(theme-tickle/pinky-bg.gif) -318px 0 repeat-y;
}

#container-inner
{
	background: url(theme-tickle/pinky-left-bg.gif) -400px 0 repeat-y;
}

#banner
{
	background: url(theme-tickle/pinky-top-left-bg.gif) -400px 0 no-repeat;
}
	
	/* safari fix for #pagebody overlapping #banner and obscuring links */
	html>body #banner a
	{
		position: relative;
		z-index: 3;
	}

#banner-inner
{
	position: relative;
	z-index: 3;
	background: url(theme-tickle/pinky-top-bg.gif) -318px 0 no-repeat;
}

.banner-user
{
	float: right;
	width: 70px;
	margin: 10px 0 5px 10px;
	font-size: 10px;
	font-weight: bold;
}

.banner-user-photo { border: 3px double #c5a89c; background: #fff; }

#banner-header
{
	margin: 0 0 0 45px;
	border: 0;
	padding: 12px 30px 15px 0;
	color: #c5a89c;
	background: url(theme-tickle/pinky-tail-bg.gif) right top no-repeat;
	font: normal 26px georgia, serif;
	letter-spacing: -1px;
	text-align: right;
}

#banner-description
{
	margin: -5px 30px 10px 335px;
	padding: 0;
	min-height: 8px;
	color: #2A6077;
	background: none;
	font-size: 11px;
	text-align: right;
}

/* ie win min-height trick (hide from mac ie) \*/
* html #banner-description { height: 8px !important; }
/* */

#pagebody
{
	background: url(theme-tickle/pinky-bottom-bg.gif) -318px 100% no-repeat;
}

#pagebody-inner
{
	padding-bottom: 256px;
	background: url(theme-tickle/pinky-bottom-left-bg.gif) -400px 100% no-repeat;
}

#alpha
{
	position: relative;
	width: 272px;
	margin: -64px 0 0 35px;
}

#beta
{
	width: 430px;
	margin: 0 0 0 25px;
}
	
#gamma,
#delta
{
	width: 206px;
}

.date-header
{
	margin: 0;
	padding: 0 8px 7px 7px;
	color: #a98475;
	background: url(theme-tickle/h2-bg.gif) bottom left no-repeat;
	font-family: georgia, serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1;
}

.entry-header
{
	margin: 5px 10px;
	color: #2a6077;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
}


/* modules */

.module-calendar .module-content table { font-size: 11px; }

.module-list-item
{
	margin-top: 0;
	margin-bottom: 0;
}

.module-featured-image .module-content img { width: 418px; }

.module-photo .module-content
{
	padding: 3px;
	background: url(theme-tickle/photo-bg.gif) center top no-repeat;
}

.module-photo img { border: solid 1px #f6e9e2; }

.module-recent-photos .module-list
{
	margin: 10px -10px 10px 0;
	border: 0;
	padding: 0;
	list-style: none;
}

.module-recent-photos .module-list-item
{
	display: block;
	float: left;
	margin: 0 7px 7px 0;
	width: 64px; /* mac ie fix */
}

.module-recent-photos .module-list-item a
{
	display: block;
	border: 1px solid #fff;
	padding: 1px;
	background: #fe0000;
}

.module-recent-photos .module-list-item a:hover
{
	background: #fff;
	border-color: #fe0000;
}


/* calendar tweaks */

	.module-mmt-calendar { width: 430px; }
	.module-mmt-calendar .module-header
	{
		margin: 5px 0;
		padding: 0;
		color: #a98475;
		background: none;
		font: normal 18px georgia, serif;
	}
	.module-mmt-calendar table { background: #4d7a88; }

	.module-mmt-calendar th,
	.module-mmt-calendar td
	{
		text-align: left;
		font-size: 13px;
	}

	.module-mmt-calendar th
	{
		border-right: solid 1px #fff;
		padding: 5px;
		color: #fff;
		background: #c5a89c;
		text-align: center;
		font-weight: normal;
	}

	th.weekday-7 { border-right: none; }

	.module-mmt-calendar td
	{
		border-bottom: solid 1px #f7eae3;
		padding: 2px;
		color: #2a6077;
		background: #f7eae3 url(theme-tickle/td-bg.gif);
		text-align: right;
	}

	td.day-8, td.day-9, td.day-10, td.day-11, td.day-12, td.day-13, td.day-14,
	td.day-22, td.day-23, td.day-24, td.day-25, td.day-26, td.day-27, td.day-28,
	td.day-36, td.day-37, td.day-38, td.day-39, td.day-40, td.day-41, td.day-42
	{
		background: #e1cec5 url(theme-tickle/td-alt-bg.gif)
	}

	.module-mmt-calendar .day-date
	{
		padding-bottom: 2px;
	}

	.day-photo a
	{
		border: solid 1px #fff;
		padding: 1px;
		background: #fe0000;
	}

	.day-photo a:hover
	{
		border-color: #fe0000;
		background: #fff;
	}


/* moblog1 tweaks */
	
	/* right side backgrounds */
	.layout-moblog1 #container { background-position: -365px 0; }
	.layout-moblog1 #banner-inner { background-position: -365px 0; }
	.layout-moblog1 #pagebody { background-position: -365px 100%; }
	
	.layout-moblog1 #banner-description { margin-left: 295px; } /* to accomodate pinky */
	
	.layout-moblog1 #alpha { width: 225px; }
	
	.layout-moblog1 #beta
	{
		width: 290px;
		margin: 0 0 0 35px;
	}
	
	.layout-moblog1 #gamma
	{
		width: 170px;
		margin: 0 0 0 15px;
	}
	
	.layout-moblog1 #alpha-inner { min-height: 100px; }
	
	.layout-moblog1 .module-recent-photos .module-content { margin-left: 10px; }
	
	.layout-moblog1 .entry
	{
		padding-bottom: 15px;
		background: url(theme-tickle/posted-bg.gif) center bottom no-repeat;
	}


/* moblog2 tweaks */
	
	/* left side backgrounds */
	.layout-moblog2 #container-inner { background-position: -345px 0; }
	.layout-moblog2 #banner { background-position: -345px 0; }
	.layout-moblog2 #pagebody-inner { background-position: -345px 100%; }
	
	/* right side backgrounds */
	.layout-moblog2 #container { background-position: -250px 0; }
	.layout-moblog2 #banner-inner { background-position: -250px 0; }
	.layout-moblog2 #pagebody { background-position: -250px 100%; }
	
	.layout-moblog2 #banner-description { margin-left: 400px; } /* to accomodate pinky */
	
	.layout-moblog2 #alpha
	{
		width: 78px;
		margin: -64px 0 0 0;
	}
	
	.layout-moblog2 #beta
	{
		width: 285px;
		margin: -64px 0 0 15px;
	}
	
	.layout-moblog2 #gamma
	{
		width: 200px;
		margin: 0 0 0 25px;
		/* text-align: center; */ /* this doesn't look that good */
		padding-bottom: 15px;
		background: url(theme-tickle/posted-bg.gif) center bottom no-repeat;
	}
	
	.layout-moblog2 #delta
	{
		float: left;
		width: 120px;
		margin: 0 0 0 25px;
		padding-bottom: 15px;
		background: url(theme-tickle/posted-bg.gif) center bottom no-repeat;
	}
	
	.layout-moblog2 #alpha-inner { min-height: 100px; }
	
	.layout-moblog2 .entry { margin-bottom: 40px; }
	
	.layout-moblog2 .module-photo .module-content { background: none; }
	.layout-moblog2 .module-photo img { width: 112px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-list { margin: 0 0 0 7px; }
	.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 7px 0; }


/* timeline tweaks */
	
	/* right side backgrounds */
	.layout-timeline #container { background-position: -275px 0; }
	.layout-timeline #banner-inner { background-position: -275px 0; }
	.layout-timeline #pagebody { background-position: -275px 100%; }
	
	.layout-timeline #banner-description { margin-left: 380px; } /* to accomodate pinky */
	
	.layout-timeline #alpha { width: 320px; }
	
	.layout-timeline #beta
	{
		width: 364px;
		margin: 0 0 0 25px;
	}
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 172px;
	}
	
	.layout-timeline .module-recent-photos .module-header
	{
		margin: 5px 0;
		padding: 0;
		color: #a98475;
		background: none;
		font: normal 18px georgia, serif;
	}
	
	.layout-timeline .module-recent-photos .module-content
	{
		margin: 0 0 15px 0;
		border: 1px solid #e3d0c7;
		padding: 0 0 7px 7px;
		background: #f7eae3 url(theme-tickle/td-bg.gif);
	}
	
	.layout-timeline .module-recent-photos .module-list { margin: 0; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 7px 7px 0 0; }


/* one-column tweaks */
	
	body.layout-one-column { min-width: 610px; }
	
	/* right side backgrounds */
	.layout-one-column #container { background-position: -145px 0; width: 610px; }
	.layout-one-column #banner-inner { background-position: -145px 0; }
	.layout-one-column #pagebody { background-position: -145px 100%; }
	
	.layout-one-column #banner-header
	{ 
		margin-left: 35px;
		padding-left: 10px;
		text-align: left;
	}
	
	.layout-one-column #banner-description
	{
		margin: -22px 130px 20px 35px;
		padding-top: 10px;
		padding-left: 10px;
		background: url(theme-tickle/h2-bg.gif) top left no-repeat;
		text-align: left;
	}
	
	
	.layout-one-column #banner-description
	{ 
		text-align: left;
	}
	
	.layout-one-column #alpha { width: 445px; margin: 0 0 0 35px; }


/* two-column-left tweaks */
	
	/* right side backgrounds */
	.layout-two-column-left #container { background-position: -365px 0; }
	.layout-two-column-left #banner-inner { background-position: -365px 0; }
	.layout-two-column-left #pagebody { background-position: -365px 100%; }
	
	.layout-two-column-left #banner-description { margin-left: 295px; } /* to accomodate pinky */
	
	.layout-two-column-left #alpha { width: 225px; }
	
	.layout-two-column-left #beta
	{
		width: 445px;
		margin: 0 0 0 35px;
	}
	
	.layout-two-column-left #alpha-inner { min-height: 100px; }
	
	.layout-two-column-left .entry
	{
		padding-bottom: 15px;
		background: url(theme-tickle/posted-bg.gif) center bottom no-repeat;
	}


/* two-column-right tweaks */
	
	/* right side backgrounds */
	.layout-two-column-right #container { background-position: -135px 0; }
	.layout-two-column-right #banner-inner { background-position: -135px 0; }
	.layout-two-column-right #pagebody { background-position: -135px 100%; }
	
	.layout-two-column-right #banner-description { margin-left: 515px; } /* to accomodate pinky */
	
	.layout-two-column-right #alpha { width: 445px; }
	
	.layout-two-column-right #beta
	{
		width: 225px;
		margin: 0 0 0 35px;
	}


/* three-column tweaks */
	
	/* right side backgrounds */
	.layout-three-column #container { background-position: -380px 0; }
	.layout-three-column #banner-inner { background-position: -380px 0; }
	.layout-three-column #pagebody { background-position: -380px 100%; }
	
	.layout-three-column #banner-description { margin-left: 270px; } /* to accomodate pinky */
	
	.layout-three-column #alpha { width: 210px; }
	
	.layout-three-column #beta
	{
		width: 280px;
		margin: 0 0 0 25px;
	}
	
	.layout-three-column #gamma
	{
		width: 210px;
		margin: 0 0 0 10px;
	}
	
	.layout-three-column #alpha-inner { min-height: 100px; }
	
	.layout-three-column .entry
	{
		padding-bottom: 15px;
		background: url(theme-tickle/posted-bg.gif) center bottom no-repeat;
	}
