/*---------- Manage Settings ----------*/
/*-------------------------------------*/

#manageSettings {
    }

.Subscribe {
    width: 100%;
    padding: 0;
    margin: .5em 0 0 0;
    clear: both;
    }
    
    .Subscribe tr.Inactive {
        color: #aaa;
    }

    .Subscribe tr.Disabled {
        background-color: #eee;
        }
        
        .Subscribe tr.Inactive a {
            color: #aaa;
            }
    
    .Subscribe td {
        padding: .3em;
        }

		.Subscribe td img {
			border: 0;
			}

		.Subscribe td label {
			cursor: pointer !important;
			}
			
	.Subscribe td p {
		font-size: 1.4em;
		padding: 0 1em;
		color: #bbb;
		background: #fff;
		line-height: 1.5;
		cursor: default !important;
		}

	.CategoryRow .Caption {
		text-align: right;
		}

.CategoryRow {
    width: 100%;
    }

    .CategoryRow td {
        vertical-align: middle;
        background-color: #eee;
        border-bottom: 1px solid #ddd;
		padding: .2em .4em;
		font-size: .85em;
        }

	.CategoryRow .caption {
		text-align: right;
		}
        
    .CategoryRow label {
        }
    
    .CategoryHeading {
		font-weight: bold;
        }

    .CategoryHeadingNote {
        }

#Subscriptions {
    width: 100%;
}
#Subscriptions th {
    text-align: left;
}
#Subscriptions td, #Subscriptions th {
    padding-left: .5em;
    padding-right: .5em;
}
#Subscriptions tr.lighter {
    background-color: #cff;
}
#Subscriptions tr.darker {
    background-color: #9cc;
}
div.argOptsContainer {
  display: none;
}

#SubscribeSaveButtons {
    text-align: center;
    border: 1px solid #333;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    }
    
    #SubscribeSaveButtons input {
        margin: 5px;
        }

#SubscriptionInfo {
    width: 95%;
    text-align: center;
    margin: 1em auto;
    }
    
    #SubscriptionInfo p, #SubscriptionInfo div {
        font-size: 1em;
        margin: 0;
        padding: .2em;
        }

/*----------- Message Center ----------*/
/*-------------------------------------*/


#NotificationTable {
    }

    #NotificationTable tr.Selected {
        background-color: #cee0fb;
        }
        
        #NotificationTable tr.Selected td {
			border-top: 1px solid #ccc;
            }

        #NotificationTable td {
			border-top: 1px solid #ddd;
            }


#NotificationSidebar {
	
	}
	
	#NotificationSidebar p {
		margin: 0;
		padding: 0;
		}

	#NotificationSidebar .Blurb {
		margin: 0 0 1em 0;
		padding: 0;
		}
		
		#NotificationSidebar .BlurbTitle {
			font-weight: bold;
			margin: 0 0 .4em 0;
			}

	#NotificationSidebar .ljad {
		float: left;
		margin-right: 1em;
		}
        
.esnlinks {
    float: right;
    display: block;
    margin: 0 0 0 0;
    }

#inbox {
    padding: 0;
    margin: .5em 0 2em 0;
	border: 1px solid #ccc;
    }
    
    #inbox .header {
		width: 100%;
		}

    #inbox thead {
        margin: 0;
        padding: .4em;
        background: #eee;
        }
        
        #inbox thead td {
            vertical-align: middle;
			border: 0;
            }
            
        #inbox thead input {
            }
            
        .actions {
            }

		span.Pages {
			float: right;
			}
			
			span.Pages input {
				}
        
    #inbox tr {
		cursor: pointer;
        }
    
.inbox_newitems {
    font-weight: bold;
    }
    
.InboxItem_Unread {
    font-weight: bold;
    }

.InboxItem_Read {
	color: #888;
	}
	
	span.InboxItem_Read:hover {
		color: #000;
		}
	
	span.InboxItem_Read a {
		color: #999 !important;
		}
		
		span.InboxItem_Read:hover a {
			color: inherit !important;
			}
    
.InboxItem_Meta {

    }
    
    .InboxItem_Meta td {
        padding: 0 0 0 0;
        }
    
    #inbox .alt {
        background: #f6f6f6;
		
        }
        
        #inbox .alt td {
	
            }
    
#inbox .checkbox {
    width: 1%;
    padding: .1em;
	vertical-align: top;
    }

#inbox td.NoItems {
	font-size: 3em;
	text-align: center;
	padding: 1em;
	color: #ddd;
	cursor: default !important;
	}
    
#inbox td.item { 
    padding: .3em 0 .2em .4em !important;
	vertical-align: middle;
    }

.InboxItem_Content {
    padding: .5em 0 .2em 0;
 	width: 95%;
    }

	.InboxItem_Content img {
		max-width: 90%;
		height: auto;
		}
        
#inbox td.time {
    width: 8.5em;
	font-size: .8em;
    color: #555;
	vertical-align: top;
	padding-top: .4em;
    }
    
#inbox .JournalNewComment {
    
    }
    
    #inbox .Subject {
        font-weight: bold;
        }
        
    #inbox .ManageButtons {
		float: right;
		width: 81px;
		position: relative;
		top: 4px;
		margin: 0 0 .5em 0;
        }
        
    #inbox .Body {
        }

		#NotificationTable tr.Selected .Body {
			}