<TMPL_IF expr="link_prev || link_next">
	<p class='i-qotd-nav'>
		<TMPL_IF link_prev>
			<a class='i-qotd-nav-prev' href='<TMPL_VAR link_prev>'>prev</a>
		<TMPL_ELSE>
			<span class='i-qotd-nav-prev i-qotd-nav-prev-dis'>prev</span>
		</TMPL_IF>

		<TMPL_IF link_next>
			<a class='i-qotd-nav-next' href='<TMPL_VAR link_next>'>next</a>
		<TMPL_ELSE>
			<span class='i-qotd-nav-next i-qotd-nav-next-dis'>next</span>
		</TMPL_IF>
	</p>
</TMPL_IF>

<TMPL_UNLESS entries>
	<p class='i-bubble b-bubble-warning b-bubble-noarrow'><TMPL_VAR expr="ml('/editjournal.bml.no_entries_to_edit')"></p>
</TMPL_UNLESS>

<TMPL_IF entries>
	<ul class='b-editentries'>
		<TMPL_LOOP entries>
			<li id="entry_<TMPL_VAR entry_id>" class='b-editentry'<TMPL_IF entry_reposted> data-url="<TMPL_VAR entry_url>" data-real-url='<TMPL_VAR delete_real_attr_link>'
                </TMPL_IF>>
				<p class='b-editentry-ctrls'>
					<TMPL_IF entry_can_edit>
						<a href='<TMPL_VAR edit_link ESCAPE=HTML>' class='b-editentry-edit-btn b-editentry-ctrl-btn'></a>
					<TMPL_ELSE>
                        <TMPL_IF entry_reposted>
    						<a href='<TMPL_VAR delete_link ESCAPE=HTML>' class='b-editentry-del-btn b-editentry-del-repost-btn b-editentry-ctrl-btn'></a>
                        <TMPL_ELSE>
                            <a href='<TMPL_VAR delete_link ESCAPE=HTML>' class='b-editentry-edit-btn b-editentry-ctrl-btn'></a>
                        </TMPL_IF>
					</TMPL_IF>
				</p>

				<h2>
					<TMPL_IF entry_is_delayed>
						<img src="<TMPL_VAR lj_imgprefix>/icon_delayed.png?v=11043" width=13 height=15 align=absmiddle class="i-posticon">
					</TMPL_IF>

					<TMPL_IF entry_is_sticky>
						<img src="<TMPL_VAR lj_imgprefix>/icon_sticky.png?v=11043" width=13 height=15 align=absmiddle class="i-posticon">
					</TMPL_IF>

					<TMPL_IF expr="entry_security eq 'private'">
						<img src="<?imgprefix?>/icon_private.gif?v=7017" width=16 height=16 align=absmiddle class="i-posticon">
					<TMPL_ELSIF expr="entry_security eq 'groups'">
						<img src="<?imgprefix?>/icon_groups.gif?v=13546" width=19 height=16 align=absmiddle class="i-posticon">
					<TMPL_ELSIF expr="entry_security eq 'friends'">
						<img src="<?imgprefix?>/icon_protected.gif?v=7017" width=14 height=15 align=absmiddle class="i-posticon">
					</TMPL_IF>
					<a href='<TMPL_VAR entry_url>'>
						<TMPL_IF entry_subject>
							<TMPL_VAR entry_subject ESCAPE=HTML>
						<TMPL_ELSE>
							<TMPL_VAR expr="ml('/editjournal.bml.event.no_subject.title')">
						</TMPL_IF>
					</a>
				</h2>

				<p class='date'>
					<TMPL_VAR poster_ljuser>
					<TMPL_VAR date_display>
				</p>

				<TMPL_VAR entry_text_display>

				<TMPL_IF entry_taglist>
					<p>
						<b>Tags:</b>
						<TMPL_VAR entry_taglist ESCAPE=HTML>
					</p>
				</TMPL_IF>
			</li>
		</TMPL_LOOP>
	</ul>

	<TMPL_IF adhtml>
		<td valign='top'><TMPL_VAR adhtml></td>
	</TMPL_IF>
</TMPL_IF>

<TMPL_UNLESS entries>
	<td valign='top'><TMPL_VAR adhtml></td>
</TMPL_UNLESS>

<TMPL_IF expr="link_prev || link_next">
	<p class='i-qotd-nav'>
		<TMPL_IF link_prev>
			<a class='i-qotd-nav-prev' href='<TMPL_VAR link_prev>'>prev</a>
		<TMPL_ELSE>
			<span class='i-qotd-nav-prev i-qotd-nav-prev-dis'>prev</span>
		</TMPL_IF>

		<TMPL_IF link_next>
			<a class='i-qotd-nav-next' href='<TMPL_VAR link_next>'>next</a>
		<TMPL_ELSE>
			<span class='i-qotd-nav-next i-qotd-nav-next-dis'>next</span>
		</TMPL_IF>
	</p>
</TMPL_IF>

<script>
    jQuery('div.appwidget-entrychooser').editentriesmanager();
</script>

