
/* basic page elements */

body
{
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
	font-size: 11px;
}

a { color: #6ab4a9; }
a:visited { color: #9acac3; }
a:hover { color: #b070c6; }

#banner a { color: #d156ae; text-decoration: none; }
#banner a:visited { color: #d156ae; }
#banner a:hover { color: #c6f; }

.module-content a { color: #b070c6; }
.module-content a:visited { color: #b070c6; }
.module-content a:hover { color: #c6c; }

h1, h2, h3, h4, h5, h6
{
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative; 
    width: 100%;
    w\idth: auto;
   
    margin: 0;
    border: 1px dashed #f595da;
    padding: 6px 10px 6px 10px;
    color: #de66bc;
    background: #fff url(theme-knitting/gradient-bg.gif) left top repeat-x;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.module-header a,
.trackbacks-header a,
.comments-header a,
.comments-open-header a,
.archive-header a
{
	color: #de66bc;
	text-decoration: underline;
}

.module-header a:visited,
.trackbacks-header a:visited,
.comments-header a:visited,
.comments-open-header a:visited,
.archive-header a:visited
{
	color: #de66bc;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover,
.archive-header a:hover
{
	color: #fff;
    background-color: #6db0f3;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: 11px;
}


/* page layout */

body
{
	color: #333;
	background: #fff url(theme-knitting/body-bg.gif) center top repeat;
}

#container { width: 750px; }
#container-inner { margin: 0 0 20px 0; }

#banner { margin-bottom: 10px; }

#banner-inner
{
	background: url(theme-knitting/yarn.gif) 35px 15px no-repeat;	
}

.banner-user
{
	width: 70px;
	margin-top: 4px;
	font-size: 10px;
}

.banner-user-photo { border: 3px double #fff; }

#banner-header
{
	margin: 0;
	padding: 35px 15px 5px 110px;
	color: #d156ae;
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
}

#banner-description
{
	margin: 0;
	padding: 0 15px 45px 110px;
	color: #6ab4a9;
	font-family: "trebuchet ms", verdana, sans-serif;
	font-size: 13px;
	line-height: 1.125;
}

#alpha, #beta, #gamma, #delta
{
	float: left;
	margin: 0 0 0 20px;
}

#alpha { margin-left: 35px; }

#alpha-inner, #beta-inner, #gamma-inner, #delta-inner
{
	padding: 0 0 25px 0;
}

#alpha { width: 255px; }
#beta { width: 405px; }

#gamma, #delta { width: 190px; }

#beta-inner { }

.date-header
{
	margin-top: 5px;
	padding: 0;
	color: #6ab4a9;
	font-family: "trebuchet ms", verdana, sans-serif;
	font-size: 11px;
}

.entry-header
{
	margin: 5px 0;
    padding: 2px 0 2px 32px;
    background: url(theme-knitting/entry-header-bg.gif) left center no-repeat;
	color: #d156ae;
	font-size: 18px;
	font-weight: bold;
}

.entry-content { margin: 0; }

.entry-more-link { font-weight: bold; }

.entry-footer
{
	margin: 10px 0 20px 0;
	padding: 5px 0;
	color: #6ab4a9;
	font-weight: normal;
}

#entry- {
	margin-bottom: 30px;
}

.content-nav { margin: 10px 15px; }


/* modules */

.module { color: #666; }

.module-calendar .module-content { margin: 5px 10px 15px 10px; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 11px; }

.module-powered { margin: 0; padding: 0; }
.module-powered a { font-weight: bold; }
.module-powered .module-content
{
	margin: 15px 0;
	padding: 8px 12px;
	border: 1px dashed #f595da;
	background: #fff url(theme-knitting/powered-bg.gif) left top repeat-x;
}

.module-photo { border: 0; background: none; }
.module-photo .module-content { margin: 10px; }
.module-photo img { border: 0; }

.module-list-item
{
	padding-left: 4px;
}

.typelist-thumbnailed { margin: 0 0 20px 0; }

.typelist-thumbnailed .module-list-item
{
	margin: 1px 0;
	border: 1px solid #ded5e8;
	padding: 0;
}

.typelist-thumbnail { background: #f1e3ea; }

.module-featured-photo { width: 400px; }
.module-featured-photo .module-content { margin: 0 0 5px 0; }
.module-featured-photo img { width: 415px; }

.module-recent-photos { border: 0; }
.module-recent-photos .module-content { margin-left: 1px; }
.module-recent-photos .module-list { margin: 0; }
.module-recent-photos .module-list-item
{
	width: 64px; /* mac ie fix */
	margin: 0 3px 6px 0;
	padding: 0;
	background: none;
}

.module-recent-photos .module-list-item a
{
	border: #bbb 1px solid;
	padding: 1px;
	background: #e7e7ec;
}

.module-recent-photos .module-list-item a:hover
{
	border-color: #d156ae;
	background: #e7e2c6;
}

.comments-open-content input { font-size: 12px; }

/* calendar tweaks */

	.layout-calendar #alpha { width: 245px; }
	.layout-calendar #beta { width: 415px; }
	.layout-calendar #gamma { width: 200px; margin: 0; }
	.layout-calendar #delta { width: 200px; margin: 0 0 0 15px; }
	
	.layout-calendar #beta-inner { padding-top: 0; }
	.layout-calendar #gamma-inner { padding-top: 0; }
	.layout-calendar #delta-inner { padding-top: 0; }
	
	.layout-calendar .comments-open-content #comments-open-data input { width: 220px; }
	.layout-calendar .comments-open-content #comments-open-data #comment-bake-cookie { width: auto; }
	.layout-calendar .comments-open-content #comments-open-text textarea { width: 220px; }

	.module-mmt-calendar { width: 415px; margin: 0; }
		
	.module-mmt-calendar .module-header,
	.layout-timeline .module-recent-photos .module-header
	{
		margin: 0;
		padding: 5px 15px;
		color: #de66bc;
		background: #fff url(theme-knitting/gradient-bg.gif) left top repeat-x;
		font-size: 13px;
		font-weight: bold;
		text-align: right;
	}
	
	.module-mmt-calendar .module-content { margin: 15px 0; }
	
	.module-mmt-calendar table
	{
		width: 415px;
		background: #fff;
	}
		
	.module-mmt-calendar th
	{
		color: #b68ece;
		border-top: 1px solid #fff;
		border-right: 1px solid #e7e7ec;
		border-bottom: 1px solid #dacdf8;
		padding: 2px;
		text-align: right;
		font-weight: bold;
	}
	
	.module-mmt-calendar td
	{
		border-top: 1px solid #fff;
		border-right: 1px solid #e7e7ec;
		border-bottom: 1px solid #bbb;
		padding: 2px;
		text-align: right;
		font-weight: normal;
	   	background: #fff url(theme-knitting/alt-gradient-bg.gif) left top repeat-x;
	}
	
	th.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
	{
		border-right: none;
	}
	
	.day-photo a
	{
		border: #bbb 1px solid;
		padding: 1px;
		background: #e7e7ec;
	}
	
	.day-photo a:hover
	{
		border-color: #d156ae;
		background: #e7e2c6;
	}

/* artistic tweaks */
   	
	.layout-artistic #gamma { margin-left: 0; }
  	.layout-artistic #gamma-inner, .layout-artistic #delta-inner { padding-top: 0; }
	
	.layout-artistic .comments-open-content #comments-open-data input { width: 230px; }
	.layout-artistic .comments-open-content #comments-open-data #comment-bake-cookie { width: auto; }
	.layout-artistic .comments-open-content #comments-open-text textarea { width: 230px; }

/* moblog1 tweaks */
	
	.layout-moblog1 #alpha { width: 170px; }
	.layout-moblog1 #beta { width: 305px; }
	.layout-moblog1 #gamma { width: 165px; }
	
	.layout-moblog1 #alpha-inner { padding-top: 0; }
	.layout-moblog1 #gamma-inner { padding-top: 0; }
   
	.layout-moblog1 .module-recent-photos { margin: 0; }
	.layout-moblog1 .module-recent-photos .module-content { margin: 10px 0 0 15px; }

/* moblog2 tweaks */
	
	.layout-moblog2 #alpha { width: 65px; }
	.layout-moblog2 #beta { width: 250px; }
	.layout-moblog2 #gamma { width: 194px; }
	.layout-moblog2 #delta
	{
      width: 120px;
      margin-left: 10px;
	}
	
	.layout-moblog2 #alpha-inner { padding: 0; }
	.layout-moblog2 #gamma-inner { padding-top: 0; }
	.layout-moblog2 #delta-inner { padding-top: 0; }
   
	.layout-moblog2 .module-photo .module-content { margin: 10px; }
	.layout-moblog2 .module-photo .module-content img { width: 100px; height: auto; }
	
	.layout-moblog2 .module-recent-photos { margin: 0; }
	.layout-moblog2 .module-recent-photos .module-content { margin: 0; }
	
	.layout-moblog2 .comments-open-content #comments-open-data input { width: 235px; }
	.layout-moblog2 .comments-open-content #comments-open-data #comment-bake-cookie { width: auto; }
	.layout-moblog2 .comments-open-content #comments-open-text textarea { width: 235px; }

/* timeline tweaks */
	
	.layout-timeline #gamma, .layout-timeline #delta { width: 180px; margin-left: 15px; }
   
	.layout-timeline #beta-inner { padding-top: 0; }
	.layout-timeline #gamma-inner { padding-top: 0; }
	.layout-timeline #delta-inner { padding-top: 0; }
	
	.layout-timeline .module-recent-photos .module-content { margin: 10px 0 0 15px; }
	.layout-timeline .module-recent-photos .module-list-item { margin: 0 10px 10px 0; }
	
	.layout-timeline .comments-open-content #comments-open-data input { width: 230px; }
	.layout-timeline .comments-open-content #comments-open-data #comment-bake-cookie { width: auto; }
	.layout-timeline .comments-open-content #comments-open-text textarea { width: 230px; }

/* one-column tweaks */

	body.layout-one-column { background-image: url(theme-knitting/body-bg-1.gif); }
	
	.layout-one-column #container { width: 600px }
	.layout-one-column #banner { width: 600px; }
	
	.layout-one-column #alpha { width: 530px; }
	
	.layout-one-column #container-inner
	{
		margin: 0 10px 0 0;
		background: none;
	}
	
/* two-column-left tweaks */

	.layout-two-column-left #alpha { width: 200px; }
	.layout-two-column-left #beta { width: 460px; }
   
	.layout-two-column-left #alpha-inner { padding-top: 0; }


/* two-column-right tweaks */

	.layout-two-column-right #alpha
	{
		width: 460px;
	}
	
	.layout-two-column-right #beta
	{
		width: 200px;
	}
   
	.layout-two-column-right #beta-inner { padding-top: 0; }

/* three-column tweaks */
	
	.layout-three-column #alpha { width: 170px; }
	.layout-three-column #beta { width: 300px; }
	.layout-three-column #gamma { width: 170px; }
   
	.layout-three-column #alpha-inner { padding-top: 0; }
	.layout-three-column #gamma-inner { padding-top: 0; }
