/* $Id: theme-purplecrush.css 13915 2005-06-27 17:57:37Z ydnar $ */

/* basic page elements */

body
{
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
	font-size: 12px;
}

a { color: #9cf; text-decoration: underline; }
a:visited { color: #c9f; }
a:hover { color: #9C0; }

#banner a { color: #fff; text-decoration: none; }
#banner a:visited { color: #fff; }
#banner a:hover { color: #f9f; }

.module-content a { color: #96c; font-weight: bold; }
.module-content a:visited { color: #bcaace; }
.module-content a:hover { color: #9c0; }

h1, h2, h3, h4, h5, h6
{
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative; 
	width: 100%;
	w\idth: auto;
	
	margin: 0 0 1px 0;
	padding: 5px 5px 5px 25px;
	color: #fff;
	background: #A479E7 url(theme-purplecrush/colitem-header-bg.gif) 0 50% repeat;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
}

.module-header a,
.module-header a:visited,
.trackbacks-header a,
.trackbacks-header a:visited,
.comments-header a,
.comments-header a:visited,
.comments-open-header a,
.comments-open-header a:visited,
.archive-open-header a,
.archive-open-header a:visited
{
	color: #fff;
	font-weight: bold;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover,
.archive-header a:hover
{
	color: #fff;
}


/* page layout */

body
{
	min-width: 780px;
	color: #666;
	background: #C784E8;
}

#container
{
	width: 780px;
	background: transparent url(theme-purplecrush/container-bg.gif) repeat-y;
}

#container-inner
{
	margin: 0 10px 0 10px;
	border-bottom: 1px solid #af4ab9;
	background: transparent url(theme-purplecrush/column-right-bg.gif) -500px 0 repeat-y;
}

#banner
{
	width: 760px; /* necessary for ie win */
	border-bottom: 1px solid #ac4ab9;
	background: #81359a url(theme-purplecrush/banner-bg.gif) repeat;
}

#banner-inner { padding: 20px; }

.banner-user
{
	width: 70px;
	margin-top: 4px;
	font-size: 10px;
}

.banner-user-photo { border: 3px solid #fff; }

#banner-header
{
	margin: 0;
	color: #FFF;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}

#banner-description
{
	margin: 1px 0;
	color: #fff;
	background: none;
	font-size: 12px;
	line-height: 1.125;
}

#alpha { margin: 20px 0 20px 20px; width: 260px; }
#beta { margin: 20px 0 0 40px; width: 420px; }
#gamma, #delta { width: 202px; }

.date-header
{
	margin: 0;
	color: #06f;
	font-size: 14px;
	text-transform: uppercase;
}

.entry-header
{
	margin: 10px 0;
	padding: 0 0 0 20px;
	color: #93C;
	background: #fff url(theme-purplecrush/entry-header-bg.gif) no-repeat;
	font-size: 18px;
	font-weight: bold;
}

.entry-content { margin: 0; }
.entry-footer
{
	margin: 0 0 20px 0;
	border-top: 1px solid #ccccff;
	padding-top: 2px;
	color: #666;
	font-weight: normal;
}

.entry { margin-bottom: 20px; }

.content-nav { padding-top: 0; }


/* modules */

.module-calendar .module-content { margin: 5px 0 15px 0; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 11px; }

.module-mmt-calendar .module-header a { color: #93c; }
.module-mmt-calendar .module-header a:visited { color: #93c; }
.module-mmt-calendar .module-header a:hover { color: #069; }

.module-powered { margin: 20px 0; }
.module-powered .module-content
{
	margin: 0;
	padding: 10px;
	border: 1px solid #96c;
	color: #96c;
	background: #ecdffa url(theme-purplecrush/powered-bg.gif) repeat;
}

.module-powered a { color: #90c; }
.module-powered a:visited { color: #90c; }
.module-powered a:hover { color: #9c0; }

.module-photo { background: none; }
.module-photo img { border: solid 1px #dce1e4; }

.module-list-item
{
	margin: 5px 0;
	padding-left: 12px;
	background: url(theme-purplecrush/li-bg.gif) 0 0.5em no-repeat;
}

.typelist-thumbnailed .module-list { margin: 0; }

.typelist-thumbnailed .module-list-item
{
	margin: 0 0 1px 0;
	padding: 0;
	border: 1px solid #d9dee1;
	background: #ecdffa url(theme-purplecrush/typelist-thumbnailed-bg.gif) repeat;
}

.typelist-thumbnail { background: #fff; }

.module-featured-photo img
{
	width: 414px;
}


/* recent photos */

.module-recent-photos .module-content { margin: 6px 0 0 0; }

.module-recent-photos .module-list { margin: 0; }

.module-recent-photos .module-list-item
{
	width: 64px; /* mac ie fix */
	margin: 0 6px 6px 0;
	padding: 0;
	background: none;
}

.module-recent-photos .module-list-item a
{
	border: 1px solid #39c;
	padding: 1px;
	background: #fff;
}

.module-recent-photos .module-list-item a:hover
{
	border-color: #f93;
}


/* artistic tweaks */


/* calendar tweaks */
	
	.layout-calendar #beta { overflow: visible; }
	
	.module-mmt-calendar { width: 420px; }
		
	.module-mmt-calendar .module-header
	{
		margin: 0;
		border: 0;
		padding: 0;
		color: #937cb6;
		background: none;
		font-size: 14px;
		font-weight: normal;
		text-align: right;
		text-transform: uppercase;
	}
	
	.module-mmt-calendar table
	{
		margin-top: 5px;
		border-right: 1px solid #eee;
		color: #fff;
		background: #cbb8e9;
	}
		
	.module-mmt-calendar th
	{
		border-right: 1px solid #eee;
		padding: 2px;
		text-align: right;
		font-weight: normal;
	    background: #a78dce;
	}
	
	.module-mmt-calendar td
	{
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 2px;
		text-align: right;
		font-weight: normal;
	    background: #ecdffa url(theme-purplecrush/calendar-td-bg.gif) repeat;
	}
	
	.module-mmt-calendar .weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
	{
		border-right: none;
	}
	
	.day-photo a
	{
		border: solid 1px #96c;
		padding: 1px;
		background: #fff;
	}
	
	.day-photo a:hover
	{
		border-color: #0cf;
	}


/* moblog1 tweaks */

	.layout-moblog1 #container-inner { background-position: -220px 0; }
	.layout-moblog1 #pagebody
	{
		background: transparent url(theme-purplecrush/column-left-bg.gif) -580px 0 repeat-y;
	}
	
	.layout-moblog1 #alpha { width: 200px; }
	
	.layout-moblog1 #beta
	{
		width: 320px;
		margin: 20px 0 20px 20px;
	}
	
	.layout-moblog1 #gamma
	{
		width: 160px;
		margin: 20px 0 20px 40px;
	}
	
	.layout-moblog1 .entry { margin-bottom: 40px; }

	.layout-moblog1 .module-recent-photos .module-content { margin: 6px 0 0 12px; }
	
	.layout-moblog1 .module-powered .module-content
	{
		margin-right: 20px;
	}


/* moblog2 tweaks */

	.layout-moblog2 #container-inner { background-position: -350px 0; }
	.layout-moblog2 #pagebody
	{
		background: transparent url(theme-purplecrush/column-left-bg.gif) -690px 0 repeat-y;
	}
	.layout-moblog2 #pagebody-inner
	{
		background: transparent url(theme-purplecrush/column-right-bg.gif) -160px 0 repeat-y;
	}
	
	.layout-moblog2 #alpha { width: 70px; }
	.layout-moblog2 #beta { width: 300px; margin: 0 0 0 40px; }
	.layout-moblog2 #gamma { width: 170px; margin: 0 0 0 40px; }
	
	.layout-moblog2 #delta
	{
		float: left;
		width: 100px;
		margin: 0 0 0 20px;
	}

	.layout-moblog2 .module-header,
	.layout-moblog2 .trackbacks-header,
	.layout-moblog2 .comments-header,
	.layout-moblog2 .comments-open-header
	{
		margin: 20px 0 1px 0;
	}
	
	.layout-moblog2 .date-header { margin-top: 20px; }	

	.layout-moblog2 .content-nav { padding-top: 20px; }
	
	.layout-moblog2 .module-photo .module-content { margin: 0; }
	.layout-moblog2 .module-photo img { width: 80px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-content
	{
		margin: 0;
		padding: 0;
		background: none;
	}
	
	.layout-moblog2 .module-recent-photos .module-list { margin: 0; }
	.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 5px 0; }
	
	.layout-moblog2 .module-powered .module-content
	{
		margin-right: 20px;
	}
	
	
/* timeline tweaks */
	.layout-timeline #container-inner { background-position: -420px 0; }
	
	.layout-timeline #alpha { width: 338px; }
	.layout-timeline #beta { width: 362px; }
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 170px;
	}
	
	.layout-timeline .module-recent-photos .module-content { padding: 0 0 10px 0; }
	.layout-timeline .module-recent-photos .module-list { margin: 7px 7px 0 0; }
		
	
/* one-column tweaks */

	.layout-one-column body
	{
		min-width: 620px;
		color: #ccc;
		background: #343f4a url(theme-purplecrush/body-bg.gif) repeat-x;
	}
	
	.layout-one-column #container
	{
		width: 620px;
		background: transparent url(theme-purplecrush/one-column-container-bg.gif) repeat-y;
	}
	
	.layout-one-column #container-inner
	{
		margin: 0 10px 0 10px;
		border-bottom: 1px solid #5b626a;
		background: transparent url(theme-purplecrush/column-right-bg.gif) -500px 0 repeat-y;
	}
	
	.layout-one-column #banner
	{
		width: 600px; /* necessary for ie win */
		background: #81359a url(theme-purplecrush/banner-bg.gif) repeat;
	}
	
	.layout-one-column #container-inner { background: none; }
	.layout-one-column #alpha { width: 560px; }

	
/* two-column-left tweaks */

	.layout-two-column-left #container-inner { background: none; }

	.layout-two-column-left #pagebody
	{
		background: transparent url(theme-purplecrush/column-left-bg.gif) -580px 0 repeat-y;
	}
	
	.layout-two-column-left #alpha { width: 200px; }
	.layout-two-column-left #beta
	{
		width: 500px;
		margin: 20px 0 0 20px;
	}
	
	.layout-two-column-left .module-powered .module-content
	{
		margin-right: 20px;
	}


/* two-column-right tweaks */

	.layout-two-column-right #container-inner { background: none; }

	.layout-two-column-right #pagebody
	{
		background: transparent url(theme-purplecrush/column-right-bg.gif) -260px 0 repeat-y;
	}
	
	.layout-two-column-right #container-inner { background: none; }
	.layout-two-column-right #alpha { width: 500px; }
	.layout-two-column-right #beta
	{
		width: 200px;
		margin: 20px 0 0 40px;
	}
	
	.layout-two-column-right .module-powered .module-content
	{
		margin-right: 20px;
	}


/* three-column tweaks */
	
	.layout-three-column #container-inner { background-position: -260px 0; }

	.layout-three-column #pagebody
	{
		background: transparent url(theme-purplecrush/column-left-bg.gif) -580px 0 repeat-y;
	}
	
	.layout-three-column #alpha { width: 200px; }
	
	.layout-three-column #beta
	{
		width: 280px;
		margin: 20px 0 20px 20px;
	}
	
	.layout-three-column #gamma
	{
		width: 200px;
		margin: 20px 0 20px 40px;
	}
	
	.layout-three-column .module-powered .module-content
	{
		margin-right: 20px;
	}



