/* $Id: theme-stitch.css 14270 2005-07-06 01:20:10Z ydnar $ */

/* basic page elements */

body
{
	font-family: arial, helvetica, 'trebuchet ms', sans-serif;
	font-size: 11px;
}

a { color: #c3c; text-decoration: underline; font-weight: bold; }
a:visited { color: #939; }
a:hover { color: #f60; }

#banner a { color: #fff; font-weight: bold; text-decoration: none; }
#banner a:visited { color: #fff; }
#banner a:hover { color: #f60; }

.module-content a { color: #96c; font-weight: bold; }
.module-content a:visited { color: #bcaace; }
.module-content a:hover { color: #9c0; }

h1, h2, h3, h4, h5, h6
{
	font-family: arial, helvetica, 'trebuchet ms', sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
	/* ie win (5, 5.5, 6) bugfix */
	p\osition: relative; 
	width: 100%;
	w\idth: auto;
	
	margin: 0 0 1px 0;
	padding: 5px 5px 5px 25px;
	border: 1px dashed #f9f;
	color: #909;
	background: #fff url(theme-stitch/colitem-header-bg.gif) no-repeat;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.module-header a,
.module-header a:visited,
.trackbacks-header a,
.trackbacks-header a:visited,
.comments-header a,
.comments-header a:visited,
.comments-open-header a,
.comments-open-header a:visited,
.archive-header a,
.archive-header a:visited
{
	color: #c3f;
}

.module-header a:hover,
.trackbacks-header a:hover,
.comments-header a:hover,
.comments-open-header a:hover,
.archive-header
{
	color: #f93;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: 11px;
}


/* page layout */

body
{
	min-width: 780px;
	color: #666;
	background: #909;
}

#container
{
	width: 780px;
	background: transparent url(theme-stitch/container-bg.gif) repeat-y;
}

#container-inner
{
	margin: 0 10px 0 10px;
	border-bottom: 1px solid #606;
	background: transparent url(theme-stitch/column-right-bg.gif) -500px 0 repeat-y;
}

#banner
{
	width: 760px; /* necessary for ie win */
	border-bottom: 10px solid #ce4ece;
	background: #e863e8 url(theme-stitch/banner-bg.gif) repeat-x;
}

#banner-inner { padding: 20px; }

.banner-user
{
	width: 70px;
	margin-top: 4px;
	font-size: 10px;
}

.banner-user-photo { border: 3px solid #fff; }

#banner-header
{
	margin: 0;
	color: #fff;
	font-family: georgia,'times new roman', times, serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}

#banner-description
{
	margin: 1px 0;
	color: #fff;
	background: none;
	font-size: 12px;
	line-height: 1.125;
}

#alpha { margin: 20px 0 20px 20px; width: 260px; }
#beta { margin: 20px 0 0 40px; width: 420px; }
#gamma, #delta { width: 202px; }

.date-header
{
	margin: 0;
	color: #909;
	font-size: 14px;
	text-transform: uppercase;
}

.entry-header
{
	margin: 10px 0;
	padding: 20px 0 0 0;
	color: #f60;
	background: transparent url(theme-stitch/entry-header-bg.gif) no-repeat;
	font-family: georgia,'times new roman', times, serif;
	font-size: 18px;
	font-weight: bold;
}

.entry-content { margin: 0; }
.entry-footer
{
	margin: 0;
	border-top: 1px solid #d7d7d7;
	padding-top: 2px;
	color: #c9c;
	font-weight: normal;
}

.content-nav { margin-top: 0; }


/* modules */

.module-calendar .module-content { margin: 5px 0 15px 0; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 11px; }

.module-powered { margin: 20px 0; }
.module-powered .module-content
{
	margin: 0;
	padding: 10px;
	border: 1px dashed #909;
	color: #939;
	background: #f4d3f4 url(theme-stitch/powered-bg.gif) repeat-x;
}

.module-powered a { color: #909; }
.module-powered a:visited { color: #909; }
.module-powered a:hover { color: #63c; }

.module-photo { background: none; }
.module-photo img { border: solid 1px #dce1e4; }


.module-list-item
{
	padding-left: 12px;
	background: url(theme-stitch/li-bg.gif) 0 0.4em no-repeat;
	line-height: 150%;
}

.typelist-thumbnailed .module-list
{
	margin: 0;
}

.typelist-thumbnailed .module-list-item
{
	margin: 0 0 1px 0;
	padding: 0;
	border: 1px solid #f9f;
	background: transparent url(theme-stitch/typelist-thumbnailed-bg.gif) repeat;
}

.typelist-thumbnail { background: #fff; }

.module-featured-photo img
{
	width: 414px;
}

/* recent photos */

.module-recent-photos .module-content { margin: 6px 0 0 0; }

.module-recent-photos .module-list { margin: 0; }

.module-recent-photos .module-list-item
{
	width: 64px; /* mac ie fix */
	margin: 0 6px 6px 0;
	padding: 0;
	background: none;
}

.module-recent-photos .module-list-item a
{
	border: 1px solid #909;
	padding: 1px;
	background: #fff;
}

.module-recent-photos .module-list-item a:hover
{
	background: #fff;
	border-color: #f93;
}


/* artistic tweaks */


/* calendar tweaks */
	
	.layout-calendar #beta { overflow: visible; }
	
	.module-mmt-calendar { width: 420px; }
	
	.layout-calendar .module-mmt-calendar .module-header
	{
		margin: 0 0 5px 0;
		border: 0;
		padding: 0;
		background: none;
		color: #f9f;
		text-align: right;
		font-family: georgia,'times new roman', times, serif;
		font-size: 12px;
		font-weight: bold;
		text-transform: none;
		letter-spacing: 0;
	}
	
	.module-mmt-calendar table
	{
		margin-top: 5px;
		color: #fff;
		background: #bcc5cc;
	}
	
	.module-mmt-calendar th
	{
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 2px;
		background: #f9f url(theme-stitch/calendar-th-bg.gif) repeat-x;
		font-weight: bold;
		text-align: left;
	}
	
	.module-mmt-calendar td
	{
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 2px;
		color: #f6f;
		background: #ffd4ff url(theme-stitch/calendar-td-bg.gif) repeat-x;
		text-align: left;
		font-weight: normal;
	}
	
	.module-mmt-calendar .weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42
	{
		border-right: none;
	}
	
	.day-photo a
	{
		border: solid 1px #c0c;
		padding: 1px;
		background: #fff;
	}
	
	.day-photo a:hover
	{
		border-color: #f93;
	}


/* moblog1 tweaks */

	.layout-moblog1 #container-inner { background-position: -220px 0; }
	.layout-moblog1 #pagebody
	{
		background: transparent url(theme-stitch/column-left-bg.gif) -580px 0 repeat-y;
	}
	
	.layout-moblog1 #alpha { width: 180px; }
	
	.layout-moblog1 #beta
	{
		width: 320px;
		margin: 20px 0 20px 40px;
	}
	
	.layout-moblog1 #gamma
	{
		width: 150px;
		margin: 20px 0 20px 40px;
	}
	
	.layout-moblog1 .entry { margin-bottom: 40px; }
	
	.layout-moblog1 .module-recent-photos .module-content { margin: 8px 0 0 8px; }


/* moblog2 tweaks */

	.layout-moblog2 #container-inner { background-position: -375px 0; }
	.layout-moblog2 #pagebody
	{
		background: transparent url(theme-stitch/column-left-bg.gif) -695px 0 repeat-y;
	}
	.layout-moblog2 #pagebody-inner
	{
		background: transparent url(theme-stitch/column-right-bg.gif) -170px 0 repeat-y;
	}
	
	.layout-moblog2 #alpha { width: 65px; }
	.layout-moblog2 #beta { width: 280px; margin: 10px 0 0 40px; }
	.layout-moblog2 #gamma { width: 165px; margin: 10px 0 0 40px; }
	
	.layout-moblog2 #delta
	{
		float: left;
		width: 90px;
		margin: 10px 0 0 40px;
	}

	.layout-moblog2 .module-header,
	.layout-moblog2 .trackbacks-header,
	.layout-moblog2 .comments-header,
	.layout-moblog2 .archive-header,
	.layout-moblog2 .comments-open-header { margin-top: 5px; }

	.layout-moblog2 .date-header { margin-top: 5px; }
	.layout-moblog2 .content-nav { margin-top: 5px; }


	.layout-moblog2 .module-photo .module-content { margin: 0; }
	.layout-moblog2 .module-photo img { width: 80px; height: auto; }
	
	.layout-moblog2 .module-recent-photos .module-content
	{
		margin: 0;
		padding: 0;
		background: none;
	}
	
	.layout-moblog2 .module-recent-photos .module-list { margin: 0; }
	.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 5px 0; }
	

/* timeline tweaks */

	.layout-timeline #container-inner { background-position: -430px 0; }
	
	.layout-timeline #alpha { width: 330px; }
	.layout-timeline #beta { width: 350px; }
	
	.layout-timeline #gamma,
	.layout-timeline #delta
	{
		width: 165px;
	}

	.layout-timeline .module-recent-photos .module-header
	{
		margin: 0 5px 5px 0;
		border: 0;
		padding: 0;
		background: none;
		color: #f9f;
		text-align: right;
		font-family: georgia,'times new roman', times, serif;
		font-size: 12px;
		font-weight: bold;
		text-transform: none;
		letter-spacing: 0;
	}
	
	.layout-timeline .module-recent-photos { margin-bottom: 10px; }
	.layout-timeline .module-recent-photos .module-list { margin: 7px 0 0 0; }
		
	
/* one-column tweaks */

	.layout-one-column body
	{
		min-width: 620px;
	}
	
	.layout-one-column #container
	{
		width: 620px;
		background: transparent url(theme-stitch/one-column-container-bg.gif) repeat-y;
	}
	
	.layout-one-column #container-inner
	{
		margin: 0 10px 0 10px;
		border-bottom: 1px solid #5b626a;
		background: transparent url(theme-stitch/column-right-bg.gif) -500px 0 repeat-y;
	}
	
	.layout-one-column #banner
	{
		width: 600px; /* necessary for ie win */
	}
	
	.layout-one-column #container-inner { background: none; }
	.layout-one-column #alpha { width: 560px; }
	
	.layout-one-column .module-header,
	.layout-one-column .trackbacks-header,
	.layout-one-column .comments-header,
	.layout-one-column .comments-open-header,
	.layout-one-column archive-header
	{
		margin: 0 0 1px 0;
	}
	
	
/* two-column-left tweaks */

	.layout-two-column-left #container-inner { background: none; }

	.layout-two-column-left #pagebody
	{
		background: transparent url(theme-stitch/column-left-bg.gif) -560px 0 repeat-y;
	}
	
	.layout-two-column-left #alpha { width: 200px; }
	.layout-two-column-left #beta
	{
		width: 480px;
		margin: 20px 0 0 40px;
	}



/* two-column-right tweaks */

	.layout-two-column-right #container-inner { background: none; }

	.layout-two-column-right #pagebody
	{
		background: transparent url(theme-stitch/column-right-bg.gif) -280px 0 repeat-y;
	}
	
	.layout-two-column-right #container-inner { background: none; }
	.layout-two-column-right #alpha { width: 480px; }
	.layout-two-column-right #beta
	{
		width: 200px;
		margin: 20px 0 0 40px;
	}


/* three-column tweaks */
	
	.layout-three-column #container-inner { background-position: -260px 0; }

	.layout-three-column #pagebody
	{
		background: transparent url(theme-stitch/column-left-bg.gif) -580px 0 repeat-y;
	}
	
	.layout-three-column #alpha { width: 180px; }
	
	.layout-three-column #beta
	{
		width: 280px;
		margin: 20px 0 20px 40px;
	}
	
	.layout-three-column #gamma
	{
		width: 180px;
		margin: 20px 0 20px 40px;
	}
	
	
	
	
