.ljad h4
{
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #444;
    margin: 0;
}
.ljad a
{
    font-size: 10px;
    border: 0;
}
.ljad img { border: 0; }
.ljadskyscraper
{
    width: 160px;
}
.ljadleaderboard, .ljadleaderboard-top, .ljadleaderboard-bottom
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadsmrect
{
    width: 185px;
}
.ljadmedrect
{
    width: 300px;
}
.ljad5linkunit
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadbadge
{
    width: 160px;
    margin-bottom: 15px;
}
.ljadentrybox
{
    width: 468px;
}

.lj_content_ad
{
    border: 1px solid #FFD63F;
    width: 580px;
    overflow: hidden;
    text-decoration: none;
}

.lj_content_ad ul
{
    padding: 3px;
    margin: 3px;
}

.lj_content_ad span
{
    font-size: 0.7em;
    float: left;
    clear: left;
}

.lj_content_ad .adtitle
{
    font-size: 0.8em;
    color: #333;
    text-align: right;
    background-color: #FFFFE3;
    display: block;
    width: 100%;
}

.lj_content_ad li 
{
    list-style-image: none;
    list-style-type: none;
    height: 50px;
}

.lj_inactive_ad
{
    display: none;
}

.lj_content_ad .title
{
    font-weight: bold;
    color: #000;
}

.lj_content_ad .description
{
    color: #000;
}

.lj_content_ad .url
{
    text-decoration: underline;
}