html body
{
    padding-top: 55px;
}

#lj_controlstrip
{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: #cecece;
    position: absolute;
    color: #7c7c7c;
}

#lj_controlstrip_userlinks
{
    text-align: justify;
}                      

#lj_controlstrip_actionlinks
{
    text-align: justify;
}
#lj_controlstrip a
{
    font-size: 12pt;
    font-family: Arial, sans-serif;
}
