#lj_controlstrip
{
    background-color: #2e2c2c;
    background-image: url(/img/controlstrip/bg-dark.gif);
}

#lj_controlstrip td
{
    color: #989898;
}

#lj_controlstrip a
{
    color: #f5f5f5;
}

/* Second cell, Third cell, Log in form */
#lj_controlstrip_user, #lj_controlstrip_userlinks, #lj_controlstrip_login
{
    border-right: 1px solid #878080;
}

/* Fourth cell first line */
#lj_controlstrip_statustext
{
    color: #f5f5f5;
}
