div.ContextualPopup {
    
    }
    
div.ContextualPopup div.Inner {
    background-color: #000;
    color: #fefefe;
    padding: 5px;
    line-height: 135%;
    }
    
div.ContextualPopup .Content {
    position: relative;
    text-align: left;
    font-size: 11px;
    margin: 0 10px 5px 5px;
    }
    
   div.ContextualPopup .Content span {
        color: #777;
        }
        
   div.ContextualPopup .Content div {
        }
        
   div.ContextualPopup .Relation {
        font-weight: bold !important;
        font-size: 12px;
        text-shadow: #454545 2px 2px;
        }
        
   div.ContextualPopup .Content .OnlineStatus {
        font-size: 11px;
        }
    
   div.ContextualPopup .Content .GizmoBlurb {
        font-size: 10px;
        color: #999;
        }
    
div.ContextualPopup .Userpic {
    position: absolute;
    bottom: 0px;
    right: -100px;
    height: 100px;
    padding: 5px;
    background: #000;
    }
    
        
   div.ContextualPopup .Userpic img {
        position: relative;
        margin: 0 auto;
        vertical-align: middle;
        }
            
   div.ContextualPopup div.Inner a, div.ContextualPopup div.Inner a:visited {
        color: #aaa;
        font-size: 11px;
        border: 0;
        text-decoration: underline !important;
        }
        
       div.ContextualPopup div.Inner a:hover {
            color: #fff;
            }
            