#SearchResults {
                 margin-left: auto;
                 margin-right: auto;
                 width: 80%;
                 }

div.ResultUserpic {
                    width: 100px;
                    height: 100px;
                    }

div.NewSearch {
                font-size: 14px;
                }

#StateInfo {
             float: right;
             }

#USMap {
         float: left;
         }

#CountryBrowse {
                 margin-top: 2em;
                 }
