
.EditPicsStatus {
    font-weight: bold;
    margin: 0 0 15px 0;
    }

.EditPicsItem {
    margin: 0 0 10px 0;
    }

.EditPicsUserpic {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    }

.EditPicsUserpic img {
    display: block;
    margin: 0 auto;
    }

/*

.EditPicsItem {
        float: left;
        margin: 0 5px 5px 0;
        height: 100px;
        padding: 2px;
        background: #f0f0f0;
}

.EditPicsItem table {

}


.EditPicsItem label {
        margin: 0 0 0 5px;
        font-size: 10px !important;
}

.EditPicsUserpic {
        float: left;
        width: 100px;
        height: 100px;
}

.EditPicsUserpic img {
        display: block;
        margin: 0 auto 0 auto;
}

.EditPicsSave {
        display: inline;
}

*/


