/* for update.bml */

.small {
    font-size: 85%;
    margin-left: 6px;
}

#draft-container TEXTAREA {
	margin: 0;
	border: 0;
	}

#updateForm {
    font-family: arial, verdana, 'sans-serif';
    min-width: 620px;
    max-width: 800px;
}
* html #updateForm {
    width: 725px;
    width: 650px; /* once ad switched back to skyscraper, remove this */
}
#updateForm iframe {
    margin: 0px;
    padding: 0px;
}
#updateForm p {
    clear: left;
    margin: 0 0 4px 0;
    position: relative;
    line-height: 1.8em;
}
#updateForm label {
    font-weight: bold;
}
#updateForm label.left {
    width: auto;
    min-width: 6.5em;
    line-height: 1.8em;
    font-size: 14px;
}
* html #updateForm label.left {
    width: 6.5em;
}
#updateForm label.options {
    font-size: 11px;
}
#updateForm input.text {
    float: left;
    font-size: 13px;
}
#updateForm select {
    float: left;
    font-size: 13px;
}
#updateForm .float-left {
    float: left;
}
#updateForm span.inputgroup-left {
    display: block; float: left; width: 50%; position: relative;
}
#updateForm span.inputgroup-right {
    display: block; float: right; width: 49%;  position: relative;
}
#updateForm span.inputgroup-right label.left {
    width: 11em;
}
#updateForm a.helplink {
    margin-left: 5px;
    margin-top: 4px;
    float: left;
}

#updateForm h4 {
    margin: 0 0 4px 0;
    padding: 0;
}
#updateForm ul {
    margin: 0;
    padding: 0;
}
#updateForm ul li {
    margin: 0 0 4px 0;
    padding: 0;
}
#userpic {
    float: left;
    margin-right: 10px;
    width: 100px;
}
#lj_userpicselect {
    float: left;
    font-size: 85%;
    color: #00C;
    margin: 4px 0px 0px 5px;
    position: relative;
    font-size: 85%;
}
#lj_userpicselect_img {
    display: block;
    border: 1px solid #fff;
    height: 100px;
    position: relative;
}
#lj_userpicselect_img:hover {
    border: 1px solid #003366;
}
#lj_userpicselect_img img {
    display: block;
    margin: 0 auto;
    border: none;
}
#lj_userpicselect_img:hover img {
    filter:alpha(opacity=35);
    -moz-opacity:.35;
    opacity:.35;
}
#lj_userpicselect_img_txt {
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 38px; 
    color: #003366 !important;
    cursor: pointer;
    width: 100%;
}
#userpic_preview {
    width: 102px;
}
#userpic_preview_image.userpic_loggedout {
    border: 1px solid #003366;
}
.userpic_preview_border {
    border: 1px solid #ccc;
    text-align: center;
    height: 70px;
    padding-top: 30px;
}
.userpic_preview_border a {
    font-size: 90%;
    line-height: 110%;
}
#metainfo {
    float: left;
    margin-right: 10px;
    width: 55%;
    margin-bottom: 20px;
}
#currentdate {
    display: none;
}
#currentdate-edit {
    font-size: 85%;
    margin-left: 5px;
}
#time-correct {
    padding-left: 7.5em;
}
#infobox {
    border-left: 1px solid #000;
    padding-left: 10px;
    float: right;
    margin-bottom: 10px;
    min-width: 130px;
}
* html #infobox {
    width: 130px;
}
#infobox ul {
    list-style: none;
}
#entry {
    clear: both;
    padding: 0px;
    margin: 0px;
    position: relative;
    background: url(/img/entry-tab-bg.gif?v=1) repeat-x 0 bottom;
}
#entry p {
    margin: 0 !important;
}
#entry ul {
    float: right;
    clear: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#entry ul li {
    float: left;
    margin: 0 4px 0 0;
}
#entry ul li a {
    display: block;
    padding: 8px 10px;
    background-color: #fff;
    float: left;
    outline: none;
    border: 1px solid #6699CC;
    border-bottom: none;
	text-decoration:none;
}
#metainfo, #metainfo label, #metainfo input.text, #metainfo strong {
    font-size: 14px;
}
#metainfo p, #metainfo label, #metainfo label.left {
    line-height: 1.5em ;
}
#subject {
    width: 52%;
    /* width: 98%; */
    font-size: 16px;
    margin-bottom: 4px;
}
#draft-container {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: none;
    margin-bottom: 4px;
    position: relative;
    padding: 0px 4px 2px 4px;
}
* html #draft-container {
    padding: 0; 
}
#draft {
    display: inline-block;
    line-height: 100%;
    width: 100%;
    height: 280px;
    border: 0;
    font-size: 13px;
}
#draftstatus {
    font-style: italic;
    font-size: 80%;
    border: none;
    padding: 0 2px 0 0;
    text-align: right;
    display: block;
    margin-bottom: 4px;
    width: 100%;
    background-color: #fff;
}
.errorbar {
    margin-bottom: 10px !important;
}
.errorbar ul {
    margin: 0 0 0 15px !important;
}
#spellcheck-results {
    border: 1px solid #6699CC;
    border-top: none;
    font-size: 95%;
    background-color: #ffffdd;
    padding: 4px 6px;
}
#spellcheck-results p {
    font-size: 95% !important;
}
#htmltools {
    padding: 2px 4px;
    position: relative;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    margin: 0;
}
* html #htmltools ul {
    height: 20px;
}
#htmltools ul {
    list-style: none;
    margin: 0;
    padding: 3px 2px 3px 5px;
    border-bottom: 1px solid #BBB;
    min-height: 18px;
}
#htmltools ul li {
    float: left;
	width: 16px;
	height: 16px;
    margin: 0 10px 0 0;
    padding: 0;
	text-indent: -3333px;
	line-height: 0;
    font-size: 0;
}
#htmltools ul li a {
    display: block;
    overflow: hidden;
    float: left;
    height: 16px;
	border: none;
    line-height: 19px;
    text-decoration: none;
}
#htmltools ul li.image a {
    background: url(/js/ck/skins/v2/icons-new.png?v=1) no-repeat 0 -125px;
    padding-left: 15px;
}
#htmltools ul li.image a:hover {
/*    background: url(/img/html-buttons-image.gif?v=1) no-repeat 0 -40px; */
}
#htmltools ul li.media a {
    background: url(/js/ck/skins/v2/icons-new.png?v=1) no-repeat 0 -110px;
    padding-left: 15px;
}
#htmltools ul li.media a:hover {
/*    background: url(/stc/fck/editor/plugins/livejournal/ljvideo.gif?v=1) no-repeat 0 -40px; */
}
#htmltools ul li.movie a {
    width: 21px;
    background: url(/img/html-buttons-media.gif?v=1) no-repeat 0 0;
}
#htmltools ul li.movie a:hover {
    background: url(/img/html-buttons-media.gif?v=1) no-repeat 0 -40px;
}
#linebreaks {
    position: absolute;
    right: 6px;
    top: 5px;
}
#linebreaks label {
    margin-right: 6px;
}
#linebreaks a.helplink {
    display: inline !important;
    float: none;
    margin: 0 !important;
}
#options, #public {
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 10px;
}
#public {
    margin-top: 10px;
    position: relative;
    padding-left: 34px;
    font-size: .85em;
    color:#666;
}

#public INPUT {
    position: relative;
    margin-left: -24px;
    top: -2px; 
    margin-right: 3px;
    float: left; zoom:1;
}
/*:first-child+html #public INPUT {
    margin-right: 3px;
}*/
* html #public INPUT {
    margin-right: 1px;
}

#public LABEL {
    font-weight: normal;
    line-height: 1.4;
    height: 1%;
}
* html #public LABEL {
    float: left;
}

#prop_taglist {
    width: 70%;
}
* HTML #prop_taglist {
	width: 68%;
}
.i-prop-selecttags {
	float: left;
	margin: 0 0 0 5px;
	}
.ui-autocomplete {
	position: absolute;
	left: 0;
	top: 21px;
	width: 190px;
	margin: 0;
	padding: 0;
	border: 1px solid #AAA;
	border-top:0;
	list-style: none;
	line-height: 1.4;
	background: #FFF;
	z-index: 999;
	}
	.ui-autocomplete LI {
		margin: 0;
		padding: 0;
		cursor: pointer;
		text-align: left;
		}
		.ui-autocomplete LI A {
			display: block;
			margin: 0;
			padding: 1px 10px;
			color: #000;
			text-decoration: none;
			text-align: left;
			}
		.ui-autocomplete .ui-state-hover {
			background: #EEE;
			}

#prop_current_moodid {
    width: 30%;
}
#prop_current_mood {
    width: 14%;
}
#prop_opt_backdated {
    clear: left;
    display: block;
    float: left;
    margin-left: 6.5em;
}
* html #prop_opt_backdated {
    margin-left: 3em;
}

#prop_adult_content {
    width: 48%
}

#modifydate label.right {
    float: left;
    display: block;
    font-size: 90%;
    line-height: 200%;
}
#modifydate a.helplink {
    float: left;
    display: block;
}
#mood_preview {
    float: left;
    position: absolute;
    left: 80%;
    top: -2px;
    font-size: 90%;
    text-align: center;
    background: transparent;
    min-width: 60px;
    display: block !important;
    line-height: 1;
}
#mood_text_preview {
    display: block;
}
#prop_current_music,
#prop_current_location {
    width: 63%;
}


#prop_current_music.narrow,
#prop_current_location.narrow {
    width: 39%;
}
.hidden_submit {
    position: absolute;
    left: -9999px;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
#submitbar {
    background-color: #ddd;
    border: 1px solid #aaa;    
    padding: 7px 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
#security_container {
    width: 600px;
    margin: 0 auto;
}
#security {
    float: none !important;
}
#custom_boxes {
    display: none;
    text-align:left;
    float: left; 
}
* html #custom_boxes {
    clear: left;
}
#custom_boxes.columns1 {
    padding-left: 225px;
    width: 150px !important;
}
* html .columns1 {
    padding-left: 225px;
}
#custom_boxes.columns2 {
    padding-left: 150px;
    width: 300px !important;
}
* html .columns2 {
    padding-left: 150px;
}
#custom_boxes.columns3 {
    padding-left: 75px;
    width: 450px !important;
}
* html .columns3 {
    padding-left: 75px;
}
#custom_boxes.columns4 {
    padding-left: 0;
    width: 600px !important;
}
#custom_boxes ul {
    float: left !important;
    width: 140px; 
    clear: none !important;
    list-style: none;
    margin: 0 10px 5px 0;
    padding: 8px 0 0 0;
}
#custom_boxes ul li {
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 120%;
    text-indent: -25px;
}
#security-help {
   margin-right: 5px;
}
/* for ad when it appears until box ad */
.medrect .ljadbadge {
    width: 300px !important;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}
.medrect .ljadbadge #ad2 {
    background-color: #eee;
    text-align: center;
    width: 300px !important;
    padding: 5px 0;
}

.lastfm {
    float: left;
    width: 6.5em;
    font-size: 11px;
}

.lastfm SPAN {
    font-weight: normal;
    color:#999;
    font-size: 9px;
    line-height: 100%;
    display: block;
    padding-top: 4px;
}

.lastfm_lnk {
    text-indent: -3000px;
    width: 101px;
    height: 29px;
    float: left;
    background: url(/stc/img/lastfm_logo.gif?v=1) no-repeat;
    border-bottom: 0px !important;
}

div.inbox_formmes {
    clear: left; 
    margin-right: 160px; 
    max-width: 790px;
    min-width: 550px;
}
.inbox_formmes .subj-l {
    float: left; 
    width: 13%;
}
.inbox_formmes .subj-t {
    width: 81%;
}
.msg_txt {
    width: 94%
}
.inbox_formmes div.msg_txt textarea {
    width: 100%;
    height: 300px;
}

td.subject-desc {
    padding-right:0;
    width:2%;
}

#updateForm td.subject-desc label.left {
    width:auto;
    min-width: 1em;
    /*_width: 5em;
    w\idth: 5em;*/
    padding-right: 1em;
}

td.tabs {
    width:41%;
}

/* Geo Location */
* HTML #prop_current_location {
	width: 50%;
}

.detect_btn {
	float: left;
    }
	.detect_btn INPUT {
		float: left;
		padding-left: 5px;
		padding-right: 5px;
		overflow: visible;
	    }
/*	.detect_btn STRONG {
		display: block; 
		line-height: 2.5em; 
		font-size: .85em;
		clear: left;
		margin-left: .4em;
	}*/
	.set_map A:link,
	.save_loc A:link {
		color:#003366;
	}
.save_loc {
	display: block;
	float: left;
	width: 48%;
	position: relative;
	left: -3px;
	margin-left: 6.5em;
	font-size: 11px;
}
*:first-child+html .save_loc {
	margin-left: 5.5em;
}
	.save_loc INPUT {
		position: relative;
		top: 2px;
	}
	#updateForm .save_loc a.helplink {
		float: none;
	}
.set_map {
	float: left;
	font-size: 11px;
}
* HTML .save_loc {
	width: 55%;
	margin-left: 0;
	padding-left: 6.5em;
	left: 0px;
}

/* Sponsored QotD*/
#updateForm .b-qotd {
    margin: 10px 0;
    background: url(/img/qotd/qotd-wepc.png?v=1) repeat-x;
    border: 1px solid #054f90;
    }
    #updateForm .b-qotd H3 {
        margin: 0.2em 0 0.4em;
        }
    #updateForm .b-qotd P {
        margin: 0 0 0.75em;
        }
    #updateForm .b-qotd input.text {
        float: none;
        }
    #updateForm .b-qotd-chekbox LABEL {
        font-weight: normal;
        }
    #updateForm .b-qotd-chekbox INPUT {
        position: relative;
        top: 2px;
        margin: 0 5px 0 0;
        }
    #updateForm .b-qotd-note {
        font-size: 10px;
        }

/* Preview of QotD */
#qotd_html_preview {
    clear:both;
    margin: 0 0 10px;
    }
    #qotd_html_preview A.more,
    #qotd_html_preview A.more:hover {
        background: none;
        } 

.b-tnb-getstart {
	overflow: auto;
	}
	.b-tnb-getstart .appwidget-trynbuy {
		float: left;
		margin: 0 20px 0 0;
		}
	.b-tnb-getstart .appwidget-gettingstarted {
		float: left;
		margin-top: 0;
		}

/* Hide blocks */
.hide-html #htmltools {
	display: none;
	}
.hide-html #entry UL #jrich A,
.hide-richtext #entry UL #jplain A {
	padding-bottom: 9px;
	font-weight: bold;
	}


/* Edit Entries, editjournal.bml */
.b-editentries {
	border-top: 1px solid #D2D2D2;
	padding: 0;
	}
	.b-editentry {
		border-bottom: 1px solid #D2D2D2;
		list-style: none;
		padding: 10px 0;
		}
		.b-editentry H2 {
			color: #3F5F9E;
			}
		.b-editentry .date {
			color: #666;
			}
		.b-editentry-ctrls {
			margin: 0 17px 0 0;
			}
		.b-editentry-ctrl-btn,
		.b-editentry-ctrl-btn:link,
		.b-editentry-ctrl-btn:visited {
			float: right;
			height: 24px;
			width: 24px;
			border: none;
			text-indent: -9999px;
			cursor: pointer;
			margin: 0 0 0 12px;
			}
		.b-editentry-edit-btn {
			background: url("/img/btn_edit.gif") no-repeat 0 0;
			}
.b-editentries-header {
	overflow: hidden;
	}

.b-editentries-comm {
	background: url("/img/community.gif") no-repeat 0 2px;
	padding-left: 19px;
	width: 220px;
	}
.b-editentries-cal I {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url("/img/widget/wishlist/date-icon.gif");
	margin: 0 1px 0 0;
	}
.b-editentries-info {
	max-width: 50%;
	border: 1px solid #CCC;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: right;
	}
.b-editentries-form INPUT[type="checkbox"],
.b-editentries-form INPUT[type="radio"] {
	margin-left: 0;
	}

/* PAGINATION FOR edijournal.bml */
.i-qotd-nav {
	float: right;
	font-size: 11px;
	line-height: 11px;
	}
	.i-qotd-nav A:link,
	.i-qotd-nav A:visited {
		border: none;
		text-decoration: none;
		}
	.i-qotd-nav-prev,
	.i-qotd-nav-next {
		overflow: hidden;
		display: inline-block;
		width: 16px;
		height: 16px;
		padding: 0;
		vertical-align: -4px;
		background-image: url(/img/arrow-spotlight.gif?v=1);
		background-repeat: no-repeat;
		border: none;
		font: 0/0 serif;
		cursor: pointer;
		}
	.i-qotd-nav-prev {
		margin: 0 5px 0 0;
		background-position: 0 0;
		}
	.i-qotd-nav-prev-dis {
		background-position: 0 -16px;
		cursor: default;
		}
	.i-qotd-nav-next {
		margin: 0 0 0 5px;
		background-position: -16px 0;
		}
	.i-qotd-nav-next-dis {
		background-position: -16px -16px;
		cursor: default;
		}

