/* homepage styles */

#promobox-wrapper {
    width: 548px;
    margin-bottom: 3px;
}
/* .pkg class wraps enclosing block element around inner floated elements */
#promobox-wrapper:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
#promobox-wrapper { display: inline-block; }
/* no ie mac \*/
* html #promobox-wrapper { height: 1%; }
#promobox-wrapper[class] { height: auto; }
#promobox-wrapper { display: block; }
/* */

#home_main {
    min-height: 200px;
    padding: 0 2%;
    color: #413723;
    width: 45%;
    float: left;
}
* html #home_main {
    height: 180px;
}
#home_main p {
    margin: 0 0 10px 0;
}
#promobox-bullets {
    float: left;    
    width: 51%;
    padding-top: 5px;
}
#promobox-bullets a {
    text-decoration: underline !important;
}
#promobox-frank {
    margin-bottom: 2px;
}
#lj-bulletlist {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#lj-bulletlist li {
    font-size: 0.8em;
    margin: 0 0 8px 0;
    padding: 0;
}
* html #lj-bulletlist li {
    margin: 0 0 3px 0;
}
#lj-bulletlist li a {
    display: block;
    color: #036;
    padding: 6px 0 8px 30px;
    text-decoration: none;
}
* html #lj-bulletlist li a {
    display: inline-block;
}
#lj-bulletlist li a:hover {
    color: #69C;
}
#frankpic {
    display: block;    
    text-align: center;
    padding: 20px 0 0 274px;
    position: relative; 
    height: 80px;
    font-size: 12px;    
    color: #036;
    text-decoration: none;
}
#frankpic:hover {
    background-position: 190px -125px !important;
}
#frankpic.pee:hover {
    background-position: 190px -250px !important;
}
#frankpic span {
    font-weight: bold;
    font-size: 14px;
}
table.stats-meter {
    width: 163px;
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
}
.stats-meter td {
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
    padding: 0.1em 0.2em 0em 0.2em;
    font-weight: bold;
}
.news .subject {
    color: #036;
    font-weight: bold;
}
.news .date {
    color: #909090;
    font-weight: bold;
}
.sub_head {
    color: #036;
    font-size: 1.2em;
    font-weight: bold;
}
.link_span {
    padding: 5px 0px 5px 0px;
    text-decoration: underline;
}
.mousearea {
    text-decoration: none;
}

/* logged out homepage styles */

.homepage-wrapper {
    width: 720px;
}
.homepage-wrapper .intro {
    font-size: 110%;
    line-height: 150%;
}
.homepage-wrapper .join {
}
.homepage-wrapper .join div {
    background-color: #ffd;
    border: 1px solid #fc3;
    padding: 10px;
}
.homepage-tour {
    margin: 15px 0;
}
.homepage-tour ul li {
    float: left;
    width: 158px;
    height: 120px;
    padding: 8px;
    margin-right: 8px;
    background-color: #eee;
}
.homepage-tour ul li.last {
    margin-right: 0;
}
.homepage-wrapper .appwidget-journalspotlight {
    width: 394px;
    float: left;
    margin: 0 10px 15px 0;
    background: url('/img/spotlight-homepage-top.gif') no-repeat 0 0;
    padding: 8px;
    border-bottom: 1px solid #6293C3;
}
.homepage-wrapper .appwidget-journalspotlight h2 {
    border-bottom: 1px solid #6293C3;
}
.homepage-wrapper .spotlight-controls {
    top: 12px;
    left: 7.5em;  
}
.homepage-wrapper #suggest-spotlight {
    top: 14px;
    right: 10px;
}
.homepage-wrapper .ljad {
    float: left;
    margin-bottom: 15px;
}
.homepage-wrapper h3 {
    font-style: normal;
    margin: 0 0 4px 0;
    font-size: 1.2em;
}
.homepage-wrapper .detail {
    font-size: 12px !important;
}
.getstarted-home {
    text-align: center;
}
.homepage-wrapper input.start {
    background: #6293C3;
    color: #fff;
    font-size: 120%;
    border: 2px solid #90BDE8;
    border-bottom: 2px solid #46719C;
    border-right: 2px solid #46719C;
}
.homepage-wrapper .homepage-facts {
    width: 284px;
    float: right;    
    background: url('/img/facts-homepage-top.gif') no-repeat 0 0;
    border-bottom: 1px solid #6293C3;
    padding: 8px 8px 0 8px;    
}
.homepage-wrapper .homepage-facts h2 {
    border-bottom: 1px solid #6293C3;
    padding: 0 0 6px 0;
    margin: 0 0 6px 0;
}
.homepage-wrapper .homepage-facts p.detail {
    font-size: 90% !important;
    margin-top: 0px;
}
.homepage-wrapper .appwidget-publicstats {
    float: right;
    margin-bottom: 6px !important;
    border-bottom: 1px solid #ccc;
}
.homepage-wrapper .appwidget-publicstats .stats-total {
    float: left;
    width: 48%;
}
.homepage-wrapper .appwidget-publicstats .stats-daily {
    float: right;
    width: 48%;
}
.homepage-wrapper .appwidget-publicstats .stats-total p,
.homepage-wrapper .appwidget-publicstats .stats-daily p {
    margin: 0 0 6px 0 !important;
}
.homepage-wrapper .normal-users {
    float: left;
    width: 49%;
}
.homepage-wrapper .sponsored-users {
    float: right;
    width: 49%;
}
.homepage-wrapper .appwidget-publicstats .statmeter {
    margin: 0 !important;
    padding: 0 !important;
}
.homepage-wrapper .appwidget-publicstats .stats-meter td {
    border: none !important;
    padding: 0 !important;
    background: none !important;
}
.homepage-wrapper .homepage-promo {
    clear: left;
    float: left;
    width: 190px;
    height: 148px;
    border: 0;
    margin-right: 10px;
    border: 1px solid #BBDDFF;
}
.homepage-wrapper .homepage-promo h3 {
    font-size: 12px;
    margin: 0 0 2px 0;
    padding: 2px 4px;
    background-color: #BBDDFF;
    color: #036;
}
.homepage-wrapper .homepage-promo a {
    margin: 5px;
    display: block;
}
.homepage-wrapper .appwidget-frank {
    border: 1px solid #75B960;
    float: left;
    width: 206px;
}
.homepage-wrapper .appwidget-frank h2 {
    margin: 4px 0 10px 0;
    padding: 0;
}
.homepage-frankimage {
    float: right;
}
.homepage-wrapper .appwidget-frank p {
    font-size: 10px !important;
    margin: 10px 0;
}
