/* UPDATE.bml bugfix 
__________________________________________*/
.appwidget-entryform {
    zoom:1;
    }

/* LJTimes
__________________________________________*/
.b-ljtimes-login .i-ljtimes-checkbox {
    vertical-align: -3px;
    }
.b-ljtimes-logged-submit {
    overflow: visible;
    }

.b-tlarge,
.b-inner,
.b-header,
.b-live-clmn{
    *zoom:1;
    }
.b-live-item:hover .b-live-post,
.b-live-item-hover .b-live-post {
    top: -21px;
    left: -21px;
    border: 1px solid #999;
    }

/* Credit card form
-----------------------------------------------*/
.b-ccform LI,
.b-ccform LI DL {
    zoom: 1;
    }

/* Facebook & Openid
--------------------------- */
/* Must be removed after implementation of Framework! */
.m-auth,
.m-auth-item,
.b-auth-desc,
.b-auth-item FORM,
.m-auth-bl,
.m-auth-br {
    zoom: 1;
    }
.b-facebookbtn,
.b-twitterbtn,
.b-googlebtn,
.b-mailrubtn,
.b-vkontaktebtn {
    overflow: visible;
    }


/* SMS Notifications
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-manage-smsn {
    zoom: 1;
    }
    .b-manage-smsn .b-manage-smsn-status {
        padding: 0 0 0 2.5em;
        }
    .b-manage-smsn-status #link_2 {
        vertical-align: 7px;
        }
    .b-manage-smsn .b-manage-smsn-status {
        zoom: 1;
        display: inline;
        }

/* Reject Users in Manage Community
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-pending-users {
    zoom: 1;
    }

/* Search Yandex lenta
-----------------------------------------------*/
.search-precise .found.yalenta .yandex-ru {
    top: 0;
    }

/* widgets on browse page
-----------------------------------------------*/
.appwidget-browse .w-content {
    padding:0 0 7px;
    }
.appwidget-browse .appwidget-featuredcomms,
.appwidget-browse .appwidget-featuredcomms .b-posts LI {
    zoom:1;
    }
    .appwidget-browse .b-posts DT {
        _position:relative;
        }
        .appwidget-browse .b-posts-data {
            _height:20px;
            }

.appwidget-browse .appwidget-search INPUT.type-text {
    width:223px;
    }
.w-body .b-search-tags,
.b-search-tags {
    width:230px;
    }

.appwidget-featuredposts .b-posts-head {
    _height:40px;
    }
.appwidget-browse .vertical_view .appwidget-search LABEL {
    top:6px;
    }

/* Game friends playing widget
----------------------------------------------- */
.appwidget-gamefriendsplaying .w-body,
.appwidget-gamefriendsplaying .w-body .friends-playing-list,
.appwidget-gamefriendsplaying .w-body .friends-playing-list LI,
.appwidget-gamefriendsplaying .w-body .friends-playing-list LI .inner,
.appwidget-gamefriendsplaying .w-body .friends-playing-list LI .ljuser {
    zoom: 1;
    }

/* Game friends activity widget
----------------------------------------------- */
.appwidget-gamefriendsactivity .w-body,
.appwidget-gamefriendsactivity .w-body .friends-activity-list,
.appwidget-gamefriendsactivity .w-body .friends-activity-list LI,
.appwidget-gamefriendsactivity .w-body .friends-activity-list LI .inner,
.appwidget-gamefriendsactivity .w-body .friends-activity-list LI .ljuser {
    zoom: 1;
    }

/* FriendsTimes
----------------------------------------------- */
.b-friendstimes-comments {
    margin-top: -3px;
    }
.b-friendstimes-comments-wrapper,
.b-friendstimes-close-dialog,
.b-friendstimes-toolbar,
.b-friendstimes-toolbar-title,
.w-friendstimes,
.w-friendstimes-opened {
    zoom:1;
    }

/* Game who playing widget
----------------------------------------------- */
.appwidget-gamewhoplaying .w-body,
.appwidget-gamewhoplaying .w-body .who-playing-list,
.appwidget-gamewhoplaying .w-body .who-playing-list LI,
.appwidget-gamewhoplaying .w-body .who-playing-list LI .inner,
.appwidget-gamewhoplaying .w-body .who-playing-list LI .ljuser {
    zoom: 1;
    }

/* Game big point widget
----------------------------------------------- */
.b-catalogue-app .appwidget-gamebigpoint .w-body {
    zoom: 1;
    }

/* Game list widget
----------------------------------------------- */
.appwidget-gamelist .w-body .gamelist LI {
    display: inline;
    zoom: 1;
    }


/* Calendar
-----------------------------------------------*/
.input-wrapper {
    display:inline;
    zoom:1;
    }

/* New controlstrip
-----------------------------------------------*/
.w-cs .w-cs-group .ljuser, 
.w-cs .w-cs-group .submit-wrap {
    float: left;
    }
.w-cs .w-cs-search {
    width: auto !important;
    }
.w-cs INPUT.submit {
    overflow: visible;
    }
.w-cs INPUT.checkbox {
    margin: -6px 2px -3px -5px;
    }
* HTML .w-cs .w-cs-userpic IMG {
    width: 50px;
    height: 50px;
    }
#NoUserpic A {
    display: block;
    position: relative;
    height: 100px;
    }
#NoUserpic IMG {
    position: static;
    }
#NoUserpic A SPAN {
    position: absolute;
    left: 0;
    top: 30px;
    height: auto;
    }

/* this needs for correct floating at external login tabs */
.b-auth-desc {
    zoom:0;
    }
.b-identity-header {
    zoom:1;
    }

/* Fotki
-----------------------------------------------*/
.b-pics-bar,
.b-pics-nav,
.b-pics-edit-field-text {
    zoom: 1;
    }
.b-pics-input-submit {
    overflow: visible;
    padding: 0 10px;
    }
.b-pics-edit-field-click .b-pics-input-edit,
.b-pics-edit-field-click .b-pics-textarea-edit,
.b-pics-edit-field-click .b-pics-btn,
.b-pics-edit-field-click .b-pics-cancel,
.b-pics-preloader .b-pics-preloader-inner,
.b-popup-pics .b-pics-privacy,
.b-pics-privacy .b-pics-privacy-icon,
.b-pics-pager-first,
.b-pics-pager-last,
.b-pics-pager-prev,
.b-pics-pager-next,
.b-popup-pics .b-pics-pager,
.b-popup-pics H2,
.b-popup-pics .b-popup-pics-add-many .b-bubble-alert,
.b-pics-with-output .b-pics-size-list,
.b-pics-with-output .b-pics-size-label,
.b-pics-with-output .b-pics-post-button {
    display: inline;
    zoom: 1;
    }
.b-pics-submit-options {
    zoom: 1 !important;
    }
.b-pics-header-select-album {
    zoom: 1;
    }
.b-pics-bar .b-pics-edit-field {
    height: 22px;
    }
.b-pics-edit-field-click {
    margin: -1px 0 0 -2px;
    }
    .b-pics-edit-field-click .b-pics-input-text {
        padding-left: 2px;
        }
    .b-pics-edit-field .b-pics-textarea-edit {
        width: 572px;
        }
.b-pics-privacy .b-pics-privacy-icon {
    margin-right: 3px;
    }
.b-popup-pics .b-popup-pics-add-many .b-popup-pics-gallery LI {
    margin: 7px 8px;
    }
.b-pics-submit-options {
    width: 100% !important;
    }
.b-pics-list-albums-selection {
    bottom: -1px;
    left: 62px;
    }
*:first-child+html .b-popup-pics-gallery,
*:first-child+html .b-popup-pics-add-one .b-pics-submit-options {
    min-width: 757px;
    }
*:first-child+html .b-popup-pics-add-one .b-pics-submit-options {
    width: 100%;
    }
/*.b-pics-add-content {
    width: 350px;
    } */
*:first-child+html .b-popup-pics-paste .b-pics-paste-url {
    min-width: 757px;
    }
*:first-child+html .b-pics-preview-wrapper,
*:first-child+html .b-pics-add-fields {
    display: inline-block;
    }
*:first-child+html .b-pics-url-field {
    width: 620px;
    }
*:first-child+html .b-pics-list-albums LI.b-pics-list-albums-item  {
    display: inline;
    zoom: 1 !important;
    }
.b-popup-pics-add-one .b-popup-pics-upload-header,
.b-popup-pics-add-one .b-popup-pics-paste-header,
.b-popup-pics-add-one .b-popup-pics-list-header {
    display: none;
    }

/* Ratings */
.rate-posts .selfpromo .voting .vote-value A {
    top: 0;
    }
#updateForm #metainfo LI .title {
    float: left;
    min-width: 8.5em;
    white-space: normal;
    }
#updateForm #metainfo LI .wrap {
    overflow: hidden;
    zoom: 1;
    *width: 60%;
    }
#updateForm #metainfo LI.pkg {
    display: block;
    }

/* LJ like buttons 
-----------------------------------------------*/
.lj-like-item {
    display:inline!important;
    zoom:1!important;
    }

/* Edit Entries 
-----------------------------------------------*/
.b-editentry {
    zoom: 1;
    }

/* Betatest
-----------------------------------------------*/
.alt-servers-list LI.production-server {
    margin-bottom: -4px;
    }

/* Contextual hover
-----------------------------------------------*/
.b-contextualhover,
.b-contextualhover .b-contextualhover-section,
.b-contextualhover .b-contextualhover-options LI {
    zoom: 1;
    }

/* Comment From & Updatepage Form
-----------------------------------------------*/
*+HTML .s-lanzelot .b-watering-aside {
    background-image: expression((function(node) {
        node.runtimeStyle.backgroundImage = 'none';
        if (!/mode=reply|replyto=|talkpost_do/.test(location.href)) { return; }

        var parent = node.parentNode;
        var timer = setInterval(function() {
            var width = parent.clientWidth;
            if (width) {
                node.style.marginLeft = (width - parseInt(parent.currentStyle.paddingLeft, 10) -
                                                parseInt(parent.currentStyle.paddingRight, 10)) * -1;
                clearInterval(timer);
            }
        }, 100);
    })(this));
    }


/* Pics paste url
-----------------------------------------------*/

*:first-child+html .b-pics-preview-wrapper,
*:first-child+html .b-pics-add-fields {
    display: inline;
    zoom: 1;
    vertical-align: middle !important;
    }
    
/* Update form
-----------------------------------------------*/

*:first-child+html #updateForm {
    width: 750px;
    }

/* Music settings 
-----------------------------------------------*/

*:first-child+html #LJ__Setting__Music__LastFM_,
*:first-child+html #LJ__Setting__Music__Trava_ {
    display: inline;
    }   
*:first-child+html .b-music-item-header DT, 
*:first-child+html .b-music-item-header DD, 
*:first-child+html .b-music-item DT, 
*:first-child+html .b-music-item DD {
    display: inline;
    zoom: 1;
    }
*:first-child+html .b-music-list-searching {
    overflow: hidden;
    }
.b-music-item-artist SPAN,
.b-music-item-album SPAN,
.b-music-item-track SPAN {
    zoom: 1;
    }
    
/* Music settings 
-----------------------------------------------*/

.b-pics-promo-wrapper {
    display: none;
    }

/* Profile Group Gradient
 ------------------------------------------- */ 
.b-profile-group {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#EDF7FF', EndColorStr = '#FFFFFF');
    }

/* Clear fix
----------------------------------------------*/
*:first-child+html .clearfix-lj {
    zoom: 1;
    } /* IE7 */
    
/* transparency for ie */
.lj_embedcontent { zoom:expression(runtimeStyle.zoom = '1',allowTransparency = true); }

/* Fix Box-sizing IE7-IE8
----------------------------------------------*/
*+html .b-dialog-prompt-wrap {
    margin: 0 10px 0 0;
    }
    
*+html .b-dialog-btn {
    overflow: hidden;
    padding: 2px 5px;
    }

/* CVK */
.b-cvk-rc,
.b-cvk-auth {
    zoom: 1;
    }
.b-cvk-code {
    margin-left: 0;
    padding-left: 30px;
    }

/* journalpromo */
.journalpromo-popup-info-list,
.journalpromo-popup-content,
.journalpromo-popup-info-list,
.journalpromo-popup-info-list LI,
.b-journalpromo-header {
    position: relative;
    zoom: 1;
    }
.journalpromo-popup-content {
    width: 320px;
    }
.journalpromo-sc-icon {
    margin-top: 1px;
    }
.journalpromo-sort-index {
    margin-top: 2px;
    vertical-align: middle;
    }
.b-journalpromo-order-journal .i-ljuser-userhead {
    vertical-align: middle !important;
    }
.journalpromo-popup-info-list .journalpromo-popup-info-option,
.b-journalpromo-header-title {
    float: left;
    }
.journalpromo-statistics-journals-loading .b-splatest-more-journals,
.journalpromo-statistics-active-loading .b-splatest-more-active,
.journalpromo-statistics-history-loading .b-splatest-more-history {
    display: block;
    }
.journalpromo-buttons,
.your-price .b-journalpromo-notice {
    display: inline;
    }

/* Dengi Online */
.b-payment-list .b-payment-item {
    display: inline;
    }
.confirm-form-subsection {
    width: 350px;
    }
.confirm-form-section DL {
    zoom: 1;
    }

