/* Width & Height for Moods */
* html IMG#mood_image_preview  {
    height: auto;
    }
* html IMG#mood_image_preview {
	zoom:expression(
		function(t){
			if (60 < t.scrollWidth && t.scrollWidth > t.scrollHeight) {
				t.width = '60';
			}
			else if (60 < t.scrollHeight) {
				t.height = '60';
			}
		t.runtimeStyle.zoom = 1;
	}(this));
}
* html IMG.meta-mood-img {
	zoom:expression(
		function(t){
			if (100 < t.scrollWidth && t.scrollWidth > t.scrollHeight) {
				t.width = '100';
			}
			else if (100 < t.scrollHeight) {
				t.height = '100';
			}
		t.runtimeStyle.zoom = 1;
	}(this));
}

/* UPDATE.bml bugfix 
__________________________________________*/
.appwidget-entryform {
    zoom:1;
    }

/* LJTimes
__________________________________________*/
* HTML .b-ljtimes-wrapper {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
	}
.b-ljtimes-login .i-ljtimes-checkbox {
	vertical-align: -3px;
	}
.b-ljtimes-logged-submit {
	height: 34px;
	padding: 5px 22px 0;
	}
* HTML .b-ljtimes-login-form {
	zoom: 1;
	}
* HTML .i-ljtimes-bl,
* HTML .i-ljtimes-br {
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg : this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='scale')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
	}
* HTML .i-ljtimes-btn,
* HTML .i-ljtimes-drag,
* HTML .i-ljtimes-click {
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg : this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
	}


* HTML .b-ttiny {
	width: expression((document.documentElement.clientWidth || document.body.clientWidth) < 995 ? "995px" : "100%");
	}

.b-tlarge,
.b-inner,
.b-header,
.b-live-clmn,
* HTML .b-top-content LI {
	*zoom:1;
	}
* HTML .b-quick .b-inbox .outer,
* HTML .b-quick .b-inbox .inner,
* HTML .b-quick .b-inbox .arrow {
	display: inline;
	zoom: 1;
	}
* HTML .i-theme-bg {
	width: expression(this.parentNode.clientWidth);
	height: expression(this.parentNode.clientHeight);
	}
* HTML .b-themes-title {
	float: left;
	}
* HTML .b-live-item{ 
	behavior: expression( 
	this.onmouseover = new Function("this.className += ' b-live-item-hover'"), 
	this.onmouseout = new Function("this.className = this.className.replace(' b-live-item-hover','')"), 
	this.style.behavior = null 
	);
	}
.b-live-item:hover .b-live-post,
.b-live-item-hover .b-live-post {
	top: -21px;
	left: -21px;
	border: 1px solid #999;
	}
* HTML .b-themes-content .pic {
	width: expression(document.body.clientWidth > 96? "96px": "auto" );
	}
* HTML .b-live-pic IMG {
	width: expression(document.body.clientWidth > 140? "140px": "auto" );
	}
* HTML .b-domino-pic LI { 
	behavior: expression( 
	this.onmouseover = new Function("this.className += ' hover'"), 
	this.onmouseout = new Function("this.className = this.className.replace(' hover','')"), 
	this.style.behavior = null 
	);
	}
* HTML .b-live-share-arr {
	_border-top-color: pink;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color=pink);
	}


/* Styles for bubbles
--------------------------- */
/*Must be removed after implementation of Framework! */
.i-bubble {
	*display:inline;
	*zoom:1;
	}
* HTML .i-bubble-arrow,
* HTML .i-bubble-arrow-border {
	zoom: 1;
	filter: chroma(color=pink);
	border-top-color: pink;
	border-bottom-color: pink;
	border-left-color: pink;
	}


#postform TABLE TD.b-postform-active .i-postform-label {
	vertical-align: 1em !important;
	}


/* Facebook & Openid
--------------------------- */
/* Must be removed after implementation of Framework! */
.m-auth,
.m-auth-item,
.b-auth-desc,
.b-auth-item FORM,
.m-auth-bl,
.m-auth-br {
	zoom: 1;
	}
.b-facebookbtn,
.b-twitterbtn {
	overflow: visible;
	}
* HTML .m-auth-item {
	position: relative;
	}
* HTML .m-auth-bl,
* HTML .m-auth-br {
	bottom: auto;
	top: expression(this.parentNode.clientHeight);
	}
* HTML .m-auth-openid .m-auth-bl {
	left: -1px;
	}
* HTML .m-auth-facebook .m-auth-bl {
	left: expression(this.parentNode.offsetLeft*(-1)-11);
	}
* HTML .m-auth-br {
	margin: 0;
	left: expression(this.parentNode.parentNode.clientWidth-this.parentNode.offsetLeft-2);
	}

/* SMS Notifications
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-manage-smsn {
	zoom: 1;
	}
	.b-manage-smsn .b-manage-smsn-status {
		padding: 0 0 0 2.5em;
		}
	.b-manage-smsn-status #link_2 {
		vertical-align: 7px;
		}

/* Custom Userheads in Edit Profile Page
--------------------------- */
/* Must be removed after implementation of Framework! */
* HTML .b-manage-userheads LI {
	behavior: expression(this.onmouseover = new Function("this.className += ' hover'"), this.onmouseout = new Function("this.className = this.className.replace(/ ?hover/g,'')"), this.style.behavior = null);
	}

/* Reject Users in Manage Community
--------------------------- */
/* Must be removed after implementation of Framework! */
* HTML .b-pending-users LI {
	behavior: expression(this.onmouseover = new Function("this.className += ' hover'"), this.onmouseout = new Function("this.className = this.className.replace(/ ?hover/g,'')"), this.style.behavior = null);
	}
.b-pending-users {
	zoom: 1;
	}

/* Choose Facebook Repost Pic
--------------------------- */
/* Must be removed after implementation of Framework! */
* HTML .b-repost-pics-bg {
	width: expression(this.parentNode.clientWidth);
	height: 151px;
	}
* HTML .b-repost-pics-l {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=/img/repost/pics-l.png);
	}
* HTML .b-repost-pics-r {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=/img/repost/pics-r.png);
	}
* HTML .b-repost-pics-arr {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=/img/repost/pics-arr.png);
	}
* HTML .b-repost-pics-items LI IMG {
	width: 96px;
	height: 96px;
	}

/* SMS Notifications
--------------------------- */
.b-manage-smsn .b-manage-smsn-status {
	zoom: 1;
	display: inline;
	}
