form {
	margin: 0px;
	padding: 0px;
}

.ljclear {
	clear: both;
	margin: 0 -1px -1px 0;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}

.nowrap {
	white-space: nowrap;
}

.lj_progresscontainer {
	height: 25px;
	width: 400px;
	margin: 1em;
	background: url(/img/progress/inactive.gif?v=1) repeat;
}

.lj_progressoverlay {
	background: url(/img/progress/active.gif?v=1) repeat;
}

.lj_progressindefinite {
	background-image: url(/img/progress/barber.gif?v=1);
}

.lj_hourglass {
		z-index: 20000;
}

.ErrorNote .Inner {
	background-color: #FFEEEE;
	background-repeat: repeat-x;
	border: 1px solid #FF9999;
	padding: 8px;
}

.Note .Inner {
	background: #FFFFDD;
	border: 1px solid #FFCC33;
	padding: 8px;
}

.helper {
	font-size: 0.8em;
	color: #666;
}

div.lj_ippu {
	background-color: #fff;
	border: 2px solid #444;
	padding: 2px;
}

div.lj_ippu_titlebar {
	background-color: #444;
	height: 20px;
	font-weight: bold;
	color: #fff;
	width: auto !important;
	padding: 5px 0 0 5px;
}

	div.lj_ippu_titlebar div {
		
	}
	div.lj_ippu_titlebar A:link,
	div.lj_ippu_titlebar A:visited {
		color:#FFF;
		text-decoration: none;
		border: none !important;
	}
	.lj_ippu_titlebar img {
		opacity: .25;
	}
	
		.lj_ippu_titlebar img:hover {
			opacity: 1;
		}

.vgift-img-l {
	max-width: 220px;
	max-height: 220px;
}

.vgift-img-s {
	max-width: 100px;
	max-height: 100px;
}

.LJ_Placeholder_Container {
	position:relative;
	display:-moz-inline-box;
	display:inline-block;
	border:1px dashed #ccc;
	text-align:left;
	}
.LJ_Placeholder_Container A {
	position:relative;
	top:50%;
	left:50%;
	visibility:hidden;
	}
.LJ_Placeholder_Container A IMG {
	margin:-17px 0 0 -17px;
	cursor:pointer;
	position:relative;
	visibility:visible;
	}
IFRAME.lj_embedcontent {
	border:0;
	vertical-align:top;
	}
.ljhidden {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		margin: 0;
		border: 0;
		padding: 0;
		font-size: 0.1px;
		line-height: 0;
		opacity: 0;
		filter: alpha(opacity=0);
}

.lj_pollanswer {
}

.lj_pollanswer_loading {
		color: #CCC;
		border: 1px solid #EEE;
}

.super {
	vertical-align: super;
	font-size: .7em;
}

.notice {
	color: #f00;
}

.ljedittime {
	font-size: smaller;
}

.warning-background {
	background-image: url('/img/message-warning.gif?v=1');
}

.lj_invisible {
	display:-moz-inline-box;
	display:inline-block;
	line-height:0;
	width:0;
	height:0;
	padding:0;
	border:0 none transparent;
	margin:0;
	overflow:hidden;
	text-decoration:none;
}


/* Link to current LJ.com version 
------------------------------------ */
DL.current-version {
	margin: 10px 0;
	padding: 0;
	border: 0;
	text-align: left;
	}
	DL.current-version DT,
	DL.current-version DD {
		display: inline;
		margin: 0;
		padding: 0 3px 0 0;
		text-align: left;
		white-space: nowrap;
		font-size: 11px !important;
		font-weight: normal;
		}


/* transparency for ie */
.lj_embedcontent { zoom:expression(runtimeStyle.zoom = '1',allowTransparency = true); }

/* WLMInterstitial */
.wlm-interstitial {
	text-align:left;
	padding:20px 230px 10px 10px;
	background:url(/img/lj_wlm/interstitial-screenshot.jpg?v=1) no-repeat 274px 3px;
	}
	.wlm-interstitial H1 {
		font-size:2.6em;
		text-transform:uppercase;
		color:#375991;
		}
	.wlm-interstitial FIELDSET {
		border:0;
		padding:10px 0 0;
		margin:0;
		}
		.wlm-interstitial FIELDSET UL,
		.wlm-interstitial FIELDSET LI {
			padding:0;
			margin:0;
			display:block;
			list-style:none;
			}
		.wlm-interstitial FIELDSET UL {
			padding-bottom:10px;
			}
		.wlm-interstitial FIELDSET .wlm-submit-button {
			width:55px;
			}
.lj_ippu_titlebar {
	text-align:left;
	}
.lj_ippu_titlebar IMG {
	cursor:pointer;
	}

.opera-filter { display:none; }
HTML:first-child .opera-filter { display:block; } /* opera lt 9.5 */
HTML:not(IE7) .opera-filter, x:-o-prefocus { display:block; } /* opera gte 9.5 */


.user_alias_act {
	padding: 13px 24px;
	text-align: left;
	font-size: 16px;
	}
	.user_alias_act INPUT {
		font-family: Arial, sans-serif;	
		}
		.user_alias_act .alias-value {
			width: 380px;
			}
	.user_alias_act P {
		margin: .75em 0px;
		text-indent: 0;
		}
	.user_alias_act DIV.user-alias-label {
		padding-top: 5px;
		margin-bottom: 5px;
		font-size: 0.85em;
		}
	.user_alias_act SPAN.helper {
		padding-top: 12px;
		display: block;
		color:#000;
		font-size: 0.7em;
		}
		.user_alias_act A:link,
		.user_alias_act A:visited,
		.user_alias_act A:hover,
		.user_alias_act A:active {
			  border: 0 !important;
			  text-decoration: underline;
			  }
		.user_alias_act A:link{
			color: #0000CC;
			}
		.user_alias_act A:visited {
			color: #330066;
			}
		.user_alias_act A:link:hover {
			color: #0000CC;
			}
		.user_alias_act A:visited:hover {
			color: #330066;
			}
		.user_alias_act A:link:active {
			color: #0000CC;
			}
		.user_alias_act A:visited:active {
			color: #330066;
			}

/* Styles for messagers,
Must be removed after implementation of Framework! */
.b-message {
	padding: 8px;
	margin: 10px 0 24px;
	}
.b-message-suggestion {
	background: #FFE8BF;
	border: 1px solid #FF8E44;
	}

.i-message {
	padding: 1px 8px;
	}
.b-message-error,
.i-message-error {
	margin: 0 0 24px !important;
	border: 1px solid #F99;
	background-color: #FEE;
	background-image: url(/img/message-error.gif?v=1);
	background-image: -moz-linear-gradient(100% 100% 90deg, #FED4D3, #FFF2F0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF2F0), to(#FED4D3));
	}


/* Styles for bubbles
--------------------------- */
/*Must be removed after implementation of Framework! */
.b-bubble {
	display: block;
	}
.i-bubble {
	display: inline-block;
	}
.b-bubble,
.i-bubble {
	position:relative;
	margin: 0 20px 0 10px !important;
	padding: 8px 10px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 90%;
	}
	.i-bubble-arrow,
	.i-bubble-arrow-border {
		overflow: hidden;
		position: absolute;
		top: 13px;
		height: 0;
		width: 0;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		}
	.i-bubble-arrow {
		left: -9px;
		margin: -5px 0 0;
		border-style: solid;
		border-width: 5px 10px 5px 0;
		}
	.i-bubble-arrow-border {
		left: -11px;
		margin: -5px 0 0;
		border-style: solid;
		border-width: 5px 10px 5px 0;
		}
.b-bubble-noarrow {
	margin: 0 !important;
	}
	.b-bubble-noarrow .i-bubble-arrow,
	.b-bubble-noarrow .i-bubble-arrow-border {
		display: none;
		}
.b-bubble-lite {
	border-color: #CCC;
	background: #FFF;
	}
	.b-bubble-lite .i-bubble-arrow {
		border-right-color: #FFF;
		}
	.b-bubble-lite .i-bubble-arrow-border {
		border-right-color: #CCC;
		}
.b-bubble-alert {
	border-color: #EAE8AC;
	background: #FFFFD5;
	}
	.b-bubble-alert .i-bubble-arrow {
		border-right-color: #FFFFD5;
		}
	.b-bubble-alert .i-bubble-arrow-border {
		border-right-color: #EAE8AC;
		}
.b-bubble-warning {
	border-color: #FF9B97;
	background: #FFECEA;
	color: #D51C00;
	}
	.b-bubble-warning .i-bubble-arrow {
		border-right-color: #FFECEA;
		}
	.b-bubble-warning .i-bubble-arrow-border {
		border-right-color: #FF9B97;
		}
.b-bubble-success {
	border-color: #6FBA55;
	background: #D0F4C3;
	color: #358D16;
	}
	.b-bubble-success .i-bubble-arrow {
		border-right-color: #D0F4C3;
		}
	.b-bubble-success .i-bubble-arrow-border {
		border-right-color: #6FBA55;
		}
.b-bubble-intext {
	margin: 10px 0 !important;
	}


/* Disabled block
--------------------------- */
/* Must be removed after implementation of Framework! */
.st-disabled {
	position:relative;
	}

/* Blocking layer */
.b-blocker {
	position:absolute;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	}
	.st-disabled .b-blocker {
		display:block;
		}
	.b-blocker-over {
		z-index:1000000000;
		}
	.b-blocker-white {
		background:#FFF;
		}
	.b-blocker-gray {
		background:#808080;
		}
	.b-blocker-gray,
	.b-blocker-white {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
		opacity:.5;
		}

/* Block for adding HTML into headers.
It must be invisible, use it only for reskining */
.b-reskining-header {
	display: none;
	}

/* List of [un]changed inputs
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-form-changelist .type-text {
	color:#808080;
	}
	.b-form-changelist .type-text:focus,
	.b-form-changelist .type-text-focus,
	.b-form-changelist .type-text-changed {
		color:#000;
		}

/* Flexible banner*/
/* Must be removed after implementation of Framework! */
.b-banner-flexible {
	margin: 0 0 12px;
	font-size: 0;
	line-height: 0;
	width: 970px;
	}
	.b-banner-flexible:after {
		content: " ";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
		line-height: 0;
		}
	.b-banner-flexible .b-banner-728 {
		float: right;
		width: 728px;
		}
	.b-banner-flexible .b-banner-236 {
		float: left;
		overflow: hidden;
		width: 236px;
		}
	.b-banner-flexible A:link,
	.b-banner-flexible A:visited,
	.b-banner-flexible A:hover,
	.b-banner-flexible A:active {
		border:0;
		}

/* AdNEctar style for vgift */
.i-vgift-details {
	position: relative;
	padding: 0;
	margin: 0;
	zoom:1;
	}
	.i-vgift-details A {
		display: block;
		position: relative;
		border: 0 !important;
		}
		.i-vgift-details A:hover {
			border: 0 !important;
			}
.adnectar-play {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 15px;
	background: url(/img/play-button.png?v=1) no-repeat;
	}
.appwidget-friendbirthdays .adnectar-play {
	display: none;	
	}

/* Button for ads */
/* Must be removed after implementation of Framework! */
.b-button-close {
	width: 15px;
	height: 15px;
	background: url(/img/CloseButton2.gif?v=1) no-repeat;
	position: relative;
	top: 0;
	margin: -25px -25px 0 10px;
	cursor: pointer;
	}

/* Width & Height for Moods */
IMG.meta-mood-img {
	max-width: 100px;
	max-height: 100px;
	} 
IMG#mood_image_preview {
	max-width: 60px;
	max-height: 60px;
	}

/* The indicator of something new  */
/* Must be removed after implementation of Framework! */
SUP.i-new {
	position: relative;
	bottom: 0.5em; 
	padding: 0 1px;
	vertical-align: middle;
	font-size: 11px;
	color: #C00;
	}


/* Styles for messagers,
Must be removed after implementation of Framework! */
.appwidget-sitemessages {
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 0;
	margin: 0;
	}
	.appwidget-sitemessages .b-message-system {
		padding: 0;
		margin: 0;
		background: none;
		border: none;
		font-size: 12px !important;
		color: #000;
		}
	.appwidget-sitemessages .b-message-system A {
		font-size: 12px !important;
		}
	.appwidget-managesitemessages .b-message-system {
		position: static !important;
		}
		.appwidget-sitemessages .b-message-system .b-message-wrap {
			position: relative;
			display: block;
			padding: 4px 25px 6px 25px;
			margin: 0;
			background: #C6E0F6;
			border: 2px solid #8AB6DA;
			text-align: center;
			}
		.appwidget-sitemessages .b-message-system IMG {
			padding: 0 !important;
			margin: 0 5px 0 0 !important;
			vertical-align: -2px;
			}
			.appwidget-sitemessages .b-message-system .ljuser IMG {
				margin: 0 !important;
				padding: 0 0 0 1px !important;
				}
		.appwidget-sitemessages .b-message-system A:link,
		.appwidget-sitemessages .b-message-system A:visited,
		.appwidget-sitemessages .b-message-system A:hover,
		.appwidget-sitemessages .b-message-system A:active {
			color: #124787 !important;
			text-decoration: underline;
			border: 0 !important;
			}
			.appwidget-sitemessages .b-message-system .ljuser A:link,
			.appwidget-sitemessages .b-message-system .ljuser A:visited	{
				text-decoration: none;
				}		
			.appwidget-sitemessages .b-message-system .ljuser A:hover,
			.appwidget-sitemessages .b-message-system .ljuser A:active {
				text-decoration: underline;
				}
		.appwidget-sitemessages .b-message-system I.close {
			position: absolute;
			top: 8px;
			right: 8px;
			width: 12px;
			height: 12px;
			background: url(/img/message-system-close.gif?v=1) no-repeat;
			cursor: pointer;
			font-size: 0;
			}
#lj_controlstrip .appwidget-sitemessages {
	top: 44px;
	z-index: 9999;
	}

#content-wrapper .appwidget-sitemessages {
	position: static;
	margin-top: 20px;
	}
	#content-wrapper .appwidget-sitemessages .b-message-system {
		margin: 0 0 10px;
		}
	
.scheme-lynx .appwidget-sitemessages {
	top: 0;
	}

/* Mobile version message */
.b-message-mobile {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 23px;
	padding: 0;
	margin: 0;
	background: #1C2F5D;
	text-align: left;
	font: 11px/13px 'Arial', 'Helvetica', sans-serif;
	color: #FFF;
	z-index: 1000;
	}
	.b-message-mobile .b-message-mobile-wrapper {
		padding: 5px 15px;
		margin: 0;
		}
	.b-message-mobile A:link,
	.b-message-mobile A:visited,
	.b-message-mobile A:hover,
	.b-message-mobile A:active {
		padding: 0 0 0 12px;
		margin: 0;
		background: url(/img/message-mobile-pic.gif?ver) no-repeat;
		border: 0;
		text-decoration: none !important;
		font: 11px/13px 'Arial', 'Helvetica', sans-serif !important;
		color: #FFF !important;
		}
.b-message-mobile-theme {
	top: 0;
	}
	.mobile-msg #navigation {
		top: 23px;
		}
	.mobile-msg #content {
		top: 133px !important;
		}

/* Facebook & Twitter authorization
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-identity{
	overflow:hidden;
	}

.m-auth {
	position: relative;
	margin: 0 10px 10px;
	padding: 0;
	list-style: none;
	border-bottom:1px solid #C1C1C1;
	z-index:2;
	}
.m-auth:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
	.m-auth-item {
		float: left;
		margin: 0;
		padding: 15px 30px 15px 40px;
		list-style: none;
		}
	.m-auth-openid {
		margin: 0 0 0 -10px;
		}
	.m-auth-facebook {
		}
	.m-auth .current {
		margin-bottom: -1px;
		background: #FFF;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: 1px solid #C1C1C1;
		border-bottom-color: #FFF;
		}
		.m-auth-item A:link,
		.m-auth-item A:visited,
		.m-auth-item A:hover,
		.m-auth-item A:active {
			display: block;
			margin: -15px -30px -15px -40px;
			padding: 15px 30px 15px 40px;
			border: 0;
			color: #000;
			text-decoration: none;
			outline:0;
			}
		.m-auth-openid A {
			background: url(/img/icons/openid-16.gif?v=1) no-repeat 20px 50%;
			}
		.m-auth-user A {
			background: url(/img/pencil.gif?v=1) no-repeat 20px 50%;
			}
		.m-auth-facebook A {
			background: url(/img/icons/facebook-16.gif?v=1) no-repeat 20px 50%;
			}
			.m-auth-item A SPAN {
				color: #000;
				border-bottom: 1px dotted #000;
				}
			.m-auth .current A SPAN {
				border:0;
				}
		.m-auth-twitter A {
			background: url(/img/icons/twitter-16.gif?v=1) no-repeat 20px 50%;
			}
		.m-auth .current .m-auth-bl,
		.m-auth .current .m-auth-br {
			display: block;
			}
		.m-auth .m-auth-openid .m-auth-bl {
			border-radius:0;
			-moz-border-radius:0;
			-webkit-border-radius:0;
			border-width:0 0 0 1px;
			}
		.m-auth-bl,
		.m-auth-br {
			overflow: hidden;
			position: absolute;
			display: none;
			width: 10px;
			height: 10px;
			border: 1px solid #C1C1C1;
			font: 0/0 serif;
			}
		.m-auth-bl {
			bottom: -11px;
			left: -10px;
			border-width: 1px 0 0 1px;
			-webkit-border-top-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			border-top-left-radius: 10px;
			}
		.m-auth-br {
			bottom: -11px;
			right: -10px;
			margin: 0;
			border-width: 1px 1px 0 0;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topright: 10px;
			border-top-right-radius: 10px;
			}

.b-auth {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #C1C1C1;
	border-width:0 1px 1px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;
	}
	.b-auth-item {
		margin: 0;
		padding: 10px 20px 20px;
		list-style: none;
		}
		.b-auth-openid-form {
			margin: 20px 0 0;
			text-align: center;
			}
			.b-auth-openid-form LABEL {
				font-weight: bold;
				}
			.b-auth-openid-input {
				width: 300px;
				}
			.b-auth-input-wrapper SPAN {
				color:#666;
				}
		.b-auth-user-form .b-auth-input-wrapper {
			display:block;
			margin:5px 0;
			overflow:hidden;
			}
			.b-auth-user-form .b-auth-input-wrapper LABEL {
				float:left;
				width:200px;
				font-weight:bold;
				}
			.b-auth-user-form .b-auth-user-input {
				width:200px;
				margin:0 10px;
				}
			.b-auth-user-form BUTTON {
				margin:5px 0 0;
				}
		.b-auth-error {
			margin: 15px 0 5px;
			text-align: center;
			}
			.b-auth-error .i-message-error {
				display: inline-block;
				padding: 3px 8px;
				}
		.b-auth-desc {
			overflow: hidden;
			margin: 0;
			}

.b-facebookbtn,
.b-twitterbtn {
	position: relative;
	height: 22px;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: bold 11px/1 Verdana,Arial,sans-serif;
	color: #FFF;
	cursor: pointer;
	}
.b-auth .b-facebookbtn,
.b-auth .b-twitterbtn {
	float: left;
	}
	.b-facebookbtn SPAN,
	.b-twitterbtn SPAN {
		position: relative;
		display: block;
		height: 20px;
		padding: 0 8px 0 28px;
		border: 1px solid #32437F;
		text-align: left;
		line-height: 18px;
		cursor: pointer;
		border-bottom-color: #24346F;
		background: #6676AB url(/img/buttons/facebook-login-wide.gif?v=1) no-repeat 0 0;
		}
	.b-twitterbtn SPAN {
		height:24px;
		border:none;
		line-height:22px;
		padding-left:32px;
		color:#293F46;
		text-shadow:1px 1px 0px #FFF;
		white-space:nowrap;
		background-color:#FFF;
		background-image:url(/img/buttons/twitter-login-wide.gif?v=1);
		}
		.b-facebookbtn SPAN I{
			display: none;
			}
		.b-twitterbtn SPAN I{
			position:absolute;
			right:0;
			top:0;
			height:24px;
			width:2px;
			background:url(/img/buttons/twitter-login-wide.gif?v=1) no-repeat 100% 0;
			}

.b-twinterstitial-question,
.b-fbinterstitial-question {
	margin:0 0 10px;
	}
.b-twinterstitial-form,
.b-fbinterstitial-form {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	.b-twinterstitial-form LI,
	.b-fbinterstitial-form LI {
		margin: 0 0 5px;
		padding: 0;
		list-style: none;
		}
	.b-twinterstitial-form LI {
		position:relative;
		}
		.b-twinterstitial-form .i-bubble {
			top:-7px;
			}
		.b-twinterstitial-form LABEL {
			white-space:nowrap;
			}
	.b-twinterstitial-form .b-twinterstitial-submit,
	.b-fbinterstitial-form .b-fbinterstitial-submit {
		margin: 7px 0 0;
		}
.b-twinterstitial-form-compact {
	width: 460px;
	margin: 150px auto 0;
	text-align: center;
	font-family: Arial,sans-serif;
	}
	.b-twinterstitial-form-compact H4 {
		font-size: 24px;
		font-weight: normal;
		}
	.b-twinterstitial-form-compact .ljuser IMG {
		vertical-align: middle!important;
		}
	.b-twinterstitial-form-compact H5,
	.b-twinterstitial-form-compact P,
	.b-twinterstitial-form-compact UL {
		margin: 0;
		padding: 10px 0;
		font-weight: normal;
		font-size: 12px;
		}
	.b-twinterstitial-form-compact H5 {
		border-top: 1px solid #CCC;
		}
	.b-twinterstitial-form-compact TABLE {
		margin: 10px 0 0;
		border-bottom: 1px solid #CCC;
		}
	.b-twinterstitial-form-compact LABEL STRONG {
		font-weight: normal;
		font-size: 12px;
		}
	.b-twinterstitial-form-compact .checkboxes,
	.b-twinterstitial-form-compact .checkboxes LI {
		display: inline;
		}

.b-form-columns TD {
	vertical-align:top;
	padding:0;
	border:0;
	}

.i-setting-connect-icon {
	vertical-align: -3px;
	}

.b-repost-items {
	position: relative;
	margin: 10px 0;
	}
#postform .b-repost-items {
	margin: 0;
	}
	.b-repost-item {
		margin: 0 0 5px !important;
		text-align: left !important;
		}
	#entry-form-wrapper .b-repost-item-dis,
	#entry-form-wrapper .b-repost-item-dis A:link,
	#entry-form-wrapper .b-repost-item-dis A:visited,
	#entry-form-wrapper .b-repost-item-dis A:hover,
	#entry-form-wrapper .b-repost-item-dis A:active,
	.b-repost-item .repost_disabled {
		color: #CCC;
		}
	#entry-form-wrapper .b-repost-item {
		display: inline;
		}
		.b-repost-item IMG {
			vertical-align: -3px;
			}


.replyform TABLE.b-postform-from {
	margin: 0 0 0.5em;
	}
.replyform TABLE TD.b-postform-icon,
.replyform TABLE TD.b-postform-radio {
	vertical-align: middle !important;
	text-align: center;
	}
	.replyform TABLE TD.b-postform-radio INPUT {
		margin: 0;
		}
.replyform TABLE TD.b-postform-data {
	text-align: left;
	white-space: nowrap;
	}
	.replyform TABLE TD.b-postform-data .i-postform-label {
		display: inline-block;
		}
	.i-postform-disabled {
		color: #C0C0C0;
		}

.b-loginpage-btns {
	}
	.b-loginpage-btns A:link,
	.b-loginpage-btns A:visited,
	.b-loginpage-btns A:hover,
	.b-loginpage-btns A:active {
		border: 0;
		}
	.b-loginpage-btns IMG {
		border: 0;
		}

.b-manage-connectbtn {
	margin: 0 0 0.5em;
	}
.b-manage-connectopt {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	.b-manage-connectopt LI {
		margin: 0 0 0.1em;
		padding: 0;
		list-style: none;
		}

.b-connectbtn {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: 12px/1 Tahoma,Arial,sans-serif;
	cursor: pointer;
	}
	.b-connectbtn SPAN {
		position: relative;
		display: block;
		cursor: pointer;
		}
		.b-connectbtn SPAN I {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			margin: 0;
			padding: 0;
			font: 0/0 serif;
			cursor: pointer;
			}
.b-connectbtn-twitter {
	width: 61px;
	height: 23px;
	color: #32CBFF;
	}
	.b-connectbtn-twitter SPAN {
		width: 61px;
		height: 23px;
		}
		.b-connectbtn-twitter SPAN I {
			width: 61px;
			height: 23px;
			background: url(/img/buttons/twitter-login-tiny.gif?v=1) no-repeat 0 0;
			}



/* SMS Notifications
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-manage-smsn {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	}
.b-manage-smsn-hide {
	}
	.b-manage-smsn LI {
		margin: 0;
		padding: 0;
		list-style: none;
		}
	.b-manage-smsn .b-manage-smsn-sms {
		float: left;
		margin: 0 0.3em 0.3em 0;
		padding: 0.3em 0 0;
		line-height: 1.5;
		}
		.b-manage-smsn .b-manage-smsn-sms INPUT.b-manage-smsn-code {
			width: 2.5em;
			}
		.b-manage-smsn .b-manage-smsn-sms INPUT.b-manage-smsn-phone {
			width: 10em;
			}
	.b-manage-smsn-hide .b-manage-smsn-sms {
		padding: 0;
		}
	.b-manage-smsn .b-manage-smsn-status {
		position: relative;
		float: left;
		padding: 0 0 0 20px;
		margin: 0 0 0 .5em;
		}
	.b-manage-smsn-hide .b-manage-smsn-status {
		display: none !important;
		}
		.b-manage-smsn .b-manage-smsn-status .i-bubble {
			margin: 0 30px 0 10px !important;
			}
		.b-manage-smsn .b-manage-smsn-status .help-icon {
			position: absolute;
			top: 8px;
			right: 0;
			}
			.b-manage-smsn .b-manage-smsn-status .help-icon A {
				border: none;
				}
		.i-manage-smsn-icon {
			position: absolute;
			top: 16px;
			left: 0;
			width: 16px;
			height: 16px;
			margin: -9px 0 0 0;
			background-image: url(/img/icons/smsn.gif?v=1);
			background-repeat: no-repeat;
			background-position: 0 -800px;
			}
		.i-manage-smsn-unsupporteddef,
		.i-manage-smsn-already_use,
		.i-manage-smsn-initial {
			background-position: 0 0;
			}
		.i-manage-smsn-correctnum {
			background-position: 0 0;
			}
		.i-manage-smsn-badnum {
			background-position: 0 -1000px;
			}
		.i-manage-smsn-wrongcode {
			background-position: 0 -800px;
			}
		.i-manage-smsn-reqsent {
			background-position: 0 -200px;
			}
		.i-manage-smsn-smssent {
			background-position: 0 -400px;
			}
		.i-manage-smsn-verified {
			background-position: 0 -600px;
			}
	.b-manage-smsn .b-manage-smsn-btn {
		clear: both;
		}
	.b-manage-smsn-hide .b-manage-smsn-btn {
		display: none;
		}



/* Custom Userheads in Edit Profile Page
--------------------------- */
/* Must be removed after implementation of Framework! */
.i-manage-userhead {
	width: 17px;
	height: 17px;
	border: 0;
	vertical-align: -2px;
	}
.b-manage-userheads-desc {
	margin: 0 0 1em;
	}
.b-manage-userheads {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.b-manage-userheads:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
	.b-manage-userheads LI {
		position: relative;
		overflow: hidden;
		float: left;
		width: 25%;
		margin: 0 1em 0.5em 0;
		padding: 0;
		list-style: none;
		white-space: nowrap;
		}
		.b-manage-userheads LI LABEL {
			display: block;
			padding: 3px 5px;
			border: 1px solid #FFF;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			}
		.b-manage-userheads LI.hover LABEL,
		.b-manage-userheads LI.active LABEL,
		.b-manage-userheads LI:hover LABEL {
			border: 1px solid #CCC;
			background: #F5F5F5;
			}
			.b-manage-userheads LI INPUT {
				position: absolute;
				left:-99px;
				}



/* Reject Users in Manage Community
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-pending-users {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	float:left;
	}
	.b-pending-users LI {
		position: relative;
		float: left;
		padding: 0 5px 0 0;
		}
	.b-pending-users LI:hover,
	.b-pending-users LI.hover {
		z-index: 2;
		}
		.b-pending-users A {
			border-bottom: 0 !important;
			text-decoration: none !important;
			}
		.b-pending-users LI SPAN {
			position: relative;
			float: left;
			margin: 0;
			}
			.b-pending-users LI SPAN I.i-pending-users-delim {
				position: relative;
				z-index: -1;
				}
		.b-pending-users LI:hover SPAN,
		.b-pending-users LI.hover SPAN {
			margin: -3px -18px -4px -8px;
			padding: 2px 17px 3px 7px;
			background: #F5F5F5;
			border: 1px solid #CCC;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			}
		.b-pending-users LI:hover SPAN .i-pending-close,
		.b-pending-users LI.hover SPAN .i-pending-close {
			display: block;
			position: absolute;
			top: 50%;
			right:6px;
			width: 6px;
			height: 7px;
			margin: -3px 0 0;
			padding: 0;
			background: url(/img/buttons/pending-close.gif?v=1) no-repeat 0 0;
			cursor: pointer;
			}
.b-pending-reason {
	width: 99%;
	margin: 0 0 1em;
	clear: both;
	}
.i-pending-reject {
	float: right;
	margin: 0.5em 0 0;
	}


/* Placeholder
--------------------------- */
/* Must be removed after implementation of Framework! */
.placeholder {
	color:#A9A9A9;
	}


/* Choose Facebook Repost Pic
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-repost-pics {
	display: none;
	position: absolute;
	top: -150px;
	left: 72px;
	height: 117px;
	padding: 27px 4px 0;
	z-index: 99;
	}
#postform .b-repost-pics {
	left: -22px;
	}
	.b-repost-pics-bg,
	.b-repost-pics-l,
	.b-repost-pics-r,
	.b-repost-pics-arr {
		display: block;
		position: absolute;
		overflow: hidden;
		margin: 0;
		padding: 0;
		font: 0/0 serif;
		}
	.b-repost-pics-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 144px;
		background: #FFF url(/img/repost/pics-bg.png?v=1) repeat 0 0;
		}
	.b-repost-pics-l {
		top: 0;
		left: -9px;
		width: 9px;
		height: 144px;
		background: url(/img/repost/pics-l.png?v=1) repeat 0 0;
		}
	.b-repost-pics-r {
		top: 0;
		right: -9px;
		width: 9px;
		height: 144px;
		background: url(/img/repost/pics-r.png?v=1) repeat 0 0;
		}
	.b-repost-pics-arr {
		top: 138px;
		left: 160px;
		width: 13px;
		height: 13px;
		background: url(/img/repost/pics-arr.png?v=1) repeat 0 0;
		}
	.b-repost-pics-head,
	#updateForm .b-repost-pics-head {
		position: absolute;
		top: 8px;
		left: 4px;
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 12px;
		}
	.b-repost-nav,
	#updateForm .b-repost-nav {
		position: absolute;
		top: 8px;
		right: 4px;
		margin: 0;
		padding: 0;
		line-height: 11px;
		font-size: 11px;
		}
		.i-repost-nav-first,
		.i-repost-nav-last,
		.i-repost-nav-prev,
		.i-repost-nav-next {
			overflow: hidden;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0;
			padding: 0;
			vertical-align: -4px;
			background-image: url(/img/arrow-spotlight.gif?v=1);
			background-repeat: no-repeat;
			font: 0/0 serif;
			cursor: pointer;
			}
		.i-repost-nav-first {
			margin: 0 5px 0 0;
			background-position: 0 -32px;
			}
		.i-repost-nav-first-dis {
			background-position: 0 -48px;
			cursor: default;
			}
		.i-repost-nav-last {
			margin: 0 0 0 5px;
			background-position: -16px -32px;
			}
		.i-repost-nav-last-dis {
			background-position: -16px -48px;
			cursor: default;
			}
		.i-repost-nav-prev {
			margin: 0 5px 0 0;
			background-position: 0 0;
			}
		.i-repost-nav-prev-dis {
			background-position: 0 -16px;
			cursor: default;
			}
		.i-repost-nav-next {
			margin: 0 0 0 5px;
			background-position: -16px 0;
			}
		.i-repost-nav-next-dis {
			background-position: -16px -16px;
			cursor: default;
			}
	.b-repost-pics-wrapper {
		position: relative;
		overflow: hidden;
		min-width: 222px;
		max-width: 454px;
		height: 106px;
		}
	.b-repost-pics-items,
	#updateForm .b-repost-pics-items {
		position: relative;
		width: 9999px;
		height: 106px;
		margin: 0 0 0 -10px;
		padding: 0;
		list-style: none;
		}
		.b-repost-pics-items SPAN,
		#updateForm .b-repost-pics-items SPAN {
			display: block;
			overflow: hidden;
			position: relative;
			float: left;
			width: 96px;
			height: 96px;
			margin: 0 0 0 10px;
			padding: 5px;
			list-style: none;
			text-align: center;
			background: url(/img/repost/pics-frame.gif?v=1) no-repeat 0 0;
			cursor: pointer;
			}
		.b-repost-pics-items SPAN.b-repost-pics-no,
		#updateForm .b-repost-pics-items SPAN.b-repost-pics-no {
			color: #999;
			}
		.b-repost-pics-items SPAN:hover,
		#updateForm .b-repost-pics-items SPAN:hover,
		.b-repost-pics-items SPAN.b-repost-pics-active,
		#updateForm .b-repost-pics-items SPAN.b-repost-pics-active {
			background: url(/img/repost/pics-aframe.gif?v=1) no-repeat 0 0;
			}
			.b-repost-pics-no EM {
				position: absolute;
				top: 50%;
				left: 0;
				width: 106px;
				height: 15px;
				margin: -7px 0 0;
				text-align: center;
				font-style: normal;
				}
			.b-repost-pics-items SPAN IMG {
				max-width: 96px;
				max-height: 96px;
				}

/* Style for comments in Dystopia, format=light and others. */
.talk-comment-head {
	overflow: hidden;
	padding:1px 0;
	}

.i-exp-preloader {
	margin: 0 0 0 5px;
	}

/* Open social popups
----------------------------------------------- */
DIV.lj_ippu_app {
	padding: 20px 30px;
	border: 1px solid #EBEBEB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	DIV.lj_ippu_app .ljappippu_inner:after
	DIV.lj_ippu_app .ljappippu_share_content:after,
	DIV.lj_ippu_app .ljappippu_share_buttons:after {
		clear: both;
		display: block;
		visibility: hidden;
		overflow: hidden;
		width: 0;
		height: 0;
		content: ".";
		}
	DIV.lj_ippu_app DIV.lj_ippu_titlebar {
		height: auto;
		padding: 0;
		margin: 0 0 10px 0;
		background: none;
		line-height: 16px;
		font-size: 16px;
		color: #000;
		}
		DIV.lj_ippu_app DIV.lj_ippu_titlebar .ljappippu_button {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 12px;
			height: 12px;
			background: url(/img/CloseButton_gray.gif?ver=1) no-repeat;
			cursor: pointer;
			}
	DIV.lj_ippu_app .ljappippu_share_content {
		clear: both;
		}
	DIV.lj_ippu_app H3 {
		clear: both;
		margin-bottom: 8px;
		line-height: 16px;
		font-style: normal;
		font-size: 12px;
		color: #000;
		}
	DIV.lj_ippu_app P {
		padding: 0;
		margin: 0 0 10px 0;
		line-height: 18px;
		font-size: 12px;
		}
	DIV.lj_ippu_app P.i-bubble {
		padding: 6px 10px 8px 10px;
		margin: 0 0 10px 0 !important;
		line-height: 11px;
		font-size: 11px;
		}
	DIV.lj_ippu_app .ljappippu_share_buttons {
		clear: both;
		overflow: hidden;
		}
		DIV.lj_ippu_app .ljappippu_share_buttons INPUT.submit {
			float: right;
			margin-top: 5px;
			}
	DIV.lj_ippu_app .i-qotd-nav {
		float: right;
		margin-top: 5px;
		font-size: 11px;
		line-height: 11px;
		}
		DIV.lj_ippu_app .i-qotd-nav-first,
		DIV.lj_ippu_app .i-qotd-nav-last,
		DIV.lj_ippu_app .i-qotd-nav-prev,
		DIV.lj_ippu_app .i-qotd-nav-next {
			overflow: hidden;
			display: inline-block;
			width: 16px;
			height: 16px;
			padding: 0;
			vertical-align: -4px;
			background-image: url(/img/arrow-spotlight.gif?v=1);
			background-repeat: no-repeat;
			font: 0/0 serif;
			cursor: pointer;
			}
		DIV.lj_ippu_app .i-qotd-nav-first {
			margin: 0 5px 0 0;
			background-position: 0 -32px;
			}
		DIV.lj_ippu_app .i-qotd-nav-first-dis {
			background-position: 0 -48px;
			cursor: default;
			}
		DIV.lj_ippu_app .i-qotd-nav-last {
			margin: 0 0 0 5px;
			background-position: -16px -32px;
			}
		DIV.lj_ippu_app .i-qotd-nav-last-dis {
			background-position: -16px -48px;
			cursor: default;
			}
		DIV.lj_ippu_app .i-qotd-nav-prev {
			margin: 0 10px 0 0;
			background-position: 0 0;
			}
		DIV.lj_ippu_app .i-qotd-nav-prev-dis {
			background-position:0 -16px;
			cursor:default;
			}
		DIV.lj_ippu_app .i-qotd-nav-next {
			margin:0 0 0 10px;
			background-position: -16px 0;
			}
		DIV.lj_ippu_app .i-qotd-nav-next-dis {
			background-position: -16px -16px;
			cursor: default;
			}
		DIV.lj_ippu_app .qotd-counter I {
			font-style: normal;
			}
	DIV.lj_ippu_app .b-pending-users {
		float: none;
		}
	DIV.lj_ippu_app .b-pending-users:after {
		clear: both;
		display: block;
		visibility: hidden;
		overflow: hidden;
		width: 0;
		height: 0;
		content: ".";
		}
		DIV.lj_ippu_app .b-pending-users LI {
			line-height: 15px;
			font-size: 12px;
			}
			DIV.lj_ippu_app .ljappippu_share_persons LI:hover SPAN {
				padding-right: 8px;
				margin-right: -9px;
				}
	DIV.lj_ippu_app .hr {
		clear: both;
		overflow: hidden;
		margin-bottom: 10px;
		}
	DIV.lj_ippu_app TEXTAREA {
		width: 100%;
		padding: 0;
		margin-bottom: 5px;
		border: 1px solid #737373;
		line-height: 16px;
		font-size: 12px;
		}


/* Popups with arrows
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-popup {
	position: relative;
	z-index: 99;
	}
	.b-popup-outer {
		position: relative;
		padding: 1px;
		background: #FFF;
		border: 1px solid #CCC;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		z-index: 100;
		}
	.b-popup-inner {
		padding: 10px 15px;
		border: 2px solid #E7E7E7;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		}
	.i-popup-arr {
		overflow: hidden;
		display: block;
		position: absolute;
		font: 0/0 serif;
		background-image: url(/img/popup-arr.gif?v=1);
		background-repeat: no-repeat;
		}
	.i-popup-arrt {
		top: -7px;
		left: 50%;
		width: 13px;
		height: 11px;
		margin: 0 0 0 -6px;
		padding: 0;
		background-position: 0 0;
		}
	.i-popup-arrtl {
		top: -7px;
		left: 30px;
		width: 13px;
		height: 11px;
		margin: 0;
		padding: 0;
		background-position: 0 0;
		}
	.i-popup-arrtr {
		top: -7px;
		right: 30px;
		width: 13px;
		height: 11px;
		margin: 0;
		padding: 0;
		background-position: 0 0;
		}
	.i-popup-arrr {
		top: 50%;
		right: -7px;
		width: 11px;
		height: 13px;
		margin: -6px 0 0;
		padding: 0;
		background-position: -11px -11px;
		}
	.i-popup-arrrt {
		top: 15px;
		right: -7px;
		width: 11px;
		height: 13px;
		margin: 0;
		padding: 0;
		background-position: -11px -11px;
		}
	.i-popup-arrrb {
		bottom: 15px;
		right: -7px;
		width: 11px;
		height: 13px;
		margin: 0;
		padding: 0;
		background-position: -11px -11px;
		}
	.i-popup-arrb {
		bottom: -7px;
		left: 50%;
		width: 13px;
		height: 11px;
		margin: 0 0 0 -6px;
		padding: 0;
		background-position: -13px 0;
		}
	.i-popup-arrbl {
		bottom: -7px;
		left: 30px;
		width: 13px;
		height: 11px;
		margin: 0;
		padding: 0;
		background-position: -13px 0;
		}
	.i-popup-arrbr {
		bottom: -7px;
		right: 30px;
		width: 13px;
		height: 11px;
		margin: 0;
		padding: 0;
		background-position: -13px 0;
		}
	.i-popup-arrl {
		top: 50%;
		left: -7px;
		width: 11px;
		height: 13px;
		margin: -6px 0 0;
		padding: 0;
		background-position: 0 -11px;
		}
	.i-popup-arrlt {
		top: 15px;
		left: -7px;
		width: 11px;
		height: 13px;
		margin: 0;
		padding: 0;
		background-position: 0 -11px;
		}
	.i-popup-arrlb {
		bottom: 15px;
		left: -7px;
		width: 11px;
		height: 13px;
		margin: 0;
		padding: 0;
		background-position: 0 -11px;
		}
	.i-popup-close {
		overflow: hidden;
		display: block;
		position: absolute;
		top: 12px;
		right: 12px;
		width: 12px;
		height: 12px;
		background: url(/img/popup-cls.gif?v=1) no-repeat 0 0;
		font: 0/0 serif;
		cursor: pointer;
		}
	.b-popup-group {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: auto;
		margin: 0 0 8px;
		padding: 0;
		text-align: left;
		}
	.b-popup-row {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: auto;
		margin: 0 0 3px;
		padding: 0;
		}
	.b-popup-row-head {	
		margin: 0 0 5px;
		font-weight: bold;
		}

/* Popup Messages */
.b-popup-messagebox {
	position:absolute;
	width:311px;
	background:#FFF;
	border:2px solid #8CB7DA;
	font-size:12px;
	z-index:9999;
	}
	.b-popup-messagebox .b-popup-head {
		position:relative;
		margin:0;
		padding:5px;
		border:1px solid #DBECFB;
		border-width:1px 1px 0;
		background:#C7E0F6;
		font-size:15px;
		}
		.b-popup-messagebox .b-popup-head H4 {
			margin:0;
			}
	.b-popup-messagebox .i-popup-close {
		position:absolute;
		top:9px;
		right:5px;
		width:12px;
		height:12px;
		background:url(/img/popup-close.gif?v=1) no-repeat 0 0;
		cursor:pointer;
		}
	.b-popup-messagebox .b-popup-content {
		margin:0;;
		padding:5px;
		font-size:13px;
		}
	.b-popup-messagebox .b-popup-footer {
		margin:0;
		padding:5px;
		background:#ECF6FF;
		text-align:center;
		font-size:13px;
		}
	.b-popup-messagebox A:link,
	.b-popup-messagebox A:visited,
	.b-popup-messagebox A:hover,
	.b-popup-messagebox A:active {
	    color: #00C;
	    }

/* Delete bubble */
.ljcmtmanage {
	position: absolute;
	visibility: hidden;
	display: block;
	width: 250px;
	text-align: left;
	z-index: 3;
	}


/* Fader
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-fader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background: #000;
	opacity: 0.6;
	}
