a img {
    border: 0px;
}

form {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.lj_progresscontainer {
    height: 25px;
    width: 400px;
    margin: 1em;
    background: url(/img/progress/inactive.gif) repeat;
}

.lj_progressoverlay {
    background: url(/img/progress/active.gif) repeat;
}

.lj_progressindefinite {
    background-image: url(/img/progress/barber.gif);
}


