/*
    This is utility css that can be used anywhere in the app
    It should be included on all app pages in all schemes
*/

/* .pkg class wraps enclosing block element around inner floated elements */
.pkg:after {
    border-collapse: collapse;
    clear: both;
    content: "";
    display: table;
    }

/* form styles */
label.left {
    display: block;
    float: left;
    }
input.text,
textarea.text,
select.select {
    margin: 0px 3px 0px 0px;
    padding: 2px 2px;
    background: #fff url(/img/input-bg.gif?v=9533) repeat-x 0 -1px;
    border: 1px solid #bbb;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    }
select.select {
    padding: 1px;
    }
fieldset.nostyle {
    border: none;
    margin: 0;
    padding: 0;
    }

/* Elements */
.detail {
    font-size: 90%;
    color: #444;
    }
p.detail {
    margin: 0 0 10px 0;
    padding: 0;
    }
ul.detail li {
    font-size: 90%;
    }
h2.widget-header {
    margin: 0 0 6px 0;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #ccc;
    }

hr.hr {
    border: 0;
    width: 100%;
    color: #8FC3F7; background-color: #8FC3F7;
    height: 1px;
    }

/* generic class for removing styling from ul */
ul.nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
    }

/* tables where rows alternate colors */
table.alternating-rows th {
    text-align: left;
    border-top: 1px solid #8FC3F7;
    border-bottom: 1px solid #8FC3F7;
    background-color: #C5DFF9;
    padding: 6px 4px;
    }
table.alternating-rows tr.altrow1 {
    background-color: #fff;
    }
table.alternating-rows tr.altrow2 {
    background-color: #eee;
    }
table.alternating-rows td {
    padding: 6px 4px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    }


/* columns for content layouts (OLD) */
div.columns-2 .columns-2-left {
    float: left;
    width: 49%;
    }
div.columns-2 .columns-2-right {
    float: right;
    width: 49%;
    }
div.columns-2-r300 {
    width: 720px;
    }
div.columns-2-r300 .columns-2-left {
    float: left;
    width: 405px;
    margin-right: 15px;
    }
div.columns-2-r300 .columns-2-right {
    float: left;
    width: 300px;
    }

/* default margin for widgets */

.appwidget {
    margin-bottom: 15px;
    position: relative;
    }
.appwidget .more-link {
    position: absolute;
    right: 7px;
    top: 6px;
    font-size: 11px;
    text-decoration: none;
    padding-left: 10px;
    text-transform: lowercase;
    color: #114577 !important;
    background: url(/img/arrow-double-blue.gif?v=11518) no-repeat 0 60%;
    }
*HTML .appwidget .more-link {
    right: 27px;
    }

.appwidget .more-link:hover {
    text-decoration: underline;
    }

/* add this class to anything to make upgrade icon appear next to it */
.upgrade-account {
    padding-right: 18px;
    background: url('/horizon/upgrade-paid-icon.gif?v=1') no-repeat right 50%;
    }

.arrow-link,
.more-link {
    padding-left: 12px;
    background: url(/img/arrow-double-black.gif?v=10472) no-repeat 0 50%;
    }

/* Used to encapsualte message forms like Invite and Tell a Friend */
.message {
    border: 5px solid #eee;
    margin-bottom: 15px;
    }
.message blockquote {
    margin: 0;
    padding: 15px;
    border: 1px solid #aaa;
    }


/* htdocs/moodlist.bml
cgi-bin/LJ/Hooks/Login.pm
cgi-bin/LJ/Widget/ContentFlagSummary.pm   */
.standout-border {
    border: 1px solid #8fc3f7;
    padding: 6px;
    }
.standout-background {
    background-color: #c5dff9;
    }

/* Sidebars floated to the right — old Layouts
htdocs/contact/index.bml
htdocs/rename/index.bml
cgi-bin/LJ/Widget/SubmitRequest/Support.pm
*/
div.right-sidebar {
    float: right;
    width: 300px;
    color: #000;
    background-color: #c5dff9;
    border: 1px solid #8fc3f7;
    margin: 10px;
    padding: 10px;
    }

/* 
htdocs/allpics.bml
htdocs/tools/memories.bml
 */
div.ad-sidebar {
    width: 300px;
    float: right;
    }

/* Solid background headings */
h2.solid-neutral {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    background: #ededed url(/img/corner.gif?v=11411) no-repeat 0 0;
    margin: 0 0 8px 0;
    padding: 5px 8px;
    color: #222;
    }
h2.solid-blue {
    position: relative;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    background: #d7e7f7 url(/img/corner.gif?v=11411) no-repeat 0 0;
    margin: 0 0 8px 0;
    padding: 5px 8px;
    color: #222;
    }
.solid-neutral {
    background: #ededed;
    }


/* Our OLD bad friends from lj_base.css
--------------------------------------------------------------------- */
.lj_progresscontainer {
    height: 25px;
    width: 400px;
    margin: 1em;
    background: url(/img/progress/inactive.gif?v=6460) repeat;
    }

.lj_progressoverlay {
    background: url(/img/progress/active.gif?v=6460) repeat;
    }

.lj_progressindefinite {
    background-image: url(/img/progress/barber.gif?v=6460);
    }

.helper {
    font-size: 0.8em;
    color: #666;
    }

/* Buttons OLD
-------------------------------*/
.b-btn {
    overflow: visible;
    padding: 10px 25px;
    background: #6ED1FF;
    background: -moz-linear-gradient(top, #6ED1FF 0%, #1BB5FD 3%, #158FC8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ED1FF), color-stop(3%,#1BB5FD), color-stop(100%,#158FC8));
    background: -webkit-linear-gradient(top, #6ED1FF 0%,#1BB5FD 3%,#158FC8 100%);
    background: -o-linear-gradient(top, #6ED1FF 0%,#1BB5FD 3%,#158FC8 100%);
    background: -ms-linear-gradient(top, #6ED1FF 0%,#1BB5FD 3%,#158FC8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ED1FF', endColorstr='#158FC8',GradientType=0 );
    background: linear-gradient(top, #6ED1FF 0%,#1BB5FD 3%,#158FC8 100%);
    border: 1px solid #518593;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #0B6294;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    }
.b-btn-disabled {
    background: #EAEAEA;
    background: -moz-linear-gradient(top, #EAEAEA 0%, #CFCFCF 3%, #C5C5C5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(3%,#CFCFCF), color-stop(100%,#C5C5C5));
    background: -webkit-linear-gradient(top, #EAEAEA 0%,#CFCFCF 3%,#C5C5C5 100%);
    background: -o-linear-gradient(top, #EAEAEA 0%,#CFCFCF 3%,#C5C5C5 100%);
    background: -ms-linear-gradient(top, #EAEAEA 0%,#CFCFCF 3%,#C5C5C5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAEAEA', endColorstr='#C5C5C5',GradientType=0 );
    background: linear-gradient(top, #EAEAEA 0%,#CFCFCF 3%,#C5C5C5 100%);
    border-color: #C0C0C0;
    text-shadow: 1px 1px 1px #999;
    }
.b-btn-tokens {
    margin: 30px 0 0;
    padding: 10px 6px 7px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    border-color: #025266;
    background: -moz-linear-gradient(top, #6ed6e5 0%, #1bbbd2 14%, #1bb2c8 37%, #1ba4b8 66%, #1b9eb1 83%, #1495a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ed6e5), color-stop(14%,#1bbbd2), color-stop(37%,#1bb2c8), color-stop(66%,#1ba4b8), color-stop(83%,#1b9eb1), color-stop(100%,#1495a7));
    background: -webkit-linear-gradient(top, #6ed6e5 0%,#1bbbd2 14%,#1bb2c8 37%,#1ba4b8 66%,#1b9eb1 83%,#1495a7 100%);
    background: -o-linear-gradient(top, #6ed6e5 0%,#1bbbd2 14%,#1bb2c8 37%,#1ba4b8 66%,#1b9eb1 83%,#1495a7 100%);
    background: -ms-linear-gradient(top, #6ed6e5 0%,#1bbbd2 14%,#1bb2c8 37%,#1ba4b8 66%,#1b9eb1 83%,#1495a7 100%);
    background: linear-gradient(top, #6ed6e5 0%,#1bbbd2 14%,#1bb2c8 37%,#1ba4b8 66%,#1b9eb1 83%,#1495a7 100%);
    background-color: #1495A7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed6e5', endColorstr='#1495a7',GradientType=0 );
    }

/* V Gift AdNectar
-------------------------------*/
.vgift-img-l {
    max-width: 220px;
    max-height: 220px;
    }
.vgift-img-s {
    max-width: 100px;
    max-height: 100px;
    }

/* AdNEctar style for vgift */
.i-vgift-details {
    position: relative;
    padding: 0;
    margin: 0;
    zoom:1;
    }
    .i-vgift-details A {
        display: block;
        position: relative;
        border: 0 !important;
        }
        .i-vgift-details A:hover {
            border: 0 !important;
            }
.adnectar-play {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 15px;
    background: url(/img/play-button.png?v=8454) no-repeat;
    }
.appwidget-friendbirthdays .adnectar-play {
    display: none;  
    }



/* LJ Hidden (We haven't used it yet)
-------------------------------*/
.ljhidden {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 0.1px;
    line-height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    }

/* Look at the NaNoWriMo */
.super {
    vertical-align: super;
    font-size: .7em;
    }

.notice {
    color: #f00;
    }

.warning-background {
    background-image: url(/img/message-warning.gif?v=4888);
    }

/* Disabled block
--------------------------- */
/* Must be removed after implementation of Framework! */
.st-disabled {
    position:relative;
    }

/* Blocking layer */
.b-blocker {
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    }
    .st-disabled .b-blocker {
        display:block;
        }
    .b-blocker-over {
        z-index:1000000000;
        }
    .b-blocker-white {
        background:#FFF;
        }
    .b-blocker-gray {
        background:#808080;
        }
    .b-blocker-gray,
    .b-blocker-white {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity:.5;
        }

/* Block for adding HTML into headers.
It must be invisible, use it only for reskining */
.b-reskining-header {
    display: none;
    }

 /* List of [un]changed inputs
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-form-changelist .type-text {
    color:#808080;
    }
    .b-form-changelist .type-text:focus,
    .b-form-changelist .type-text-focus,
    .b-form-changelist .type-text-changed {
        color:#000;
        }   
        
/* The indicator of something new  */
/* Must be removed after implementation of Framework! */
SUP.i-new {
    position: relative;
    bottom: 0.5em; 
    padding: 0 1px;
    vertical-align: middle;
    font-size: 11px;
    color: #C00;
    }

/* Reject Users in Manage Community
--------------------------- */
/* Must be removed after implementation of Framework! */
.b-pending-users {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    float:left;
    }
    .b-pending-users LI {
        position: relative;
        float: left;
        padding: 0 5px 0 0;
        }
    .b-pending-users LI:hover,
    .b-pending-users LI.hover {
        z-index: 2;
        }
        .b-pending-users A {
            border-bottom: 0 !important;
            text-decoration: none !important;
            }
        .b-pending-users LI SPAN {
            position: relative;
            float: left;
            margin: 0;
            }
            .b-pending-users LI SPAN I.i-pending-users-delim {
                position: relative;
                z-index: -1;
                }
        .b-pending-users LI:hover SPAN,
        .b-pending-users LI.hover SPAN {
            margin: -3px -18px -4px -8px;
            padding: 2px 17px 3px 7px;
            background: #F5F5F5;
            border: 1px solid #CCC;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            }
        .b-pending-users LI:hover SPAN .i-pending-close,
        .b-pending-users LI.hover SPAN .i-pending-close {
            display: block;
            position: absolute;
            top: 50%;
            right:6px;
            width: 6px;
            height: 7px;
            margin: -3px 0 0;
            padding: 0;
            background: url(/img/buttons/pending-close.gif?v=9474) no-repeat 0 0;
            cursor: pointer;
            }
.b-pending-reason {
    width: 99%;
    margin: 0 0 1em;
    clear: both;
    }
.i-pending-reject {
    float: right;
    margin: 0.5em 0 0;
    }
        
