/* ie6 and below css */

.LJ_Placeholder_Container {
    position: relative;
}
.LJ_Placeholder_Container img {
    position: absolute;
    top: 45%;
    left: 45%;
}

/* Vgift shop page */
.vgift .vg_img {
    height: 101px;
    width: 101px;
    margin-left: 0px;
    margin-right: 0px;
}

/* singapoure news block */
.sg-content UL {
	display: block;
}

.sg-content LI {
		width: 25%;
		border-left: 1px solid #f9c5ab;
		min-height: 10em;
		display: block;
		float: left;
		margin-left: -3px;
}
*HTML .sg-content LI {
		height: 220px;
}