.cat_head {
    background-color: #ddd;
    padding: 1px 5px 3px 5px;
}

.field_block {
    margin: 5px 0px 5px 0px;
}

.field_block td {
    vertical-align: top;
    padding-top: .3em;
    padding-bottom: .3em;
}

.field_name {
    padding-right: 5px;
    white-space: nowrap;
    font-size: .9em;
    font-weight: bold;
    color: #333;
    text-align: right;
    background-color: #eee;
    width: 145px;
}
.field_block .field_name {
    padding-top: .6em;
}

.field_desc {
    color: #505050;
}

.helper {
    font-size: 0.8em;
}

.helper li {
    font-size: 1em;
}

.helper td {
    font-size: 1em;
}

.example p {
    font-size: 0.8em;
}

.section_head {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    color: #036;
    background-color: #c5dff9;
    border: 1px solid #8fc3f7;
    clear: both;
}

.view_options {
    margin-left: 20px;
    font-size: .7em;
    font-weight: bold;
    color: #333;
}

#contextual_help {
    padding: .5em;
    line-height: 140%;
}

#contextual_help p {
    padding: 0;
    margin: 0;
}

#contextual_help ul {
    list-style: circle;
}

.appwidget-location {
	zoom: 1;
}

.appwidget-location {
	float: left;
}

DIV.lc_detect {
	float: left;
	width: 20%;
	padding: 2em;	
}

.lc_detect SPAN {
	display: block;	
	margin-bottom: 5px;
}
DIV.lc_detect INPUT {
	margin: 0px;
	zoom: 1; 
	}

/* Custom Userheads in Edit Profile Page
--------------------------- */
.i-manage-userhead {
	width: 16px;
	height: 16px;
	border: 0;
	vertical-align: -2px;
	}
.b-manage-userheads-desc {
	margin: 0 0 1em;
	}
.b-manage-userheads {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.b-manage-userheads:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
	.b-manage-userheads LI {
		position: relative;
		overflow: hidden;
		float: left;
		width: 25%;
		margin: 0 1em 0.5em 0;
		padding: 0;
		list-style: none;
		white-space: nowrap;
		}
		.b-manage-userheads LI LABEL {
			display: block;
			padding: 3px 5px;
			border: 1px solid #FFF;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			}
		.b-manage-userheads LI.hover LABEL,
		.b-manage-userheads LI.active LABEL,
		.b-manage-userheads LI:hover LABEL {
			border: 1px solid #CCC;
			background: #F5F5F5;
			}
			.b-manage-userheads LI INPUT {
				position: absolute;
				left:-99px;
				}

/* Manage playlist
--------------------------- */

.music-settings-manage-playlist,
.music-playlist-action {
	margin: 0 0 0 5px;
	}
	.music-settings-manage-playlist DD {
		margin: 0;
		}
.music-settings-manage-playlist .music-settings-preloader {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	background: url(/img/preloader/preloader-blue-blue.gif?ver=1) no-repeat 0 0;
	}
#playlist_name {
	font-weight: bold;
	}
.music-settings-manage-state-empty .music-playlist-loading,
.music-settings-manage-state-empty .music-playlist-loaded,
.music-settings-manage-state-empty .music-playlist-login-error,
.music-settings-manage-state-empty .music-playlist-system-error,
.music-settings-manage-state-loading .music-playlist-loaded,
.music-settings-manage-state-loading .music-playlist-login-error,
.music-settings-manage-state-loading .music-playlist-system-error,
.music-settings-manage-state-loading .music-playlist-empty,
.music-settings-manage-state-loaded .music-playlist-loading,
.music-settings-manage-state-loaded .music-playlist-login-error,
.music-settings-manage-state-loaded .music-playlist-system-error,
.music-settings-manage-state-loaded .music-playlist-empty,
.music-settings-manage-state-system-error .music-playlist-loading,
.music-settings-manage-state-system-error .music-playlist-loaded,
.music-settings-manage-state-system-error .music-playlist-login-error,
.music-settings-manage-state-system-error .music-playlist-empty {
	display: none;
	}

