.hr {
	height: 1px;
	overflow: hidden;
	background: #D2D2D2;
	font-size: 0;
	}
	.hr HR {
		display: none;
		}

#profile_page {
    margin: 0 10px 0 0;
}
#profile_page a {
    text-decoration: none;
}
#profile_page a:hover {
    text-decoration: underline;
}
#profile_page .userpicdiv A:link,
#profile_page .userpicdiv A:visited,
#profile_page #vgifts_body A:link,
#profile_page #vgifts_body A:visited {
    border:0;
}
#profile_page a:visited {
    color: #470196;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear_right {
    clear: right;
}
.clear_left {
    clear: left;
}
.tooltip {
    border-bottom: 1px dotted #000;
}

/* start top box */

#profile_top {
    min-width: 740px;
    margin: 15px 0 25px 0;
}
.userpicdiv {
    float: left;
    width: 100px;
    text-align: center;
    padding: 2px 0 0 0;
}
.user_pic {
    margin: 0;
    border: 0;
}
.user_pic_caption {
    font-size: 0.7em;
}
.username {
    margin: 2px 0 0 0;
    font-size: 1.1em;
    padding: 0;
    border-bottom: 1px solid #c7e0f6;
    background-color: #ecf6ff;
    padding: 2px;
}

.actions {
   
}
    .actions ul {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
    }
    .actions li {
        display: block;
        padding: 3px 5px;
        list-style: none;
        border-bottom: 1px solid #c7e0f6;
        background-color: #ecf6ff;
        line-height: 18px;
    }
    .actions a {
        font-size: 0.9em;
        font-weight: bold;
    }
    .actions img {
        border: 0;
        padding-right: 3px;
        float: left;
    }
    .actions span {
        display: block;
        margin-top: 2px;
    }
    .profile_join_disabled, .profile_postentry_disabled, 
    .profile_sendvgift_disabled, .profile_sendmessage_disabled, 
    .profile_watch_disabled, .profile_addfeed_disabled,
    .profile_addfriend_disabled, .profile_trackuser_disabled,
 	.profile_addalias_disabled {
        color: #999;
        font-weight: bold;
		font-size: 1em;
    }
    .profile_addalias span {
        display: inline;
        margin-top: 0;    
        }
.user_details {
    margin: 5px 0 20px 0;
    float: left;
    width: 70%;
}

.user_details_inner {
    margin: 0 0 0 115px;
}

.details_journal {
}
    .details_journal H2.journal_title {
        font-size: 1em !important;
        font-weight: bold;
        font-style: normal;
        color: #000;
    }
    .details_journal H3.journal_subtitle {
        margin: 0 0 0.7em;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        color: #000;
    }
        
.details_stats {
    padding-right: 20px;
}
    .details_stats p {
        font-size: 0.75em;
        color: #666;
        font-weight: normal;
    }
    .details_stats a {
        font-weight: normal;
        font-size: 1em;
    }
    .details_stats .account_level {
        color: #000;
    }
    .details_stats .journal_warnings {
        margin-top: 5px;
    }
        .details_stats .journal_adult_warning,
        .details_stats .statusvis_msg {
            font-weight: bold;
        }
.rating-details {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
    }
    .rating-details .helplink {
        border-bottom: 0;
        }
        .rating-details .helplink:hover {
            border-bottom: 0;
            }
    .rating-details LI {
        padding: 0 0 5px 0;
        }
    .rating-social-capital IMG {
        margin-right: 4px;
        vertical-align: bottom;
        }
.details_links {
    padding: 12px 0 10px 0;
	overflow: hidden;
}
.details_links UL {
	padding: 0;
	float: left;
	list-style: none;
	margin: 0 40px 0 0;
	line-height: 1.4em;
}
.details_links UL:nth-child(even) {
    margin-right: 0;
    }
.details_links A {
	line-height: 1.2em;
}
        
.user_details p, .user_details_bottom {
    margin: 0;
    padding: 0;
}
P.details-rating {
    padding: 16px 0 3px;
    }
.user_details_bottom {
    font-size: 0.85em;
    padding-top: 5px;
    font-weight: bold;
}
    .user_details_bottom a, .user_details_bottom span {
        font-weight: normal;
    }

/* end top box */

.section {
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid #c7e0f6;
    background-color: #ecf6ff;
    margin: 10px 0 10px 0;
    padding: 2px;
    color: #222;
    clear: both;
}
    .section span.section_link {
        font-size: 0.75em;
        font-weight: normal;
        color: #000;
    }
.section_body {
    padding: 0 20px 10px 20px;
}
    .section_body .inner_section_header {
        color: #444;
        font-weight: bold;
        margin: 10px 0 0 0;
    }
        .section_body .inner_section_header_link {
            font-size: 0.8em;
            font-weight: normal;
            }
    .section_body .first {
        margin: 0;
    }
    .section_body .inner_section_body {
        margin: 0;
    }
    .section_body .alt_friends {
        margin: 1px 0 0 0;
    }
span.expandcollapse {
    cursor: pointer;
}
    .section_body .inner_section_header span.expandcollapse img {
        margin-left: -17px;
    }
    
.firsttwo {
    clear: none;
    margin-right: 310px;
}

.section_body_title {
    color: #444;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.userinfo, .external_services, .user_info_contact, .schools {
    padding-bottom: 10px;
}

.userinfo {
    float: left;
    margin-right: 70px;
}

.userinfo th {
    color: #444;
    font-weight: bold;
    text-align: right;
}

.userinfo th,
.userinfo td {
    vertical-align: top;
}

.contact {
    float: left;
}

.external_services {
    float: left;
    margin: 10px 70px 0 0;
}
    .external_services img {
        padding-right: 3px;
        max-width: 19px;
    }
    .external_services table td.im_icon,
    .external_services table td.im_status {
        text-align: center;
    }
        .external_services table td.im_icon img,
        .external_services table td.im_status img {
            border: 0;
        }
    .external_services td.msn_status SPAN {
		background: url('/img/profile_icons/mlm-icons.png?v=1') no-repeat 0 -40px;
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -2000px;
		margin: 0 auto;
    }
	* HTML .external_services td.msn_status SPAN {
		background: url('/img/profile_icons/mlm-icons.gif?v=1') no-repeat 0 -6px;
	}
		.external_services .msn_status .online {
			background-position: 0 -60px;
			_background-position: 0 -26px;
		}
		.external_services .msn_status .offline {
			background-position: 0 -40px;
			_background-position: 0 -6px;
		}
		.external_services .msn_status .away {
			background-position: 0 -100px;
			_background-position: 0 -66px;
		}
		.external_services .msn_status .busy {
			background-position: 0 -80px;
			_background-position: 0 -46px;
		}

.schools {  
    float: left;
    margin: 10px 0 0 0;
    width: 50%;
}
    .schools_item {
        font-size: 0.77em;
    }
         .schools_item a {
             font-size: 1.07em;
             }

.profile_right_ad {
    width: 300px;
    float: right;
    margin: 0 0 10px 10px;
    padding: 0 0 0 10px;
}


/* Vgift on profile page */
.b-vgift-list {
	list-style:none;
	padding:0;
	margin:0 -10px;
	zoom:1;
	}
	.b-vgift-list:after {
	    content: " ";
	    display: block;
	    visibility: hidden;
	    clear: both;
	    height: 0;
	    font-size: 0;
	    line-height: 0;
		}
		.b-vgift-list LI {
			float:left;
			height:150px;
			margin:10px;
			padding:0;
			text-align:center;
			width:120px;
			display: inline;
			}
		.b-vgift-list .vg_img {
			height:100px;
			margin: 0 auto 5px;
			width:100px;
			position: relative;
			zoom:1;
			}
			.b-vgift-list .vg_img IMG {
				display:block;
				margin: 0 auto;
				}


/* Wishes list on profile page */
#wishes_body {
    position: relative;
    }
    .b-wishes-profile {
        overflow: hidden;  
        width: 100%;  
    	margin: 0 -10px;
        }
        .b-wishes-list {
            width: 1000%;
        	padding: 0;
        	list-style: none;
        	zoom: 1;
        	}
        	.b-wishes-list:after {
        	    content: " ";
        	    display: block;
        	    visibility: hidden;
        	    clear: both;
        	    height: 0;
        	    line-height: 0;
        	    font-size: 0;
        		}
        		.b-wishes-list LI {
        			float:left;
        			display: inline;
        			width: 120px;
        			margin: 10px;
        			padding: 0;
        			text-align: center;
        			}
        		.b-wishes-list DIV {
        			position: relative;
        		    width: 100px;
        		    height: 100px;
        			margin: 0 auto 5px;
        			zoom:1;
        			}
        			.b-wishes-list DIV IMG {
        				display: block;
            			max-height: 100px;
            			max-width: 100px;
        				margin: 0 auto;
        				border 0;
        				}
        			.b-wishes-list DIV A,
        			.b-wishes-list DIV A IMG {
        			    border: 0;
        			    }
				.b-wishes-list .whl-item-nopic {
					overflow: hidden;
					display: block;
					width: 100px;
					height: 70px;
					margin: 0 auto;
					padding: 30px 0 0;
					border: 1px solid #CCC;
					background: #FFF;
					color: #999;
					font-size: 11px;
					text-align: center;
					text-decoration: none !important;
					color: #999 !important;
					}
/* Pager for wishes */
#wishes_body .i-nav {
    display: none;
	position: absolute;
	right: 10px;
	top: -28px;
	margin: 0;
	padding: 0;
	line-height: 11px;
	text-align: right;
	font-size: 11px;
	}
    #wishes_body .i-nav-prev,
    #wishes_body .i-nav-next {
    		overflow: hidden;
    		display: inline-block;
    		width: 16px;
    		height: 16px;
    		padding: 0;
    		cursor: pointer;
    		vertical-align: -4px;
    		background-image: url(/img/arrow-spotlight.gif?v=16423);
    		background-repeat: no-repeat;
    		font: 0/0 serif;
    		}
    #wishes_body .i-nav-prev {
    		margin: 0 5px 0 0;
    		background-position: 0 0;
    		}
    #wishes_body .i-nav-prev-dis {
    		background-position: 0 -16px;
    		cursor: default;
    		}
    #wishes_body .i-nav-next {
    		margin: 0 0 0 5px;
    		background-position: -16px 0;
    		}
    #wishes_body .i-nav-next-dis {
    		background-position: -16px -16px;
    		cursor: default;
    		}


/* ONTD-Button */
.details_ontd {
	padding:0 0 10px;
	}
	.details_ontd_btn {
		}
	*+HTML .details_ontd_btn {
		overflow:visible;
		padding:0 10px;
		}
	* HTML .details_ontd_btn {
		overflow:visible;
		padding:0 10px;
		}
		.details_ontd_btn SPAN {
			position:relative;
			padding:0 21px 0 0;
			}
		* HTML .details_ontd_btn SPAN {
			position:relative;
			padding:0 11px 0 0;
			}
	.details_ontd_ontduser {
		position:absolute;
		top:50%;
		right:0;
		width:17px;
		height:17px;
		margin:-8px 0 0;
		background:url(/img/user_ontd.gif?v=1) no-repeat 0 0;
		}
		.details_ontd_btn[disabled="disabled"] .details_ontd_ontduser {
			opacity:0.5;
			-moz-opacity:0.5; /* Netscape */
			-khtml-opacity:0.5; /* Safari 1.x */
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
			filter:alpha(opacity=50); /* IE 5-7 */
			}
	.details_ontd_user {
		position:absolute;
		top:50%;
		right:0;
		width:17px;
		height:17px;
		margin:-8px 0 0;
		background:url(/img/userinfo.gif?v=1) no-repeat 0 0;
		}


/* Vederko-Button */
.details_ru_vederko {
	padding:0 0 10px;
	}
	.details_ru_vederko_btn {
		}
	*+HTML .details_ru_vederko_btn {
		overflow:visible;
		padding:0 10px;
		}
	* HTML .details_ru_vederko_btn {
		overflow:visible;
		padding:0 10px;
		}
		.details_ru_vederko_btn SPAN {
			position:relative;
			padding:0 21px 0 0;
			}
		* HTML .details_ru_vederko_btn SPAN {
			position:relative;
			padding:0 11px 0 0;
			}
	.details_ru_vederko_vederkouser {
		position:absolute;
		top:50%;
		right:0;
		width:17px;
		height:17px;
		margin:-8px 0 0;
		background:url(/img/user_vederko.gif?v=1) no-repeat 0 0;
		}
		.details_ru_vederko_btn[disabled="disabled"] .details_ru_vederko_vederkouser {
			opacity:0.5;
			-moz-opacity:0.5; /* Netscape */
			-khtml-opacity:0.5; /* Safari 1.x */
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
			filter:alpha(opacity=50); /* IE 5-7 */
			}
	.details_ru_vederko_user {
		position:absolute;
		top:50%;
		right:0;
		width:17px;
		height:17px;
		margin:-8px 0 0;
		background:url(/img/userinfo.gif?v=1) no-repeat 0 0;
		}

/* App User list
--------------------------------------*/
.b-app-user-list {
	overflow: hidden;
	padding: 0;
	margin: 10px 0 15px 0;
	list-style: none;
	}
	.b-app-user-list LI {
		float: left;
		display: inline;
		padding: 0;
		margin: 0 30px 0 0;
		}
		.b-app-user-list LI IMG {
			padding: 0;
			margin: 0 2px 0 0;
			border: none;
			vertical-align: middle;
			}

/* App Activity list
--------------------------------------*/
.b-app-activity-list {
	overflow: hidden;
	padding: 0;
	margin: 15px 0 0 0;
	list-style: none;
	}
	.b-app-activity-list LI {
		overflow: hidden;
		padding: 0;
		margin: 0 0 13px 0;
		}
		.b-app-activity-list LI .pic {
			float: left;
			padding: 0;
			margin: 0 17px 0 0;
			border: none;
			}
		.b-app-activity-list LI P {
			padding: 0;
			margin: 0;
			font-size: 12px;
			}
		.b-app-activity-list LI .date {
			padding: 0;
			margin: 0 0 3px 0;
			font-size: 10px;
			color: #999;
			}
