#profile_page {
    margin: 0 10px 0 0;
}
#profile_page a {
    text-decoration: none;
}
#profile_page a:hover {
    text-decoration: underline;
}
#profile_page a:visited {
    color: #470196;
}

td {
    vertical-align: top;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear_right {
    clear: right;
}
.clear_left {
    clear: left;
}
.tooltip {
    border-bottom: 1px dotted #000;
}

/* start top box */

#profile_top {
    min-width: 740px;
    margin: 15px 0 25px 0;
}
.userpicdiv {
    float: left;
    width: 100px;
    text-align: center;
}
.user_pic {
    margin: 0;
    border: 0;
}
.user_pic_caption {
    font-size: 0.7em;
    white-space: nowrap;
}
.username {
    margin-top: 2px;
    font-size: 1.3em;
}
.user_options {
    border-bottom: 1px solid #b1b1b1;
    margin-left: 115px;
    padding-bottom: 5px;
}
.user_options_left {
    float: left;
}
.user_options_right {
    min-width: 600px;
}
    .user_options_right ul {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
    }
    .user_options_right li {
        display: block;
        float: left;
        padding-left: 10px;
        padding-top: 2px;
        list-style: none;
    }
    .user_options_right a {
        font-size: 0.95em;
        font-weight: bold;
    }
    .user_options_right img {
        border: 0;
        padding-right: 3px;
        float: left;
    }
    .user_options_right span {
        display: block;
        float: right;
        margin-top: 2px;
    }
    .profile_join_disabled, .profile_postentry_disabled, 
    .profile_sendvgift_disabled, .profile_sendmessage_disabled, 
    .profile_watch_disabled, .profile_addfeed_disabled,
    .profile_addfriend_disabled, .profile_trackuser_disabled {
        color: #999;
        font-weight: bold;
    }
.user_details {
    margin: 5px 0 0 115px;
}
.user_details_main {
    width: 80%;
    float: left;
    max-width: 800px;
    min-width: 500px;
}
.details_left {
    float: left;
    padding-right: 20px;
}
    .details_left .journal_title {
        font-size: 1em;
        font-weight: bold;
    }
    .details_left .journal_subtitle {
        font-style: italic;
    }
    .details_left .journal_warnings {
        margin-top: 5px;
    }
        .details_left .journal_adult_flag {
            font-size: 0.85em;
        }
        .details_left .journal_adult_warning,
        .details_left .statusvis_msg {
            font-size: 0.85em;
            font-weight: bold;
        }
.details_middle {
    float: left;
    min-width: 250px;
    padding-right: 20px;
}
    .details_middle p {
        font-size: 0.85em;
    }
.details_right {
    width: 20%;
    float: right;
    font-size: 0.77em;
    text-align: right;
}
    .details_right p {
        font-size: 10px;
    }
        .details_right p strong {
            font-weight: bold;
        }
.user_details p, .user_details_bottom {
    margin: 0;
    padding: 0;
}
.user_details_bottom {
    font-size: 0.85em;
    padding-top: 5px;
    font-weight: bold;
}
    .user_details_bottom a, .user_details_bottom span {
        font-weight: normal;
    }

/* end top box */

.section {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid #b1b1b1;
    margin: 10px 0 10px 0;
    color: #444;
    clear: both;
}
    .section span.section_link {
        font-size: 0.65em;
        font-weight: normal;
        color: #000;
    }
.section_body {
    padding: 0 20px;
}
    .section_body .inner_section_header {
        color: #444;
        font-weight: bold;
        margin: 10px 0 0 0;
    }
    .section_body .first {
        margin: 0;
    }
    .section_body .inner_section_body {
        margin: 0;
    }
    .section_body .alt_friends {
        margin: 1px 0 0 0;
    }
span.expandcollapse {
    cursor: default;
}
    .section_body .inner_section_header span.expandcollapse img {
        margin-left: -17px;
    }
.firsttwo {
    clear: none;
    margin-right: 310px;
}
.profile_right_ad {
    width: 300px;
    float: right;
    margin: 0 0 10px 10px;
    padding: 0 0 0 10px;
}

.basics_left {
    float: left;
    width: 30%;
    margin-right: 20px;
}
.basics_right {
    float: left;
    width: 35%;
}
.user_info_stats_left, .user_info_stats_right, .user_info_im, .user_info_contact, .user_info_schools {
    padding-bottom: 10px;
}
.user_info_stats_left th, .user_info_stats_right th {
    color: #444;
    font-weight: bold;
}
.user_info_im {
}
    .user_info_im img {
        padding-right: 3px;
        max-width: 19px;
    }
    .user_info_im table td.im_icon,
    .user_info_im table td.im_status {
        text-align: center;
    }
.user_info_schools_item {
    font-size: 0.77em;
}
.user_info_title {
    color: #444;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
    .user_info_title span {
        font-size: 0.75em;
        font-weight: normal;
    }
