/*Common */

#settings_page img {
    border: 0;
}
.smaller {
    font-size: 11px;
}
.disabled {
    color: #666;
}

/* Layout */
#intro {
    margin-bottom: 20px;
}
#settings_left {
    min-width: 625px;
}
#settings_save {
    background: #c7e0f6;
    padding: 5px 7px;
}

/* Tabs */
#settings_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    zoom: 1;
}
#settings_nav li {
    float: left;
}
#settings_nav li a {
    color: #000;
    text-decoration: none;
    display: block;
    background: #ecf6ff;
    margin-right: 5px;
    padding: 2px 7px;
    font-weight: bold;
    border-color: #c7e0f6;
    border-width: 2px 2px 0 2px;
    border-style: solid;
}
#settings_nav li a:hover, #settings_nav li a.active {
    background: #c7e0f6;
}
#settings_nav li.disabled {
    color: #999;
    display: block;
    background: #efefef;
    margin-right: 5px;
    padding: 2px 7px;
    font-weight: bold;
    border-color: #ccc;
    border-width: 2px 2px 0 2px;
    border-style: solid;
}
#settings_nav_title {
    clear: left;
    zoom: 1;
}
#settings_nav_title p {
    background: #c7e0f6;
    padding: 4px 10px;
    display: block;
    margin: 0;
    font-size: 11px;
}

/* Shared Content */
.account table, .display table, .mobile table, 
.privacy table, .history table, .advertising table, .extension table, .extensions table,
.lj_adsense table {
    width: 100%;
}
.account td, .display td, .mobile td, .privacy td, .history td, .advertising td, .integration td, 
.extensions td, .lj_adsense td {
    border-bottom: 1px #ccc solid;
    padding: 10px 10px 10px 5px;
}
.account td.last, .display td.last, .mobile td.last, .privacy td.last, 
.history td.last, .advertising td.last, .extension td.last, 
.extensions td.last, .lj_adsense td {
    border-bottom: none;
}
.account td.help, .display td.help, .mobile td.help, .privacy td.help, 
.history td.help, .advertising td.help .extensions td.help, .lj_adsense td.help {
    width: 14px;
    text-align: right;
}
.account_label, .display_label, .mobile_label, 
.privacy_label, .history_label, .integration_label, 
.extensions_label, .adsense_label {
    font-weight: bold;
}
.display_option, .mobile_option, .privacy_option {
    color: #000;
}

/* Account Content */
.account {
    margin-bottom: 10px;
}
.account_actionlink {
    text-align: right;
}
.account_stats {
    background: #eee;
    padding: 5px 10px;
    line-height: 18px;
}
.account_stats p {
    padding: 0;
    margin: 0 0 5px 0;
}

/* Display Content */
.display .radiotext {
    position: relative;
    bottom: 2px;
    left: 2px;
    padding-right: 10px;
}

/* Mobile Content */
.mobile table.setting_table {
    width: auto;
}
.mobile table.setting_table td {
    border: 0;
    padding: 0;
}
.mobile td.setting_label {
    text-align: right;
    color: #000;
}
.mobile_label, .mobile .help,
.extensions_label, .extensions .help {
    vertical-align: top;
}
.mobile_option p {
    margin: 0;
    padding-bottom: 5px;
}

/* Privacy Content */
.privacy .details {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 0;
}

/* Integration Content */
.extension {
	margin: 2px 0 5px;
	/*background: url(/img/liveid.gif?v=1) 100% 2px no-repeat;*/
	}
.extension table {
	border: 0;
	border-collapse: collapse;
	}

.extension .inprogr TD {
	border: none;
	}

.extension td.integration_label {
	width: 15em;
	vertical-align: top;
	}
	.extension td.integration_label A {
		font-weight: normal;
		}
.extension .act_msn TD {
	padding: 0px 10px 10px 5px;
	}
	.extensions td.extentsions_label {
		width: 19%;
		white-space: nowrap;
		}	
	.extensions td.extensions_option {
		width: 80%;
	}
.extension td.msnlogo {
	padding-right: 160px;
	font-weight: bold;
	}

	.msnlogo DIV {
		padding-top: 7px;
		}
	.msnlogo DIV INPUT {
		padding: 0px 6px;
		position: relative;
		overflow: visible;
		}

	.extension TD.last STRONG {
		font-weight: bold;
		display: block;
		margin-bottom: 7px;
		}

.extension SPAN {
	display: block;
	clear: both;
	overflow: hidden;
	}
.extension SPAN.comment {
	/*font-size: .85em;*/
	color: #999;
	margin: 5px 0 0 5px;
	}
	.extension .comment.act {
		color:#000;
		}

.extension SPAN.msn-inprogr {
	display: inline;
	color:#336699;
	}

.extension span INPUT {
	margin-right: 4px;
	position: relative;
	top: -2px;
	float: left;
	}
.extension  span #msn1, .extension span #msn3 {
	top: -1px;
	left: -3px;
	margin-bottom: 3px;
	}

.extension span LABEL {
	float: left;
	height: 1%;
	width: 90%;
	}
	.extension SPAN.msn_id {
		display: inline;
		}

.extension #passw, .extension #c-passw {
	display: block;
	margin-bottom: 7px;
	width: 180px;
	}

.extension #c-passw {
	margin-bottom: 16px;
	float: left;
	}

#msn_err_diff_pass {
	float: left;
	clear: none;
	padding-left: 7px;
	line-height: 1;
	font-size: 10px;
	color: #FF0000;
	}

.extension SPAN.alert_txt {
	font-size: .85em;
	margin: 0px 0px 16px 23px;
	color:#999;
	}

.extension .msn_error {
	background: #FFE889;
	border: 1px solid #FFCC33;
	color:#993300;
	padding: 10px;
	font-weight: normal;
	}
	.extension .msn_error H3 {
		font-style: normal;
		color:#FF6600;
		font-size: 1.2em;
		margin-bottom: 17px;
		}
	.extension .msn_error UL {
		margin-top: 0px;
		}
	.extension .msn_error A {
		color:#990000;
		}


/* Advertising Content */
.advertising table.setting_table {
    width: auto;
    margin: 0;
}
.advertising table.setting_table td {
    border: 0;
    padding: 0;
    vertical-align: top;
}
.advertising p {
    margin-top: 0;
}
.advertising .example {
    font-size: .8em;
    color: #666;
}
.advertising .category {
    padding-left: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Google Adsense Content */
.lj_adsense {
	position: relative;
	zoom: 1;
	}
* HTML .lj_adsense TABLE {
	position: relative;
	zoom: 1;
}
.lj_adsense UL {
	margin: .7em 0 0;
	padding: 0;
	list-style: none;
	}
	.lj_adsense UL LI {
		margin-bottom: 7px;
		}

.adsense_label {
	vertical-align: top;
	}
.adsense_option {
	width: 80%;
	vertical-align: top;
	}
.adsense_option FIELDSET {
	padding:0;
	border:0;
	margin:0;
	}
.adsense_option INPUT {
	margin: 0px;
	}
.adsense_option INPUT.ads_opt {
	position: relative;
	top: 2px;
	left: -2px;
	margin-right: 3px;
	}
*:first-child+html .adsense_option INPUT.ads_opt {
	top: 1px;
	left: -3px;
	}
.adsense_option INPUT.ads_select {
	position: relative;
	top: 3px;
	left: -2px;
	margin-right: 3px;
	}
	*:first-child+html .adsense_option INPUT.ads_select {
		top: 1px;
		left: -3px;
		}
	.adsense_option .steps LI {
		margin-bottom: 10px;
		}
	.adsense_option LI LABEL {
		display: block;
		margin-bottom: 3px;
		}
		.adsense_option .adsense-create LI LABEL {
			display:inline;
			}
	.adsense_option .steps LI.adsense_more {
		margin-bottom: 17px;
		}
		.adsense_option LI.adsense_more LABEL {
			display: inline;
			}
		.adsense_option LI.adsense_more INPUT {
			width: auto;
			}
	.adsense_option .steps INPUT, .adsense_option .steps SELECT {
		width: 210px;
		}
		.adsense_option .steps INPUT.adsense-btn {
			width: auto;
			overflow: visible;
			}
		.adsense_option .steps INPUT.ads_opt {
			width: auto;
			}
.adsense-form-hint {
	display:block;
	padding:.2em 0 1em;
	font-size:.85em;
	font-style:italic;
	}

.adv-types {
	margin: 0px 0px 20px;
	}
	.adv-types DT, .adv-types DD,
	.adv-colors DT, .adv-colors DD {
		margin: 0;
		padding: 0;
		}		
	.adv-types DT,
	.adv-colors DT {
		font-weight: bold;
		margin-bottom: 7px;
		}
	.adv-types DT LABEL {
		font-weight: normal;
		}
	.adv-types DD {
		margin-bottom: 5px;
		}
		.adsense_option .adv-types DD LABEL  {
			display: inline;
			}
		.adsense_option .adv-types DD INPUT {
			width: auto;
			}
		.adsense_option .adv-types DD TEXTAREA {
			width: 80%;
			margin-top: 12px;
			display: block;
			}
		.adsense_option .adv-types DD B {
			display: block;
			font-weight: normal;
			}
		.adsense_option .adv-types DD A {
			font-size: 11px;
			}

.adsense_status {
		margin: 11px 0px;
	}
.adsense_label DIV {
	font-size: 11px;
	font-weight: normal;
	}
#adsense_user {
	margin: 20px 0;
	}
	#adsense_user SPAN {
		display: block;
		}
.adsense-settings {
	border-top: 1px solid #CCC;
	margin-top: 7px;
	padding-top: 7px;
	}
.adsense_option .setting-type {
	position: absolute;
	left: 5px;
	margin: 0;
	}
* HTML .adsense_option .setting-type {
	zoom: 1;
	height: 1%;	
	position: relative;
	margin-left: -185px;
	float: left;
}

	.adsense_option .setting-type LI {
		font-size: 11px;
		}
.adsense_option .adv-lang {
	margin-bottom: 20px;
	}
	.adv-lang LABEL {
		font-weight: bold;
		display: block !important;
		margin-bottom: 9px;
	}
.adsense_option .adv-type-tabs {
	width: 100%;
	overflow: hidden;
	zoom: 1;
	background: url('/img/corners/adsense-tabs.gif?v=1') repeat-x 0 100%;
	margin-bottom: 12px;
	}

*:first-child+html .adsense_option .adv-type-tabs  {
	padding-bottom: 1px;
	}

* HTML .adsense_option .adv-type-tabs  {
	padding-bottom: 1px;
}
	.adsense_option .adv-type-tabs LI {
		zoom:1;
		position:relative;
		float: left;
		display:inline;
		padding: 7px 10px 5px;
		margin: 0px 7px 2px 0px;
		border: 1px solid #CCC;
		border-width: 1px 1px 0px 1px;
		}
	.adsense_option .adv-type-tabs LI.cur {
		padding: 7px 10px 6px;
		margin: 0px 7px 0px 0px;
		border-bottom: 1px solid #FFF;
		background: #FFF;
		}
	*:first-child+html .adsense_option .adv-type-tabs LI.cur {
		border-bottom: none;
		}
	* HTML 	.adsense_option .adv-type-tabs LI.cur {
		border-bottom: none;
		}
.adsense_option .adsense-banner {
	float: left;
	width: 100%;
	zoom: 1;
}
	.adsense-banner .banner-preview {
		margin-bottom: 15px;
	}
	.adsense-banner.vertical .banner-preview {
		width: 160px; 
		height: 600px; 
		float: right;
		margin-bottom: 0;
	}
	.banner-preview-text {
		margin-top:0;
		}
	.adsense-banner .banner-settings {
		width: 100%; 
	}
	.adsense-settings-extended .adsense-banner.vertical .banner-settings {
		float: right; 
		margin-right: -160px
	}
	.adsense-banner.vertical .banner-settings-in {
		margin-right: 180px;
	}

/* Adsense color pickers */
.adsense-color-pickers:after {
	content:"";
	clear:both;
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	}
.adsense-color-pickers {
	position:relative;
	z-index:100;
	list-style:none;
	margin:12px 0 12px 0 !important;
	padding:0 0 18px;
	border-bottom:1px solid #CCC;
	zoom:1;
	}
	.adsense-color-picker {
		float:left;
		display:inline;
		width:133px;
		margin: 0 !important;
		padding:0;
		padding-bottom: 20px;
		}
	.adsense-color-picker-in {
		margin:0;
		padding:0;
		}
	.adsense-color-picker DT {
		margin-bottom: 0px;
		}
	.adsense-color-picker-in LABEL {
		font-weight: normal;
		}
	.adsense_option .steps .adsense-color-picker INPUT {
		width:97px;
		margin-top:4px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		font-size:1em;
		}
	*+HTML .adsense_option .steps .adsense-color-picker INPUT {
		width:92px;
		}

/* adsense banner scheme */
.adsense-scheme {
	position:relative;
	width:78px;
	height:123px;
	border:1px solid #FFEABF;
	padding:0 25px 0 8px;
	overflow:hidden;
	background:#FFFFE7;
	}
	.adsense-scheme-head {
		display:block;
		width:51px;
		height:6px;
		margin:5px 0 6px 0;
		overflow:hidden;
		background:#EAEFDA;
		}
	.adsense-scheme-alt .adsense-scheme-head {
		margin:11px 0 12px;
		}
	.adsense-scheme-content {
		display:block;
		width:71px;
		height:66px;
		margin:0 0 6px 0;
		overflow:hidden;
		background:#CCC url(/img/adsense/adsense-scheme.gif?v=1) 0 0 repeat-y;
		}
	.adsense-scheme-alt .adsense-scheme-content {
		margin:0 0 11px 0;
		}
	.adsense-scheme-b1 {
		display:block;
		width:80px;
		height:10px;
		margin:7px 0 0;
		overflow:hidden;
		background:#000 url(/img/adsense/adsense-scheme.gif?v=1) -95px 0 no-repeat;
		}
	.adsense-scheme-b2 {
		display:block;
		width:22px;
		height:22px;
		border-right:49px solid #FFFFE7;
		margin:22px 0 0;
		overflow:hidden;
		background:#000 url(/img/adsense/adsense-scheme.gif?v=1) -72px 0 no-repeat;
		}
	.adsense-scheme .adsense-scheme-b3 {
		position:absolute;
		left:91px;
		top:21px;
		width:11px;
		height:54px;
		overflow:hidden;
		background:#000 url(/img/adsense/adsense-scheme.gif?v=1) -74px 0 repeat-y;
		}
	.adsense-scheme-alt .adsense-scheme-b2 {
		position:absolute;
		left:83px;
		top:26px;
		border:0;
		margin:0;
		}
	.adsense-scheme-alt .adsense-scheme-b1,
	.adsense-scheme-alt .adsense-scheme-b3 {
		display:none;
		}
	.adsense-scheme-b1-active .adsense-scheme-b1,
	.adsense-scheme-b2-active .adsense-scheme-b2,
	.adsense-scheme-b3-active .adsense-scheme-b3,
	.adsense-scheme-b4-active .adsense-scheme-b4 {
		background-color:#F00;
		}
	.adsense-scheme-b4 {
		display:block;
		width:80px;
		height:10px;
		margin:0 0 0 0;
		overflow:hidden;
		background:#000 url(/img/adsense/adsense-scheme.gif?v=1) -95px 0 no-repeat;
		}

/* Adv types wrap */
.adv-types-wrap {
	margin:0 0 20px;
	zoom:1;
	}
	.adv-types-wrap:after {
		content:"";
		clear:both;
		display:block;
		width:0;
		height:0;
		overflow:hidden;
		visibility:hidden;
		}
	.adv-types-wrap .adv-types {
		float:left;
		padding-right:30px;
		margin:0;
		}
	.adv-types-wrap .adsense-scheme {
		float:left;
		display:inline;
		}
	.adv-types-note {
		clear:both;
		padding:1em 0;
		}
/* Adsen */
.adsense-settings-standard .adv-colors,
.adsense-settings-standard .banner-preview-wrap,
.adsense-settings-extended .banner-preview-text,
.adsense-settings-standard #banType,
.adsense-settings-standard #tabs {
	display:none;
	}

/* Adsense status */
.adsense-status {
	margin:.5em 0;
	padding:0;
	line-height:1.25;
	}
	.adsense-status DT {
		display:inline;
		margin:0;
		padding:0;
		font-weight:bold;
		}
	.adsense-status DD {
		display:inline;
		margin:0;
		padding:0;
		}
		.adsense-status DD EM {
			font-style:normal;
			color:#D08707;
			}
			
/* AdSense Help Icon correction for IE */
*:first-child+html .lj_adsense DD A IMG {
	vertical-align: bottom;
	padding-bottom: 2px;
}
*:first-child+html .lj_adsense P A IMG {
	vertical-align: bottom;
	padding-bottom: 2px;
}
*HTML .lj_adsense DD A IMG {
	vertical-align: bottom;
	padding-bottom: 2px;
}
*HTML .lj_adsense P A IMG {
	vertical-align: bottom;
	padding-bottom: 2px;
}

/* Delete basket icon */
/* Must be removed after implementation of Framework! */
.i-basket {
    border: 0 !important;
    text-decoration: none !important;
    }

/*  APPS settings
---------------------------------- */
.b-settings {
    }
    .b-settings-apps {
        }
        .b-settings-apps-no {
            padding: 50px;
            text-align: center;
            }
    

/* App name
--------------------------------------*/
.b-settings-apps-item-name {
	padding: 0;
	margin: 0 0 0 0;
	font-style: normal;
	font-size: 10px;
	color: #000;
	}
	.b-settings-apps-item-name IMG {
		padding: 0;
		margin: 0 4px 0 0;
		border: none;
		vertical-align: middle;
		}

.b-settings-apps-items {
    margin: 0;
    padding: 10px 20px 0;
    list-style: none;
    }   	
	.b-settings-apps-item {
	    position: relative;
        margin: 0;
        padding: 0 10px 10px;
	    }
	    .b-settings-apps-item H3 {
	        cursor: pointer;    
	        }
	    .b-settings-apps-item-desc {
	        padding: 10px 0 10px 20px;
	        }
	        .b-settings-apps-item-desc H4 {
	            padding: 0;
	            margin: 0 0 5px;
	            font-weight: normal;
	            }


.b-settings-apps-item .m-switch {
    position: absolute;
    display: none;
    left: -10px;
    top: 0.4em;
    width: 9px;
    height: 9px;
    background: url(/img/arrows-menu.gif?v=1) no-repeat;
    }
    .b-settings-apps-item-open .m-switch {
         background-position: 0 -10px;
        }
        /* IF JS isn't disabled */
        #js .b-settings-apps-item .m-switch {
            display: block;
            }
        #js .b-settings-apps-item  .b-settings-apps-item-desc  {
            display: none;
            }
             #js .b-settings-apps-item-open  .b-settings-apps-item-desc  {
                display: block;    
                }
.b-settings-apps-list {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .b-settings-apps-list LI {
        padding: 2px 10px;
        background: #f1f1f1;
        }
    .b-settings-apps-list LI.odd {
        background: #FFF;
        }
.b-settings-apps-item-submit {
    padding: 2px 10px;
    background: #c5e1f7;
    }



.b-catalogue-item {
    position: relative;
     clear: left;
     margin: 0 0 10px;
     padding: 5px 10px 0 !important;
     border: 1px solid #d2d2d2;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     }
     .b-catalogue-item DL {
         position: relative; 
         min-height: 70px;
         margin: 0 0 0 70px;  
         padding: 0;
         }
         .b-catalogue-item DL DD {
            padding: 0;
            margin: 0; 
            }
         .b-catalogue-item DD.b-catalogue-item-count {
             display: none;
             position: absolute;
             top: 3px;
             right: 0;
             color: #999;
             font-size: 11px;
             }
         .b-catalogue-item DD.b-catalogue-item-img {
             position: absolute;
             left: -70px;
             top: 0;
             }
              .b-catalogue-item DD.b-catalogue-item-img IMG {
                 max-width: 60px;
                 max-height: 60px; 
                 }

             .b-catalogue-item DD.b-catalogue-item-desc H4 {
                  margin: 0 0 3px;
                  padding: 0;
                  font-style: normal;
                  }
              .b-catalogue-item-author {
                  font-size: 10px;
                  color: #999;
                  }
             .b-catalogue-item-action {
                 overflow: hidden;
                 zoom:1;
                 }
                 .b-catalogue-item-action LI {
                     float: left; 
                     padding: 0 5px 0 0;
                     }

.b-catalogue-item-tail {
    position: absolute;
    top: -6px;
    left: 37px;
    width: 11px;
    height: 6px;
    background: url(/img/tail-top.gif?v=1) no-repeat;
    font: 0/0;
    }

.b-accstats {
	margin: 0;
	color: #222;
	}
	.b-accstats-wrapper {
		padding: 4px 15px;
		border: 1px solid #EAE8AC;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background: #FFFFD5;
		}
		.b-accstats-table {
			border-collapse: collapse;
			border-spacing: 0;
			}
			.b-accstats-head {
				width: 30%;
				font-size: 1.154em;
				font-weight: bold;
				text-align: left;
				}
			.account .b-accstats-table TD {
				padding: 10px 10px 10px 20px;
				border: 0;
				font-size: 0.923em;
				vertical-align: top;
				text-align: left;
				}
			.account .b-accstats-table .b-accstats-border {
				border-top: 1px solid #EAE8AC;
				}
			.account .b-accstats-table TH.b-accstats-subhead {
				padding: 0;
				text-align: left;
				}
			.account .b-accstats-table TD.b-accstats-subhead {
				width: 13%;
				padding: 10px 1px 10px 0;
				}
			.account .b-accstats-commtnb .b-accstats-table TD.b-accstats-userpics {
				width: 70%;
				}
				.b-accstats-subhead SPAN {
					display: inline-block;
					padding: 0 0 2px 20px;
					background-image: url(/img/widget/trynbuy/subhead.gif?v=11082);
					background-repeat: no-repeat;
					}
				.b-accstats-userpics SPAN {
					background-position: 0 0;
					}
				.b-accstats-storage SPAN {
					background-position: 0 -48px;
					}
				.b-accstats-subs SPAN {
					background-position: 0 -94px;
					}
				.b-accstats-voice SPAN {
					background-position: 0 -144px;
					}
			.account .b-accstats-table .b-accstats-button {
				padding: 10px 0 0 10px;
				border: 0;
				vertical-align: top;
				}
			.account .b-accstats-community .b-accstats-table .b-accstats-button-tnb {
				width: 100px;
				}
				.b-accstats-button .b-accstats-trynbuy {
					display: block;
					width: 100px;
					margin: 0 auto;
					padding: 40px 0 0;
					background: url(/img/widget/trynbuy/trynbuy.gif?v=1) no-repeat 50% 0;
					text-align: center;
					}
				.b-accstats-community .b-accstats-button .b-accstats-trynbuy {
					margin: 0 auto 0 0;
					}
				.b-accstats-button .b-accstats-upgrade {
					display: block;
					width: 100px;
					margin: 0 auto;
					padding: 40px 0 0;
					background: url(/img/widget/trynbuy/upgrade.gif?v=1) no-repeat 50% 0;
					text-align: center;
					}
				.b-accstats-community .b-accstats-button .b-accstats-upgrade,
				.b-accstats-identity .b-accstats-button .b-accstats-upgrade {
					margin: 0 auto 0 0;
					}
				.b-accstats-button .b-accstats-trynbuy:link,
				.b-accstats-button .b-accstats-trynbuy:visited,
				.b-accstats-button .b-accstats-trynbuy:hover,
				.b-accstats-button .b-accstats-trynbuy:active,
				.b-accstats-button .b-accstats-upgrade:link,
				.b-accstats-button .b-accstats-upgrade:visited,
				.b-accstats-button .b-accstats-upgrade:hover,
				.b-accstats-button .b-accstats-upgrade:active {
					border-bottom: 0;
					}

/* Music settings */

.music-settings-options {
	border-collapse: collapse;
	}
	.music-settings-options TD {
		padding: 0;
		border: 0;
		vertical-align: top;
		}
	.music-settings-options .music-settings-site-list {
		width: 10%;
		}
#LJ__Setting__Music__LastFM_,
#LJ__Setting__Music__Trava_ {
	padding: 0 10px;
	}
#LJ__Setting__Music__Trava_,
.music-settings-trava,
.music-settings-trava-logo {
	vertical-align: top;
	}
	#LJ__Setting__Music__Trava_ A {
		cursor: pointer;
		border: 0;
		outline: none;
		text-decoration: none;
		color: blue;
		}		
	#LJ__Setting__Music__Trava_ A:hover {
		text-decoration: underline;
		}
		#LJ__Setting__Music__Trava_ .music-settings-login-error-msg A {
			color: blue;
			}
#LJ__Setting__Music__Trava_ DL,
#LJ__Setting__Music__Trava_ DD {
	margin: 0;
	}
#LJ__Setting__Music__LastFM_ LABEL INPUT {
	margin-left: 10px;
	}
.music-settings-connect {
	margin: 0 5px;
	}
.music-settings-disconnect {
	color: blue;
	}
.music-settings-trava-logo {
	margin: -6px 0 0 4px;
	}
.music-settings-login-error-msg SPAN,
.music-settings-system-error-msg SPAN {
	color: red;
	}
.music-settings-preloader {
	display: none;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	background: url(/img/preloader/preloader-blue-blue.gif?ver=1) 0 0 no-repeat;
	}
.music-settings-username {
	font-size: 12px;
	}
.music-settings-loading .music-settings-connect {
	display: none;
	}
.music-settings-loading .music-settings-preloader {
	display: inline-block;
	}
.music-settings-connect-options,
.music-settings-login .music-settings-login-options {
	display: inline-block;
	}
.music-settings-login-error-msg,
.music-settings-system-error-msg,
.music-settings-login-options,
.music-settings-login .music-settings-connect-options {
	display: none;
	}
.music-settings-login-error .music-settings-login-error-msg,
.music-settings-system-error .music-settings-system-error-msg {
	display: block;
	}