.ljshare-container {
    position: absolute;
    border: 1px solid #555;
    -moz-border-radius: 4px;
    background-color: #fff;
    padding: 0.1em;
    line-height: 1.3em;
}

.ljshare-service-list li {
    border: 1px solid #fff;
    padding: 0.1em;
}

.ljshare-service-list li:hover {
    background-color: #eee;
    border: 1px solid #bbb;
    -moz-border-radius: 2px;
    cursor: pointer;
}
