table td {
	vertical-align: top;
	}

#SMS_Setup {
	padding: 1em 0 0 1em;
	margin: 0 0 1em 0;
	}

	#SMS_Setup span.Label {
		font-weight: bold;
		}
		
	#SMS_Setup td {
		vertical-align: top;
		padding: .4em 0;
		}
	
#SMS_Quota {
	padding: 1em 0 0 1em;
	margin: 0 0 1em 0;
	}
	
	#SMS_Quota span.Label {
		font-weight: bold;
		}
	
		#SMS_Quota div.Note {
			font-weight: normal;
			font-size: 90%;
		}
	
	#SMS_Quota td {
		vertical-align: top;
		padding: .2em;
		}
		
		.ampdbranding {
			position: relative;
			background: #000;
			color: #fff;
			padding: .5em 0 .5em .5em;
			margin: 1em 0 1em 0;
			}

			.ampdbranding .logo {
				position: absolute;
				right: 0;
				bottom: -32px;
				}

			.ampdbranding a {
				color: #fff;
				}