<div class="l-body">
    <div class="b-catalogue">
        <div class="l-aside">    
            <TMPL_INCLUDE menu.tmpl> 
        </div>
        <div class="l-content">
            <TMPL_INCLUDE communities.tmpl>
        </div>
        <div class="l-content">
            <TMPL_INCLUDE recent_posts.tmpl>
        </div>
        <div class="l-sidebar">
            <TMPL_INCLUDE sidebar.tmpl>
        </div>
    </div>
</div>


