<TMPL_IF communities>
    <!-- paging -->
    <TMPL_IF page_first><a href="<TMPL_VAR page_first>">first</a><TMPL_ELSE>first</TMPL_IF>
    <TMPL_IF page_prev><a href="<TMPL_VAR page_prev>">prev</a><TMPL_ELSE>prev</TMPL_IF>
    &nbsp;<TMPL_VAR page>/<TMPL_VAR pages>&nbsp;
    <TMPL_IF page_next><a href="<TMPL_VAR page_next>">next</a><TMPL_ELSE>next</TMPL_IF>
    <TMPL_IF page_last><a href="<TMPL_VAR page_last>">last</a><TMPL_ELSE>last</TMPL_IF>

    <ul class="b-catalogue-list">
        <TMPL_LOOP communities>
            <li class="b-catalogue-item">
                <dl>
                    <dt class="b-catalogue-item-name"><TMPL_VAR journal_name></dt>
                    <dd class="b-catalogue-item-userpic"><TMPL_IF userpic><TMPL_VAR userpic><TMPL_ELSE><TMPL_VAR userpic></TMPL_IF></dd>
                    <dd class="b-catalogue-item-ago"><TMPL_VAR updated_ago></dd>
                    <dd class="b-catalogue-item-desc">
                        <h4><TMPL_VAR journal_title></h4>
                        <p><TMPL_VAR journal_subtitle></p>
                        <ul class="b-catalogue-item-action">
                            <li><form action="/community/join.bml" method="GET"><input type="hidden" name="comm" value="<TMPL_VAR journal_user>"><input type="submit" value="Join"  /></form><a href="/community/join.bml?comm=<TMPL_VAR journal_user>">fdsfjdaf</a></li>
                            <li><form action="/friends/add.bml"><input type="hidden" name="user" value="<TMPL_VAR journal_user>"><input type="submit" value="Watch"  /></form></li>
                        </ul>
                    <dd>
                </dl>
            </li>
        </TMPL_LOOP>
    </ul>
<TMPL_ELSE>
    <p>No communities in this category yet</p>
</TMPL_IF>
