<TMPL_VAR nav_line><br /><br />

<table>
<tr>
<td valign='top'>

<!-- left column -->

<TMPL_INCLUDE menu.tmpl>        <!-- Left menu (aka shop-like) -->

</td>
<td valign='top'>

<!-- center column -->

<TMPL_INCLUDE communities.tmpl> <!-- A list of communities -->

</td>
<td valign='top'>

<!-- right column -->

<TMPL_INCLUDE sidebar.tmpl> <!-- Other stuff -->

</td>
<tr>
</table>

