<ul class="m-section">
    <TMPL_LOOP categories>
        <li class="m-section-item"><i class="m-switch"></i><TMPL_VAR name>
            <TMPL_IF level1>
                <ul class="m-section-list">
                    <TMPL_LOOP level1>
                        <li><tmpl_if is_selected><strong><TMPL_VAR name></strong><tmpl_else><a href="<tmpl_var url>"><TMPL_VAR name></a></tmpl_if>
                            <TMPL_IF level1>
                                <ul class="m-section-list">
                                    <TMPL_LOOP level2>
                                        <li><tmpl_if is_selected><strong><TMPL_VAR name></strong><tmpl_else><a href="<tmpl_var url>"><TMPL_VAR name></a></tmpl_if></li>
                                    </TMPL_LOOP>
                                </ul>
                             </TMPL_IF>
                         </li>
                     </TMPL_LOOP>
                 </ul>
            </TMPL_IF>
        </li>
    </TMPL_LOOP>
</ul>

