<TMPL_IF expr="post_pages gt 1">
	<ul class="b-nav-counter b-nav-counter-top">
		<li class="b-nav-counter-first"><TMPL_IF post_page_first><a href="<TMPL_VAR post_page_first>" title="<TMPL_VAR expr="ml('widget.browse.page.first')">"><i><TMPL_VAR expr="ml('widget.browse.page.first')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.first')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-prev"><TMPL_IF post_page_prev><a href="<TMPL_VAR post_page_prev>" title="<TMPL_VAR expr="ml('widget.browse.page.previous')">"><i><TMPL_VAR expr="ml('widget.browse.page.previous')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.previous')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-pages"><TMPL_VAR post_page>/<TMPL_VAR post_pages></li>
		<li class="b-nav-counter-next"><TMPL_IF post_page_next><a href="<TMPL_VAR post_page_next>" title="<TMPL_VAR expr="ml('widget.browse.page.next')">"><i><TMPL_VAR expr="ml('widget.browse.page.next')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.next')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-last"><TMPL_IF post_page_last><a href="<TMPL_VAR post_page_last>" title="<TMPL_VAR expr="ml('widget.browse.page.last')">"><i><TMPL_VAR expr="ml('widget.browse.page.last')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.last')"></i></span></TMPL_IF></li>
	</ul>
</TMPL_IF>


<tmpl_loop posts>
<tmpl_unless is_vertical_selected><tmpl_if vertical_name><h2 class="title"><a href="<tmpl_var vertical_url>" class="link"><TMPL_VAR expr="ml('widget.browse.more.recent.posts')"></a><tmpl_var vertical_name></h2></tmpl_if></tmpl_unless>
<tmpl_loop vertical_posts>
<ul class="b-catalogue-list b-recent-posts">
	<li class="b-catalogue-item">
		<dl class="b-catalogue-item-header">
			<dt class="b-catalogue-item-subject"><a href="<tmpl_var url_to_post>"><tmpl_var subject><tmpl_if is_subject_trimmed>&hellip;</tmpl_if></a></dt>
			<dd class="b-catalogue-item-userpic"><tmpl_if userpic><img src="<tmpl_var userpic>" alt=""><tmpl_else><img src="/img/profile_icons/user.gif" alt=""/></tmpl_if></dd>
            <tmpl_if posted_to><dd class="b-catalogue-item-author">Posted in: <TMPL_VAR posted_to> </dd></tmpl_if>
			<tmpl_if poster><dd class="b-catalogue-item-author">Posted <TMPL_VAR posted_ago> by <TMPL_VAR poster> </dd></tmpl_if>
			<tmpl_if tags><dd class="b-catalogue-item-tags">Tags: <tmpl_loop tags><tmpl_unless __first__>,&nbsp;</tmpl_unless><tmpl_var tag></tmpl_loop></dd></tmpl_if>
			<tmpl_if mood><dd class="b-catalogue-item-mood">Mood: <tmpl_var mood></dd></tmpl_if>
			<tmpl_if music><dd class="b-catalogue-item-music">Music: <tmpl_var music></dd></tmpl_if>
			<tmpl_if location><dd class="b-catalogue-item-location">Location: <tmpl_var location></dd></tmpl_if>
		</dl>
		<div class="b-catalogue-item-desc">
			<tmpl_if photo_for_post><img src="<tmpl_var photo_for_post>" class="pic" alt="<tmpl_var subject>"></tmpl_if>
			<tmpl_var post_text>
			<tmpl_if is_need_more><p class="readmore">(<a href="<tmpl_var url_to_post>"><TMPL_VAR expr="ml('widget.browse.read.more')"></a>)</p></tmpl_if>
		</div>
		<ul class="b-share">
			<li class="b-share-fb"><a href="http://facebook.com/sharer.php?u=<tmpl_var expr="eurl(url_to_post)">" target="_blank">"><TMPL_VAR expr="ml('widget.browse.share.facebook')"></a></li>
			<li class="b-share-twitter"><a href="http://twitter.com/share?url=<tmpl_var expr="eurl(url_to_post)">&text=<tmpl_var expr="eurl(subject)">" target="_blank"><TMPL_VAR expr="ml('widget.browse.share.twiiter')"></a></li>
            <tmpl_if expr="lj_enabled('sharing')">
                <li class="b-share-sharethis"><a href="#"><TMPL_VAR expr="ml('widget.browse.share')"></a><tmpl_var sharing_js></li>
            </tmpl_if>
			<li class="b-share-email"><a href="javascript:void(0);"><TMPL_VAR expr="ml('widget.browse.share.mail')"></a></li>
			<li class="b-share-fb-like"><iframe src="http://www.facebook.com/plugins/like.php?href=<tmpl_var expr="eurl(url_to_post)">&amp;layout=button_count&amp;show_faces=true&amp;width=150&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
		</ul>
        <tmpl_if expr="lj_enabled('sharing')">
            <script type="text/javascript">
            (function() {
                var ul = jQuery('ul:last');
                LJShare.entry( {url:'<tmpl_var url_to_post>', title: '<tmpl_var expr="ejs(subject)">'} )
                    .attach( ul.find('.b-share-email a'), 'email' )
                    .attach( ul.find('.b-share-fb a'), 'facebook' )
                    .attach( ul.find('.b-share-twitter a'), 'twitter' );
            }());
            </script>
        </tmpl_if>
		<p class="b-catalogue-item-comments"><span class="b-catalogue-comments-count"><a href="<tmpl_var url_to_post>#comments"><tmpl_var comments_count> <TMPL_VAR expr="ml('widget.browse.comments')"></a> |</span> <a href="<tmpl_var url_to_post>?mode=reply"><TMPL_VAR expr="ml('widget.browse.leave.comment')"></a></p>
	</li>
</ul>
</tmpl_loop>
</tmpl_loop>

<TMPL_IF expr="post_pages gt 1">
	<ul class="b-nav-counter">
		<li class="b-nav-counter-first"><TMPL_IF post_page_first><a href="<TMPL_VAR post_page_first>" title="<TMPL_VAR expr="ml('widget.browse.page.first')">"><i><TMPL_VAR expr="ml('widget.browse.page.first')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.first')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-prev"><TMPL_IF post_page_prev><a href="<TMPL_VAR post_page_prev>" title="<TMPL_VAR expr="ml('widget.browse.page.previous')">"><i><TMPL_VAR expr="ml('widget.browse.page.previous')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.previous')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-pages"><TMPL_VAR post_page>/<TMPL_VAR post_pages></li>
		<li class="b-nav-counter-next"><TMPL_IF post_page_next><a href="<TMPL_VAR post_page_next>" title="<TMPL_VAR expr="ml('widget.browse.page.next')">"><i><TMPL_VAR expr="ml('widget.browse.page.next')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.next')"></i></span></TMPL_IF></li>
		<li class="b-nav-counter-last"><TMPL_IF post_page_last><a href="<TMPL_VAR post_page_last>" title="<TMPL_VAR expr="ml('widget.browse.page.last')">"><i><TMPL_VAR expr="ml('widget.browse.page.last')"></i></a><TMPL_ELSE><span><i><TMPL_VAR expr="ml('widget.browse.page.last')"></i></span></TMPL_IF></li>
	</ul>
</TMPL_IF>	 

