<div class="appwidget appwidget-featuredposts">
<div class="right-mod">
<div class="mod-tl">
<div class="mod-tr">
<div class="mod-br">
<div class="mod-bl">
	<div class="w-head">
		<h2><span class="w-head-in">Featured posts</span></h2>
		<i class="w-head-corner"></i>
	</div>
	<div class="w-content">
		<ul class="b-posts">
			<tmpl_loop top_posts>
			<li<tmpl_if __last__> class="last"</tmpl_if>>
				<dl>
					<dt><tmpl_if userpic><img src="<tmpl_var userpic>" alt=""/><tmpl_else><img src="/img/profile_icons/user.gif?v=14273" alt=""/></tmpl_if></dt>
					<dd>
						<h3 class="b-posts-head"><a href="<tmpl_var url_to_post>"><tmpl_var subject></a></h3>
						<p class="b-posts-data"><tmpl_var ljuser><i class="i-posts-delimiter"> | </i><i class="i-posts-comments"><a href="<tmpl_var url_to_post>"><tmpl_var comments_count> comments</a></i></p>
					</dd>
				</dl>
			</li>
			</tmpl_loop>
		</ul>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
