
/* The default portal stylesheet. By Mischa Spiegelmock, 2005 */
/* featuring added sexiness by Andy Mai.                      */


/*--------------------------- Global -------------------------*/


#PortalColL {
	width: 68%;
	float: left;
	margin: 0px;
  	}

#PortalColR {
	width: 30%;
	float: right;
	margin: 0px;
	}

img {
	border: 0px;
  	}
  
#Content h1 {
	display: inline;
	}

.PortalFaqLink {
        display: inline;
 }

/*------------------------ End Global ------------------------*/
 
 
 
/*-------------------- Configuration Menus -------------------*/ 
 
 
.DropDownMenu {
	background-color: #AACCFF;
	z-index: 2;
	position: absolute;
	overflow: hidden;
	display: none;
	font-size: small;
	width: 400px;
	padding: 0px;
	border: 2px solid #003366;
	}
	
.DropDownMenu br {
	display: none;
	}
	
.BoxDescription {
	background-color: #fff;
	padding: 2px;
	font-size: 10px;
	font-style: italic;
	}
	
.DropDownMenuContent {
	margin: 0;
	}
	
.DropDownMenuContent table tbody tr td a:link {
	display: block;
	width: 100%;
	color: #336699;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}
	
.DropDownMenuContent table br {
	display: none;
	}
  
.PortalFenster {
	border: 2px solid #003366;
	padding: 2px;
	margin: 0px;
	z-index: 1;
	position: absolute;
	background-color: #fff;
	font-size: 10px;
	width: 300px;
	height: auto;
	}

.PortalFenster img {
	_margin-top: -15px;
	float: right;
	}
	

	
.PortalPatternedTitleBar span {
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	color: #fff !important;
	font-weight: bold;
	font-family: Arial, Verdana, san-serif;
	}
	
.PortalTitleBarText {
	color: #fff;
	}
	
.PortalResetAllButton {
	margin: 0;
	padding: 0;
	}

.PortalFensterContent {
	display: table;
	padding: 0px;
	width: 298px;
	_width: 300px;
	font-size: 8px;
	color: #000;
	}
	
.PortalBoxConfigContent div {
	font-size: 10px;
	padding: 2px;
	}
	
.PortalConfigSubmitButtons {
	display: block;
	margin-top: 20px;
	margin-bottom: 0px;
	width: 294px;
	background-color: #ccc;
	padding: 1px;
	border: 1px solid #999;
	}
	
.PortalConfigResetButton a:link {
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	float: right;
	margin: 4px 5px 0px 0px;
	font-weight: bold;
	}
	
.PortalConfigResetButton a:hover {
	color: #666;
	}


.PortalFensterResButton {
	display: none;
	}

.PortalFensterBarMaxButton {
	display: none;
	}

 
 
/*----------------------- Module Styling ----------------------*/

.PortalBox {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 1px;
	border-bottom: 2px solid #bbb;
	border-right: 1px solid #ccc;
	}


	
.PortalBoxTitleText {
	display: table-cell;
	vertical-align: middle;
	position: static;
	font-weight: bold;
	font-family: arial, verdana, sans-serif;
	padding: 0 0 0 5px;
	}
	
.PortalBoxMoveButtons {
	display: inline;
	_margin-top: -15px; /* Lame IE hack to fix positioning - need to find a better workaround */
	float: right;
	width: 120px;
	margin-right: 2px;
	}
	
.PortalBoxMoveButtons a {
	float: right;
	margin-left: 2px;
	}
	
	
.PortalBoxMoveButtons:hover {
	visibility: visible;
	}
	
.PortalBoxContent {
	padding: 2px;
	width: 100%;
	margin: 0 auto;
	font-family: Verdana, Arial, sans-serif;
	background-color: #fff;
	}
	

  
.PortalBoxContent a:hover {
	color: #003366;
	}
	

 /*--------------------- End Module Styling ---------------------*/ 
 
 
 /*------------------ Specific Module Stylings ------------------*/
 
 
 /*--- Update Journal --*/
 
 .UpdateBoxSubject {
 	width: 99%;
 	}
 	
 .UpdateBoxEvent {
 	width: 99%;
 	}

/*--- Account Management --*/


	
/*------- Announcements ------*/

.Announcements {
	padding: 1px 0px 0px 0px !important;
	}
 
	
.Announcements table {
	width: 100%;
	}
	
.Announcements table tbody tr td {
	font-family: arial, verdana, san-serif;
	font-size: 10px;
	color: #000;
	padding: 3px;
	border-spacing: 0;
	border-collapse: separate;
	}
	
.ljuser a:link {
	display: inline !important;
	}
	
.Announcements table tbody tr td a:link {
	display: block;
	width: 100%;
	}
	
.AnnouncementRow1 {
	background-color: #fff;
	}
	
	
	
.AnnouncementRow1:hover a, .AnnouncementRow2:hover a {
	color: #fff;
	}
 
 /*------- Recent Comments ------*/
 
 .RecentCommentTitle {
 	font-weight: bold;
 	font-size: 10px;
 	color: #003366;
 	}
 	
 .RecentCommentDate {
 	font-size: 9px;
 	color: #ccc;
 	}
 	
 .RecentCommentItem {
 	font-style: italic;
 	font-size: 10px;
 	padding: 5px 0 0 5px;
 	background-color: #fff;
 	color: #003366;
 	border-top: 1px solid #C5DFF9;
 	}
 	
 .RecentCommentLinks {
 	background-color: #;
 	padding: 2px 5px 2px 2px;
 	text-align: right;
 	font-size: 10px;
 	font-style: normal;
 	color: #fff;
 	margin-top: 5px;
 	margin-left: -5px;
 	border-bottom: 1px solid #ccc;
 	}
 	
 .RecentCommentLinks a {
 	font-size: 9px !important;
 	}
 	
  /*------- To Do ------*/

 .Todo h2 {
 	font-size: 12px;
 	margin-right: 10px;
 	font-weight: bold;
 	display: inline;
 	}
  
 .Todo table {
 	width: 100%;
 	}
  
 .Todo td {
  	font-size: 10px;
  	border-right: 1px solid #ccc;
  	color: #003366;
  	background-color: #EDF4FD;
  	}
  	
 .Todo td b {
 	color: #003366;
	}
	
	
 .Todo td font {
  	font-size: 10px;
  	}
  	
 	
 .Todo td a b:hover {
 	color: #003366 !important;
 	}
 	
 /*------- PopWithFriends ------*/
 
 .PopWithFriends {
 	padding: 3px;
 	}
 
 .PopWithFriendsHeader {
 	font-size: 10px;
 	}
 
 .PopWithFriends td {
 	font-size: 10px;
 	}
 	
 .PopWithFriends table td {
 	text-align: left;
 	}
 	
 
 	
 /*------- Text Message ------*/
 
.TextMessage {
	padding: 3px;
	}
 
.TextMessage p {
	font-size: 10px;
	}
	
.tmform {
	font-size: 10px;
	width: 90%;
        display: none;
        margin-left: auto;
        margin-right: auto;
	}
	
.TextMessage input {
	display: inline;
	font-size: 10px;
	}
	
.TextMessageDisclaimer {
	font-size: 8px;
	margin-top: 3px;
	}
	
 /*------- New User ------*/
 
 .NewUserBlurb {
 	font-size: 11px !important;
 	font-style: italic;
 	}
 	
 .NewUser td {
 	font-size: 10px;
 	}
 	
 .NewUserMoreLink {
 	position: relative;
 	text-align: right;
 	margin-right: 5px;
 	
 	
 .NewUser {
 	padding: 5px 5px 5px 5px;
 	}
 	
 /*------- Frank ------*/
 
.Frank img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
 	
/*------- Manage Friends ------*/
  
	
.Friends br {
	display: none;
	}
  
.FriendsCurrentTitle {
  	font-size: 10px !important;
  	font-weight: bold !important;
  	margin-bottom: 5px;
  	}
  	
.FriendsList {
	margin-bottom: 10px;
	font-size: 10px;
	}
	
/*------- Account Status ------*/
	
.standout table {
	background-color: #fff !important;
	border: 0px solid !important;
	width: 100% !important;
}


/*------- Friends Page ------*/

.FriendsPageTitle {
	font-size: 10px;
	font-weight: bold;
	}
	
.FriendsPageEntry {
	font-size: 10px !important;
	margin-bottom: 5px;
	}
	
	
.Birthdays table td {
	text-align: left;
	}
