/* The default portal stylesheet. By Mischa Spiegelmock, 2005
   featuring added sexiness by Andy Mai.                      

   This is the main global stylesheet for portal. It contains
   all the layout, positioning, and font attributes.          */



/*--------------------------- Global -------------------------*/

#PortalColL {
	width: 68%;
	float: left;
	margin: 0px;
  	}

#PortalColR {
	width: 30%;
	float: right;
	margin: 0px;
	}

img {
	border: 0px;
  	}
  
#Content h1 {
	display: inline;
	}

.PortalFaqLink {
        display: inline;
 }

/*------------------------ End Global ------------------------*/
/*------------------------------------------------------------*/
 
 
 
 
/*-------------------- Configuration Menus -------------------*/ 
 
.DropDownMenu {
	z-index: 2;
	position: absolute;
	overflow: hidden;
	display: none;
	font-size: small;
	width: 400px;
	padding: 0px;
	}
	
.DropDownMenu br {
	display: none;
	}
	
.BoxDescription {
	padding: 2px;
	font-size: 10px;
	font-style: italic;
	}
	
.DropDownMenuContent {
	margin: 0;
	}
	
.DropDownMenuContent table tbody tr td a:link {
	display: block;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	}
	
.DropDownMenuContent table br {
	display: none;
	}
	
.DropDownMenuContent table tbody tr td {
	margin: 0px;
    padding: 0px;
	}
	
.PortalFenster {
	padding: 2px;
	margin: 0px;
	z-index: 1;
	position: absolute;
	font-size: 10px;
	width: 300px;
	height: auto;
	}

.PortalFenster img {
	_margin-top: -15px;
	float: right;
	}
	
.PortalPatternedTitleBar {
	display: table;
	width: 100%;
	_margin-right: 1px;
	padding: 2px 0px 2px 2px;
	}
	
.PortalBoxTitleBar {
	display: table;
	width: 100%;
	padding: 2px;
	height: 15px;
	font-size: 12px;
	clear: both;
	}
	
.PortalPatternedTitleBar span {
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	font-weight: bold;
	font-family: Arial, Verdana, san-serif;
	}
	
.PortalResetAllButton {
	margin: 0;
	padding: 0;
	}

.PortalFensterContent {
	display: table;
	padding: 0px;
	width: 298px;
	_width: 300px;
	font-size: 8px;
	}
	
.PortalBoxConfigContent div {
	font-size: 10px;
	padding: 2px;
	}
	
.PortalConfigSubmitButtons {
	display: block;
	margin-top: 20px;
	margin-bottom: 0px;
	width: 294px;
	padding: 1px;
	}
	
.PortalConfigResetButton a:link {
	vertical-align: middle;
	text-decoration: none;
	float: right;
	margin: 4px 5px 0px 0px;
	font-weight: bold;
	}

.PortalFensterResButton {
	display: none;
	}

.PortalFensterBarMaxButton {
	display: none;
	}
#PortalConfigMenuBar { width: 100%; }
#AddPortalMenuButtonImage {
        margin-left: 30%;
        margin-right: auto;
}

/*------------------ End Configuration Menus -----------------*/
/*------------------------------------------------------------*/
 
 
 
/*------------------ General Module Styling ------------------*/

.PortalBox {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px;
	}
	
.PortalBoxTitleText {
	display: table-cell;
	vertical-align: middle;
	position: static;
	font-weight: bold;
	font-family: arial, verdana, sans-serif;
	padding: 0 0 0 5px;
	}
	
.PortalBoxMoveButtons {
	display: inline;
	_margin-top: -15px; /* Lame IE hack to fix positioning - need to find a better workaround */
	float: right;
	width: 120px;
	margin-right: 2px;
	}
	
.PortalBoxMoveButtons a {
	float: right;
	margin-left: 2px;
	}
	
.PortalBoxMoveButtons:hover {
	visibility: visible;
	}
	
.PortalBoxContent {
	padding: 2px;
	width: 100%;
	margin: 0 auto;
	font-family: Verdana, Arial, sans-serif;
	}
	
.PortalBoxContent a:link, .PortalBoxContent a:visited {
	font-size: 10px;
	text-decoration: none; 
	font-weight: bold;
 	}
	

 /*---------------- End General Module Styling ----------------*/ 
 /*------------------------------------------------------------*/
 
 
 
 
 /*------------------ Specific Module Stylings ------------------*/
 /*																 */
 /*                This is where the magic happens.				 */
 /*																 */
 /*--------------------------------------------------------------*/
 
 
 /*------------------------ Update Journal ----------------------*/
 
 .UpdateBoxSubject {
 	width: 99%;
 	}
 	
 .UpdateBoxEvent {
 	width: 99%;
 	}

/*----------------------- Account Management --------------------*/

 .Manage table a {
	line-height: 150%;
	padding-left: 3px;
	}
	
/*------------------------- Announcements -----------------------*/

.Announcements {
	padding: 1px 0px 0px 0px !important;
	}
	
.PortalTableHeader td {
	padding: 2px;
	font-size: 9px !important;
	font-weight: bold !important;
	text-transform: uppercase;
	}
	
.Announcements table {
	width: 100%;
	}
	
.Announcements table tbody tr td {
	font-family: arial, verdana, san-serif;
	font-size: 10px;
	padding: 3px;
	border-spacing: 0;
	border-collapse: separate;
	}
	
.ljuser a:link {
	display: inline !important;
	}
	
.Announcements table tbody tr td a:link {
	display: block;
	width: 100%;
	}
	
 
/*----------------------- Recent Comments ----------------------*/
 
 .RecentCommentTitle {
 	font-weight: bold;
 	font-size: 10px;
 	}
 	
 .RecentCommentDate {
 	font-size: 9px;
 	}
 	
 .RecentCommentItem {
 	font-style: italic;
 	font-size: 10px;
 	padding: 5px 0 0 5px;
 	}
 	
 .RecentCommentLinks {
 	padding: 2px 5px 2px 2px;
 	text-align: right;
 	font-size: 10px;
 	font-style: normal;
 	margin-top: 5px;
 	margin-left: -5px;
 	}
 	
 .RecentCommentLinks a {
 	font-size: 9px !important;
 	}
 	
 	
 /*------------------------ PopWithFriends ---------------------*/
 
 .PopWithFriends {
 	padding: 3px;
 	}
 
 .PopWithFriendsHeader {
 	font-size: 10px;
 	}
 
 .PopWithFriends td {
 	font-size: 10px;
 	}
 	
 .PopWithFriends table td {
 	text-align: left;
 	}
 	
 
 	
 /*------------------------- Text Message -----------------------*/
 
.TextMessage {
	padding: 3px;
	}
 
.TextMessage p {
	font-size: 10px;
	}
	
.tmform {
	font-size: 10px;
	width: 90%;
    display: none;
    margin-left: auto;
    margin-right: auto;
	}
	
.TextMessage input {
	display: inline;
	font-size: 10px;
	}
	
.TextMessageDisclaimer {
	font-size: 8px;
	margin-top: 3px;
	}
	
 /*--------------------------- New User --------------------------*/
 
 .NewUserBlurb {
 	font-size: 11px !important;
 	font-style: italic;
 	}
 	
 .NewUser td {
 	font-size: 10px;
 	}
 	
 .NewUserMoreLink {
 	position: relative;
 	text-align: right;
 	margin-right: 5px;
 	}
 	
 .NewUser {
 	padding: 5px 5px 5px 5px;
 	}
 	
 /*---------------------------- Frank -----------------------------*/
 
.Frank img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
 	
/*------------------------ Manage Friends -------------------------*/
  
	
.FriendsList br {
	display: none;
	}
  
.FriendsCurrentTitle {
  	font-size: 10px !important;
  	font-weight: bold !important;
  	margin-bottom: 5px;
  	}
  	
.FriendsList {
	margin-bottom: 10px;
	font-size: 10px;
	}
	
/*------------------------ Account Status -------------------------*/
	
.standout table {
	width: 100% !important;
}


/*------------------------- Friends Page --------------------------*/

.FriendsPageTitle {
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
	}
	
.FriendsPageEntry {
	margin: 0 10px 0 10px;
	}
	
.PortalFriendsPageSubject {
	font-weight: bold;
	font-size: 10px;
	}
	
.PortalFriendsPageEntry {
	font-size: 10px;
	}
	
.PortalFriendsPageLinks {
	margin-bottom: 10px;
	}

.PortalFriendsPagePoster {
        margin: 0px;
        padding: 0px;
        vertical-align: bottom;
}
	
/*----------------------- Friends Birthdays -----------------------*/
	
.Birthdays table td {
	text-align: left;
	}
