<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><TMPL_VAR title> - S2 Designer</title>
<TMPL_VAR headextra>
<script type="text/javascript"><!--
    var s2docBaseURL = "<TMPL_VAR s2doc>";
// -->
</script>
</head>
<body onMouseMove="s2processDrag(event)" onMouseUp="s2endDrag(event)">
<TMPL_INCLUDE ../Widgets/layereditor.tmpl>
</body>
</html>

