<div class="b-identity">
<ul class="m-auth">
    <TMPL_LOOP types>
        <TMPL_IF expr="type eq current_type">
            <li class="m-auth-item m-auth-<TMPL_VAR type> current"><a href="?type=<TMPL_VAR type>"><span><TMPL_VAR ml_tab_heading></span></a><i class="m-auth-bl"></i><i class="m-auth-br"></i></li>
        <TMPL_ELSE>
            <li class="m-auth-item m-auth-<TMPL_VAR type>"><a href="?type=<TMPL_VAR type>"><span><TMPL_VAR ml_tab_heading></span></a><i class="m-auth-bl"></i><i class="m-auth-br"></i></li>
        </TMPL_IF>
    </TMPL_LOOP>
</ul>
<ul class="b-auth">
    <TMPL_LOOP types>
        <TMPL_IF expr="type eq current_type">
            <li id="tab-<TMPL_VAR type>" class="b-auth-item">
        <TMPL_ELSE>
            <li id="tab-<TMPL_VAR type>" class="b-auth-item" style="display:none">
        </TMPL_IF>
            <form action="" method="post">
                <input type="hidden" name="type" value="<TMPL_VAR type>">
                <TMPL_INCLUDE expr="sprintf('templates/Identity/Login-%s.tmpl', type)">
            </form>
        </li>
    </TMPL_LOOP>
</ul>
</div>

<script type="text/javascript">
    jQuery(function($) {
        $(".m-auth a").click(function(e) {
            e.preventDefault();

            var type = $(this).attr("href").replace(/.*type=/, "");

            $(".m-auth-item").removeClass("current");
            $(".b-auth-item").hide();
            $(this).parent('li').addClass("current");
            $("#tab-" + type).show();
        });
    });
</script>

