/* Horizon
--------------------------------------*/
/* Logged-in */
.logged-in #navigation {
	background:#040404 url(/img/reskining/halloween09/halloween09-hor-in.jpg?v=1) 100% 0 no-repeat;
	min-width:840px;
	}
.logged-in #Logo A {
	position:relative;
	left:-145px;
	width:220px;
	}

/* Logged-out */
.logged-out #navigation {
	background:#040404 url(/img/reskining/halloween09/halloween09-hor-out.jpg?v=1) 0 0 no-repeat;
	}
.logged-out #Logo A {
	width:250px;
	}

/* Lanzelot
--------------------------------------*/
#header {
	background:#040404 url(/img/reskining/halloween09/halloween09-lanz.jpg?v=1) 0 0 no-repeat;
	}
	#header .logo,
	#header .logo A,
	#header .logo SPAN {
		background:none;
		width:225px !important;			
		}
#header .login-tl {
	background: #040404;
	}
