.comment .comment-replies {
    margin-left: 30px;
}
.comment .comment-header {
    margin-left: 10px;
    margin-right: 10px;
}
.comment .comment-userpic, .entry .entry-userpic {
    float: right;
    margin: 5px;
}
.comment .comment-content, .entry .entry-content, .entry .entry-body {
    clear: none;
}
#ad-5linkunit {
    clear: both;
}
#ad-leaderboard {
    margin-bottom: 10px;
}
#commenttext, #subject {
    width: 90%;
}
