.comment .comment-replies {
    margin-left: 30px;
}
.comment .comment-header {
    margin-left: 10px;
    margin-right: 10px;
}
.comment .comment-userpic, .entry .entry-userpic {
    float: right;
    margin: 5px;
    text-align: right;
}
.entry-userpic {
    z-index: 1;
}
.comment .comment-content, .entry .entry-content, .entry .entry-body {
    clear: none;
}
.comment .comment-content {
    padding-top: 20px;
}
.metadata {
    margin-bottom: 10px;
}
.ljtags {
    margin-top: 10px;
    margin-bottom: 10px;
}
.poster {
    text-align: center;
    margin: 2px 0 0 0;
    padding: 0;
}
#ad-5linkunit {
    clear: both;
}
#ad-leaderboard {
    margin-bottom: 10px;
}
#commenttext, #subject {
    width: 90%;
}


/* show userpics */

.entry-userpic,
.comment-userpic,
div.entry-userpic,
div.comment-userpic,
div.entry-userpic img,
div.comment-userpic img,
.layout-two-column-right .entry-userpic,
.layout-two-column-right .comment-userpic,
.entry-userpic img,
.comment-userpic img {
    display: inline;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
}

.ljuser img {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

body.layout-three-column #beta img,
body.layout-two-column-left #beta img,
body.layout-one-column #alpha img,
body.layout-two-column-right #alpha img {
    margin: 0;
    padding: 0;
    border: none;
    float: none;
    background: none;
}
body #alpha .b-postform-login-services-item img,
body #beta .b-postform-login-services-item img {
    margin: 0 5px 0 0;
}
body #alpha .b-postform-anonymous .b-postform-login-services-anonymous img,
body #alpha .b-postform-livejournal .b-postform-login-services-livejournal img,
body #alpha .b-postform-user .b-postform-login-services-livejournal img,
body #alpha .b-postform-facebook .b-postform-login-services-facebook img,
body #alpha .b-postform-twitter .b-postform-login-services-twitter img,
body #alpha .b-postform-openid .b-postform-login-services-openid img,
body #alpha .b-postform-mailru .b-poervices-mailru img,
body #beta .b-postform-anonymous .b-postform-login-services-anonymous img,
body #beta .b-postform-livejournal .b-postform-login-services-livejournal img,
body #beta .b-postform-user .b-postform-login-services-livejournal img,
body #beta .b-postform-facebook .b-postform-login-services-facebook img,
body #beta .b-postform-twitter .b-postform-login-services-twitter img,
body #beta .b-postform-openid .b-postform-login-services-openid img,
body #beta .b-postform-mailru .b-poervices-mailru img {
    padding: 1px 20px 1px 6px;
    border: 1px solid #8A8A8A;
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("/img/showmore-login.gif") no-repeat scroll 26px 1px #FFFFFF;
}

